vti_encoding:SR|utf8-nl
vti_author:SR|XP-201104091705\\Administrator
vti_modifiedby:SR|XP-201104091705\\Administrator
vti_timelastmodified:TR|16 May 2014 14:14:06 -0000
vti_timecreated:TR|16 May 2014 14:06:27 -0000
vti_title:SR|对佐伊赛特死后昆茨埃特种种表现的深层剖析
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|jd.htm tzt.htm
vti_nexttolasttimemodified:TW|16 May 2014 14:08:17 -0000
vti_cacheddtm:TX|16 May 2014 14:14:06 -0000
vti_filesize:IR|5480
vti_cachedtitle:SR|对佐伊赛特死后昆茨埃特种种表现的深层剖析
vti_cachedbodystyle:SR|<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
vti_cachedlinkinfo:VX|S|../img/line6661.gif H|../index.html
vti_cachedsvcrellinks:VX|FSUS|img/line6661.gif FHUS|index.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_charset:SR|gb2312
