vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jul 2011 14:21:27 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|jd.htm
vti_author:SR|XP-201104091705\\Administrator
vti_modifiedby:SR|XP-201104091705\\Administrator
vti_timecreated:TR|09 Jan 2010 03:54:00 -0000
vti_title:SR|缇庡皯濂虫垬澹湡浜虹増涔嫔墠涓栦粖鐢熺瘒
vti_nexttolasttimemodified:TR|11 Jul 2011 13:39:30 -0000
vti_cacheddtm:TX|12 Jul 2011 14:21:27 -0000
vti_filesize:IR|11008
vti_cachedtitle:SR|缇庡皯濂虫垬澹湡浜虹増涔嫔墠涓栦粖鐢熺瘒
vti_cachedbodystyle:SR|<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
vti_cachedlinkinfo:VX|S|../img/line6661.gif H|../index.html
vti_cachedsvcrellinks:VX|FSUS|img/line6661.gif FHUS|index.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_charset:SR|gb2312
