vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2011 11:26:22 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|jd.htm
vti_author:SR|XP-201104091705\\Administrator
vti_modifiedby:SR|XP-201104091705\\Administrator
vti_timecreated:TR|30 Jul 2007 23:13:00 -0000
vti_title:SR|鐢卞嚑涓粏鑺傛兂鍒扮殑钬︹€?
vti_nexttolasttimemodified:TR|11 Jul 2011 11:25:35 -0000
vti_cacheddtm:TX|11 Jul 2011 11:26:22 -0000
vti_filesize:IR|4830
vti_cachedtitle:SR|鐢卞嚑涓粏鑺傛兂鍒扮殑钬︹€?
vti_cachedbodystyle:SR|<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
vti_cachedlinkinfo:VX|S|../img/line6661.gif H|mailto:zoisite@263.net H|../index.html
vti_cachedsvcrellinks:VX|FSUS|img/line6661.gif NHUS|mailto:zoisite@263.net FHUS|index.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_charset:SR|gb2312
