vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jul 2011 14:21:27 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|jd.htm
vti_author:SR|XP-201104091705\\Administrator
vti_modifiedby:SR|XP-201104091705\\Administrator
vti_timecreated:TR|30 Jul 2007 23:18:00 -0000
vti_title:SR|镊镄勭埍鎯?
vti_nexttolasttimemodified:TR|11 Jul 2011 11:26:22 -0000
vti_cacheddtm:TX|12 Jul 2011 14:21:27 -0000
vti_filesize:IR|3458
vti_cachedtitle:SR|镊镄勭埍鎯?
vti_cachedbodystyle:SR|<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
vti_cachedlinkinfo:VX|S|../img/line6661.gif H|mailto:gushuda860@sohu.com H|mailto:eternal_asuka@hotmail.com H|mailto:gushuda860@sohu.com H|mailto:eternal_asuka@hotmail.com H|mailto:gushuda860@sohu.com H|../index.html
vti_cachedsvcrellinks:VX|FSUS|img/line6661.gif NHUS|mailto:gushuda860@sohu.com NHUS|mailto:eternal_asuka@hotmail.com NHUS|mailto:gushuda860@sohu.com NHUS|mailto:eternal_asuka@hotmail.com NHUS|mailto:gushuda860@sohu.com FHUS|index.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_charset:SR|gb2312
