<STYLE TYPE="text/css">
<!-- 
BODY,P, TD {font-family: verdana; color:#92A8D6; font-size:xx-small; font-weight:bold;}
BODY {background-attachment:fixed;}
A:link		{color: #92A8D6; text-decoration:none}
A:visited    {color: #92A8D6; text-decoration:none}
A:hover	{color: #92A8D6; text-decoration:line-through;}
A {cursor:default;}
-->
</style>