<STYLE TYPE="text/css">
<!-- 
BODY,P, TD {font-family: tahoma; color:white; font-size:xx-small; font-weight:normal;}
BODY {background-attachment:fixed;}
A:link		{color: #6F81A7; text-decoration:none}
A:visited    {color: #6F81A7; text-decoration:none}
A:hover	{color: #6F81A7; text-decoration:underline and overline;}

BODY{
scrollbar-face-color:black;
scrollbar-base-color:black;
scrollbar-arrow-color:white;
scrollbar-track-color:black;
scrollbar-shadow-color:white;
scrollbar-highlight-color:white;
scrollbar-darkshadow-color:black;
}
.head        {font-family: verdana; font-size:x-small; color: #92A8D6; font-weight: bold;  border: ridge 3 #6F81A7; }
-->
</style>