<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>Sailor Anima-mates</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>      
<p align="center"><b><font size="3">Sailor Anima-mates</font></b></p>       
<p align="center"><font size="2">作者：<a href="mailto:ztjz@yeah.net">素盏</a></font></p>       
<p align="left"><font size="2">英文名：Sailor Anima-mates<br> 
日文名：セーラー·アニマメイツ<br> 
中译名：水手阿尼玛/水手亚尼曼茨<br> 
<br> 
水手阿尼玛是卡拉古夏的手下。<br> 
漫画中水手阿尼玛有五位，原本不是水手战士，但投靠了卡拉古夏，卡拉古夏在毁灭她们的母星，杀死真正的水手战士之后赐给她们力量，使她们成为水手战士。她们出场时间一般不长，和正派对阵一次，很快挂掉，地位也比较低，她们上面还有四位地位高一些的战士。她们内部没有明显的等级，但只有水手海威驻守大本营，似乎更受领导重视一些。<br> 
动画中水手阿尼玛有四位，从铁猫被部分净化这一情节来看，她们似乎曾经都是水手战士，但被卡拉古夏洗脑后收编，另外动画中没有提到她们的母星。她们伪装成人类在地球上展开各种以寻找星宿种子为核心的活动，戏份比起漫画都增加了很多，形象比较饱满，除她们之外卡拉古夏没有别的手下（尽管她曾经释放死亡之月的尼赫蕾尼娅女王与正派们为敌，但这位女王并不像是在她的直接指挥下行事）。她们中的水手红古罗曾被水手阿鲁米娜姆·赛壬和水手铁猫尊称为“大人”，看上去像是个基层干部。<br> 
</font></p> 
<p align="left"><font size="2">******************************************</font></p>
<p align="left"><font size="2">英文名：Sailor Iron Mouse<br> 
日文名：セーラー·アイアン·マウス<br> 
中译名：水手铁鼠<br> 
漫画版中，水手铁鼠是水手阿尼玛中第一个登场的战士。铁鼠的母星是一颗名叫“Chuu”的行星，chuu是一个拟声词，表示老鼠“吱吱”的叫声，不大好翻译，我们这里暂且称为“鼠行星”。铁鼠在三束光的演唱会上登场，攻击在场的正派人物们。铁鼠的绝招“银河啮噬”效果不明，她刚摆好姿势，喊出招式名称，就被水手星之医治者消灭了。<br> 
动画版中，水手铁鼠在卡拉古夏的手下中同样是第一个登场的。铁鼠来到地球上寻找星宿种子，她有了一个人类名字“根津宙子”，并且有了一份看上去正正经经的工作——银河电视台第三制作部监制，在银河电视台有一部“禁止使用”的电梯，铁鼠常常跑到这儿来联络卡拉古夏。她总是保证成功，但实际上失败次数太多，等到卡拉古夏耐心消耗殆尽，就把她杀掉了。<br> 
<br> 
英文名：Sailor Aluminum Siren<br> 
日文名：セーラー·アルミナム·セイレーン<br> 
中译名：水手阿鲁米娜姆·赛壬/水手阿米娜·星莲/水手铝赛连<br> 
漫画版中，水手阿鲁米娜姆·赛壬是水手阿尼玛中第二个登场的战士。阿鲁米娜姆·赛壬的母星是一颗名叫“人鱼”的行星。阿鲁米娜姆·赛壬在十番高中的天台登场，攻击在场的正派人物们。阿鲁米娜姆·赛壬自称“不像铁鼠那么没用”，事实上也的确比铁鼠好点有限，至少还发了一招才挂掉。她的绝招“银河海啸”说穿了不过是喷点水，喷过之后就被永恒的水手月亮消灭了。<br> 
动画中，水手阿鲁米娜姆·赛壬在铁鼠被处决之后接替了她的职位，同样要寻找星宿种子，同样是“银河电视台第三制作部监制”，她的人类名字是“彩玲子”。阿鲁米娜姆·赛壬个性很特别，具体表现为在任何情况下都不忘记礼貌，她有一个兼对头、朋友于一身的同事水手红古罗。阿鲁米娜姆·赛壬与铁鼠一样因失败过多死于卡拉古夏之手，但实际上她死得有点冤，毕竟她对永恒的水手月亮的星宿种子的调查已有了初步成果，如果卡拉古夏有耐心听完她的报告，也许会改变主意也说不定。<br> 
<br> 
英文名：Sailor Lead Crow<br> 
日文名：セーラー·レッド·クロウ<br> 
中译名：水手红古罗/水手红乌/水手蕾多·库洛<br> 
漫画中，水手红古罗是水手阿尼玛中第三个登场的战士。红古罗的母星是一颗名叫“克罗尼斯”的行星，克罗尼斯是希腊神话中的一位公主，太阳神阿波罗的情人，她与乌鸦星座的由来有关。红古罗在火川神社登场，拿着条长鞭威风凛凛的样子，与她来自同一星球的老乡，水手火星的侍从科波斯、迪摩斯怒斥她背叛母星，她用绝招“银河飓风”做了两次攻击，科波斯、迪摩斯命丧黄泉，之后红古罗还将前来救援的水手火星挟持，但最后仍然被永恒的水手月亮消灭。<br> 
动画中，红古罗的人类名字是“乌丸茜”，她常常帮助阿鲁米娜姆·赛壬并责骂她，在阿鲁米娜姆·赛壬死后，她又同铁猫一起工作，两人勾心斗角，总之不太合得来。在铁猫获得了一点点胜利后，红古罗从阿鲁米娜姆·赛壬的日记中找到永恒的水手月亮的真实身份，于是兴冲冲地找上门去，几乎成功时却被铁猫杀了个措手不及，掉进了她自己给水手月亮预备的黑洞。值得一提的是，漫画中红古罗的背上有一对黑色翅膀，但动画中几乎看不到，只有在卡拉古夏面前才显露出来。<br> 
<br> 
英文名：Sailor Tin Nyanko<br> 
日文名：セーラー·ティン·にゃんこ<br> 
中译名：水手铁猫/水手锡猫<br> 
漫画中，水手铁猫是水手阿尼玛中第四个登场的战士，铁猫的母星是一颗名叫“Mau”的行星，同“Chuu”一样是个拟声词，表示猫“喵呜”的叫声，也不好翻译，我们这里暂且称为“咪呜星”。在水手阿尼玛中，只有铁猫拥有人类身份，从这方面来看，她似乎是最聪明一位（她还曾认出三束光是女扮男装，不过同时也被三束光认出是外星人）。她的人类名字是“铃猫子”（或译“铃喵子”），身份是十番高中的转学生，她甚至给自己编了一段经历——因为家里从事贸易，所以有三年时间待在利比亚。来到月野兔班上后，铁猫十分热情地向阿兔套近乎，主动去阿兔家拜访，但被来自同一星球的老乡，月亮公主的侍从露娜和水手金星的侍从亚提密斯识破身份并骂作“猫妖”，于是露出真面目攻击露娜、亚提密斯和赶来助战的黛安娜、永恒的水手月亮。她的绝招“银河傀儡”看上去大致是放出一些光线作为木偶提线来操纵对手，此外她似乎还会分身术和一个攻击性更强的招式，战果就是用这一招先后将三位老乡打伤。铁猫最后被水手星之战斗者击退，回到卡拉古夏面前请求宽恕，但卡拉古夏很干脆地干掉了她。<br> 
动画中，水手铁猫的人类名字和漫画相同，虽然她的同事们都一样有了人类身份，而她似乎只是弄来一身制服穿上混入学校，比转学生还不如，但她仍然显得比她的同事们聪明（或者说狡猾）。她不仅攻击对手还攻击同事，由于她的上窜下跳一系列活动，水手阿鲁米娜姆·赛壬和水手红古罗先后送命，并且她在发明创造方面表现突出，武器自给自足。她曾经被永恒的水手月亮净化了一半，因此患了精神分裂，半正半邪，卡拉古夏或许是无法容忍她一再失败，或许是对精神病人感到腻烦，总之最后宰掉了她。<br> 
<br> 
英文名：Sailor Heavy Metal Papillon<br> 
日文名：セーラー·メタル·パピヨン<br> 
中译名：水手海威/水手海葳儿<br> 
漫画中，水手海威是水手阿尼玛的最后一名战士。海威的母星是一颗名叫“茧”的行星。海威自称是灵魂的狩猎者，她在银河中心附近一个被飞舞的蝴蝶包围的墓地登场，那些蝴蝶都是死去的星星守护者残留的灵魂。海威的绝招“银河天秤”看上去大致是用蚕丝将人缠住后放火烧。海威差点杀死了永恒的水手月亮、水手火球和水手小小，但是最后被突然出现的水手小月亮和亚马逊四重奏消灭。<br> 
水手海威没有在动画中出现过。</font></p> 
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html>