<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>有关贝尔女王出身的无责任猜测</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>      
<p align="center"><b><font size="3">有关贝尔女王出身的无责任猜测</font></b></p>      
<p align="center"><font size="2">作者：<a href="mailto:ztjz@yeah.net">素盏</a></font></p>      
<p align="left"><font size="2">黑暗帝国是《SMOON》中的重要反派组织，其首脑人物美达莉女王和贝尔女王到底是何出身，自然是一个重要的问题。美达莉那个变形虫的问题容后再谈，这里先讨论贝尔。<br>
<br>
贝尔的身份一直很不确定，她是“女王”的话，怎么也要是皇家出身或者篡权夺位吧（而且似乎有人说她就是“地球公主”呢），问题是，当时地球上是统一的国家，如果她是皇家出身，那么她爱上安迪美奥王子的问题就无法解释（暂不考虑“恋兄/弟情结”）；如果是非皇家出身，那么她又是如何认识王子并正确掌握其行踪的呢？综上所述，在下斗胆提出几个可能，一共十种假设：<br>
<br>
猜测Ⅰ：非皇族出身夺位类<br>
假说①：巫师说——贝尔是一个很有本领的占卜师（不好听点叫女巫），而且有可能是国家公职占卜师，是个祭司什么的。<br>
游戏里面贝尔就是一个女巫，如果有公职，那么认识王子应该很容易，并且可以用占卜的方法来调查王子的情况，去北极也没人拦着。本假说理论上能通过，原作也有一定可能是这个意思。<br>
假说②：宫女说——贝尔是王宫中的一名宫女。<br>
有机会认识王子，但行动似乎不是很自由，一个宫女好像不大可能出宫去北极的，而且就她被美达莉控制前的着装……有人相信那是地球王宫宫女的形象么？本假说理论上有说不通的地方，估计原作也不是这个意思。<br>
假说③：朝臣说——贝尔是地球王国的一个官僚，至于怎么当上的，暂时不予考虑。<br>
且不说那个时候男女是否平等的问题，就贝尔的能力来说，她当个大臣应该还可以，有机会认识王子，如果官够高、钱够多的话，也可以建立起情报网来调查王子。本假说理论上基本通过，但……还是那个“男女平等”的问题，贝尔当得了官吗？（也不是绝对不行啦）估计原作不是这个意思。<br>
假说④：官门说——贝尔是某朝臣的女儿，一位官宦小姐。<br>
在一些国家古代，的确有让大臣的女儿入宫服务的事情，比如日本古代的“尚侍”、“典侍”什么的，欧洲国家的话……总也有上流社会的舞会什么的吧，所以如果贝尔是官门出身，应该也有机会认识王子，但如果她是某朝臣的女儿，那她怎么掌握王子的行踪？“大家闺秀”能随便到处跑吗？能瞒着家人偷偷找手下吗？还是这个问题，她怎么去的北极？家人不管吗？所以，本假说理论上有说不通的地方，但原作有可能是这个意思。<br>
假说⑤：平民说——贝尔就是一个普通的平民女子。<br>
认识王子可以是因为机缘巧合，而且也好解释为什么是“暗恋”——地位悬殊嘛！平民有一定的行动自由，北极也不是去不了的。但是，如果她是个普通百姓，到北极去能受得了吗？还有，她怎么能了解王子的动向？本假说理论上没法通过，原作绝对不是这个意思。<br>
假说⑥：外戚说——贝尔家是王国的外戚，和王子虽然有血缘关系，但古代表兄妹/姐弟是可以结婚的。<br>
绝对能认识王子，也有一定的机会能掌握王子的行踪，但还是那个问题：王国外戚，出身名门，大家闺秀，所以，行动不自由！本假说理论上有说不通的地方，但应该还可以弥补（比如她父母双亡孤身一人没人管什么的），原作大概也不是这个意思。<br>
猜测Ⅱ：皇族出身类<br>
假说①：阴暗面说——贝尔在地球的身份类似于月球的死亡之月尼比尔女王，是与“光明面”对立的“阴暗面”的统治者。<br>
如果是这样的话，凭她的超能力就能认识王子并把王子调查清楚了，并且去北极也不费力，可地球和月球不一样，没有“背面”，她住哪？再说她是变坏的，又不是一开始就坏的，本假说理论上说不通，原作更不可能是这个意思。<br>
假说②：养女/义女说——贝尔是地球国王和王后收养的/认的干女儿，是一位“假公主”，还珠格格一类的。<br>
认识王子、掌握王子的行踪都可以，去北极的话……不管是真是假总是公主，也应该有点超能力，还是去得成的。本假说理论上通过，原作也有可能是这个意思。<br>
假说③：“人鱼”说——上古时代的地球分为陆地与海洋两个政权，安迪美奥是陆地王子，贝尔是海洋公主。<br>
这个……我写的同人里面就是采用这种假说的，认识王子可以通过外交活动，掌握王子的行踪可以凭超能力或者让手下调查、去北极也能办到，尤其是北极那一片本来就是海，但原作不应该是这个意思。<br>
假说④：前朝皇族说——安迪美奥王族是推翻了一个皇朝而掌权的，贝尔是前朝的皇族后裔。<br>
这个……根本就是胡说的，且不说“斩草除根”她根本不能能活下来，就是活下来也绝对没有行动自由，而且既然作者那么偏爱公主和王子，不可能让他们的家世有什么污点。<br>
<br>
总结：<br>
理论上能通过的：巫师说、朝臣说、外戚说、养女/义女说、人鱼说<br>
可能是原作的意思的：巫师说、官门说、外戚说、养女/义女说<br>
两方面都可以的：巫师说、外戚说、养女/义女说<br>
<br>
个人感觉最有理有据的：巫师说<br>
个人感觉最喜欢的：人鱼说</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>