<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>八卦♂黑暗王国的诸位成为男♂朋♂友的可能性分析</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center">
<b>
<font size="3">八卦♂黑暗王国的诸位成为男♂朋♂友的可能性分析</font></b></p>
<p align="center"><font size="2">作者：篮子爱学习</font></p>
<p align="left"><font size="2">严肃地玛丽苏YY一下如果选黑暗王国的各位帅哥or性转帅哥当男朋友………………<br>
<br>
全文无节操、无内涵、无证据、全凭LZ喜好<br>
<br>
唔<br>
花痴<br>
在线码<br>
纯属娱乐<br>
认真你就输了<br>
当然依旧KZ王道<br>
含贝利女王的性转<br>
安迪米奥也一并算上<br>
<br>
严肃地玛丽苏YY一下如果选黑暗王国的各位帅哥or性转帅哥当男朋友………………<br>
<br>
全文无节操、无内涵、无证据、全凭LZ喜好<br>
<br>
唔<br>
花痴<br>
在线码<br>
纯属娱乐<br>
认真你就输了<br>
当然依旧KZ王道<br>
含贝利女王的性转<br>
安迪米奥也一并算上</font></p>
<p align="left"><b>杰戴特</b></p>
<p align="left"><font size="2">【硬件设施←喂硬件设施只看脸的吗？】<br>
※脸：帅。动画中不止一次被小兔她们花痴过“好帅的人呀~Luck~~”什么的。花一般的好年华（18岁）金发碧眼的高大（180cm）帅哥总是能引起女性同胞的好感。除此之外强烈的事业心更能让人在花痴之余感叹“工作时候的男人最帅了”。<br>
<br>
【加分项】<br>
※声音迷人：客串DJ时仅凭午夜电台的情诗朗读就俘获了大批少女的芳心。有如此美好声线的恋人，远距离电话恋爱也许就没那么难熬了吧。<br>
※变装爱好者：听起来有点像变态但是杰少每一次变装都是认真的、专业的、值得截图留念的！从巴士司机到主持司仪、健美教练、警卫保安、游轮船长（还细心第把皮肤弄黑造成常年出海的效果）……不但有助于执行任务，更能让广大制♂服爱好者获得愉悦的视觉体验！<br>
<br>
【个性】做事踏实、冷静认真、兢兢业业、不骄不躁、业务素质极高。←等等、这是选男友不是选年度优秀员工。总之年终奖给杰少包个大点的红包就对了~（揍<br>
<br>
【前途】杰少最爱的是工作，最恨的是完不成工作，喜欢的人是能在事业上帮助他的，讨厌的人是工作上扯他后腿的（没有外貌和性别要求真是太棒了啊诸位）。如果你也是事业心重以办公室为家且和杰少属于同一工作单位（黑暗王国），那么不要大意地上吧，美好的办公室恋爱在等着你！当然，行动之前建议好好学习西琪思前辈的经验教训www<br>
<br>
【可能性】攻略杰少至少要先打败“杰戴特大人死忠爱好者协会会长”西琪思。成功之后还得面对“啊他又加班”“啊他又出差”“不跟他谈公事根本见不到面”和“啊好容易见到面了他被封冰里永远沉睡了”——————坑爹呢</font></p>
<p align="left"><b>涅夫莱特</b></p>
<p align="left"><font size="2">【硬件设施】<br>
※脸：帅。动画里一样被称赞过帅气，引起女生尖叫围观。深色大卷更增添了他的异国魅力。虽然也是花一般的好年华（19岁），但成熟帅气的外形绝对是吸引女性的利器，据可靠资料显示某涅的杀伤范围可从女学生波及到主妇，真乃十足的女性杀手。<br>
<br>
【加分项】<br>
※有钱、很有钱：XX运动公司社长啦、开法拉利啦、郊区豪华别墅啦、洋酒爱好者啦。总之就是看起来很有钱。<br>
※星象爱好者：不但不会像一般男性一样吐槽女友爱看星座运势，反而会从专业角度为你的一周运势做出分析（而且铁口直断说一个准一个），认识这样的人（神棍），即使成不了男朋友，当一般朋友也赚到了好吗！<br>
※巧克力冰糕：某涅临死前的巧克力冰糕梗不知刷爆了多少纯情少女的好感度，深情温柔的纯爷们就在眼前，你~还在等什么~<br>
<br>
【个性】<br>
貌似很懂女人心啊看他泡奈留就知道了。情书或者甜言蜜语什么的随手就来。对待一般女性也温柔体贴善解人意，简直是优质男友的不二人选？很个性地跟女王呛声“我是为自己而战”的涅夫莱特也许是个个人主义者，认为人人是为了自己而生。所以一旦遇到一个能为他豁出性命的人，那么陷入情网也是早晚的事了。<br>
<br>
【前途】<br>
业务能力优秀、多金人帅、温柔体贴，真是令人羡慕的现充啊魂淡！只要按着攻略走，拿下不成问题！前提是遇到佐伊赛特绕着走。如果没有完成“为涅夫莱特献出水晶”“从声音识破涅夫莱特各种变装”，别说做女主角攻略了他了，努力让自己的能量达到顶峰等着他来找你还靠谱些~<br>
<br>
【可能性】<br>
因为缺爱所以特别容易被纯洁如白纸的少女攻陷。看起来稍微靠谱一点，因为巧克力冰糕的女主角已经有海野了啊哈哈哈~~攻略涅夫莱特不算特别难，但是要严格按照说明来：决定攻略后要先后完成支线任务诸如“为涅夫莱特献出水晶”“从声音识破涅夫莱特各种变装”“为涅夫莱特挡刀”等，然后就可以看着好感度蹭蹭上涨等着出HE 
CG了~~重点的重点，遇到一个名叫“佐伊赛特”的NPC时，千万不要点他对话，一定要绕着走，不然直接一生一死跳到BE线，气都不带喘的。</font></p>
<p align="left"><b>佐伊赛特</b></p>
<p align="left"><font size="2">【硬件设施】<br>
<br>
※脸：美。画家那集里获得过“好美，不过看起来好危险”（大意）的评价，本身对“美”也有着强烈的追求。玫瑰般美丽而危险，具有介于成人之间的独特魅力。 
当然这么可爱一定是男孩子咯~<br>
<br>
【加分】<br>
※卖萌：爱坐公园的旋转木马、也爱收集水晶，最爱的还是昆茨埃特大人。（好吧这是为了凑字）对敌人冷酷无情机关算尽的他，对亲友却有如春水般温和可爱。无论是对路人妹子横吃飞醋还是用脸颊蹭着爱人的手，巨大反差之下的萌点足以俘获少女芳心。能够看遍小佐各种卖萌撒娇的，所以说K哥好福气啊……<br>
<br>
※女装：对于制服系已经无法满足的特殊爱好者来说，没有什么比穿上女装的美少年更让人血脉贲张的了。和“工作等于穿女装钓凯子”的鱼之目不同，佐伊赛特虽然也有特定的小娇羞play，但日常行为包括着装依然是中规中矩的男子工作服。因此，出乎意料的女装COSPLAY（还是水手服呢）一出，当即俘获了大批（痴汉）粉丝的心。唔，俘获人心的还有白白的胖次（揍）。所以说K哥好福气啊……<br>
<br>
※会漂浮：好吧漂浮虽然不是特殊技但是小佐是唯一一个爱飘在空中的天王。这说明什么！说明可以让人360全方位欣赏他的姿态————从头！到脚！任何部位！所以说K哥好福气啊……<br>
<br>
【个性】<br>
似乎更适合玫瑰园钢琴房这种优雅而美丽的地方。很难想象他和阿遥一样在田径场上挥洒青春或是跟一群老爷们玩暴力摩托。像喵星人一样容易炸毛且需要爱抚的小佐，他的世界其实很简单——只有他和他的昆茨埃特大人。佐伊赛特索取爱、需要温暖，对于在能给他爱与温暖的昆茨埃特，佐伊赛特的做法也很简单——以十倍百倍的爱来回报，必要的时候放弃生命也在所不惜。因此，被小佐爱上是件多么令人幸福的事。所以说K哥好福气啊……（没错人家是一对你别搀和了快看下一条吧）<br>
<br>
【前途】<br>
基于上面的分析，大家显然可以看出能和佐伊赛特做情侣是件多么幸福的事。也许年少时炽热激烈的爱会随着时间的流逝而沉淀内敛，但充满着“爱”的心意却不会改变，反而越加深厚。作为年龄最小却成为四天王之一的佐伊赛特，今后的发展必然不可估量。友情提示一句，直接把那个叫夜礼服假面的家伙打晕快递到月球或者贝利女王那，剩下需要做的，就只是捧着爆米花看佐伊赛特如何完成业绩顺便跟昆茨埃特黏糊了。没错，依然没你啥事。<br>
<br>
【可能性】<br>
你能接受男朋友比你美N倍吗？你能接受男朋友整天念叨别（的男）人的名字吗？你能接受男朋友为了别（的男）人穿女装吗？←好吧这条是凑的。 
在追求之前先回答以上三个问题，之后再做决定吧。攻略难度较大的佐伊赛特也许成不了你的男朋友，但是会成为别人的男朋友。所以，摒弃杂念默默围观美青年×美少年的JQ才是王道。好吧如果你是爷们，也许还有那么丁点希望， 
but Kunzite-sama is watching U.......</font></p>
<p align="left"><b>昆茨埃特</b></p>
<p align="left"><font size="2">【硬件设施】<br>
※脸：黑（…………）好吧，昆茨埃特不但是高黑帅，而且具有其他三人无法匹敌的魅力——他更有一种由阅历锤炼出的“年长者”的气质。心高气傲涅夫莱特和他相比还是略显稚嫩（虽然他也算是看起来成熟的帅哥）所以，“熟男”这种标签可不只是脸长得老就能被贴的上的。除此之外，能让同样身为男性且同样心高气傲的佐伊赛特死心塌地，难道还不能说明问题吗~<br>
<br>
【加分项】<br>
※也许是个走在时尚前沿的人士：当神棍还在根据星相占卜决定当日的目标时，我们的昆茨埃特大人已经知道用DNA分析发质从而找出水手服战士这种高端洋气的作战方式了！在向属下传递信息时更是熟练运用了液晶屏监控器这类看上去很现代化的电子产品。如此紧跟现代生活、贴近时尚脉搏的反派已经很稀少了。<br>
※不羁男儿的穿衣风格：就像耽美小说里描写的“敞开的衣领下露出古铜色的健美胸肌blabla”，昆茨埃特常年衣冠不整，啊不，敞开衣领的穿衣style极好地彰显了他的男性魅力。性感的深色肌肤、壮硕健美的身材、还有时髦值爆表的闷骚披风——多而不杂的流行元素正是超模昆茨埃特走在时尚前沿的有力佐证！（扯远<br>
<br>
【个性】<br>
又一个事业型男人，比起处于创业初期（？）的杰戴特，在职场上摸爬滚打了多年的昆茨埃特则更明白如何一边“你好我好大家好”地完成任务，一边不动声色地达到自己的目标。我们不否认昆茨埃特对待爱人的脉脉温情和谈恋爱时带给对方的种种小惊喜，同时也不用为昆茨埃特没有护住佐伊赛特而玻璃心。那毕竟是童话里才会出现的桥段，作为成年人的昆茨埃特，已经不是为了“爱情”可以抛弃一切的年龄了。不能说他“不爱”，只能说“爱”不是他生命的全部。打个不恰当的比喻，如果杰戴特是“为了事业可以不要爱情”，那么昆茨埃特也许是“为了事业必要的时候会牺牲爱情”，佐伊赛特是“为了爱情从事事业”，涅夫莱特是“从事事业的过程中无意间收获爱情”。<br>
↑突然写成奇怪的东西了orzzzz那干脆多废话两句。关于K哥，虽然有“用银水晶复活佐伊赛特”的原作梗，但在我看来就算没法复活佐伊，同样的场景下K哥还是会选择沉默旁观的（内心如何不得而知）。当然这只是K哥在时机不成熟之际保存能量的方法而已，一旦他的力量足够强大，就算爱人没法复活，K哥也绝对会把相关人员们灭得一干二净报仇。所谓“帝王般沉重的爱”……（以上纯属个人观点欢迎交流（ˉ『ˉ）<br>
<br>
【前途】<br>
找昆茨埃特当对象，前途是灰常光明的。当然，光明的未来需要前期数以万计的努力付出，具体来说：首先要全心全意支持他的事业，包括打击竞争对手和争取升迁，实施细则佐伊赛特可以教你；其次要多情识趣，全身心依靠他，实施细则佐伊赛特可以教你；然后要时刻有为他献出生命的觉悟，实施细则佐伊赛特可以教你…………啥？佐伊赛特都会那你来干啥？对啊你来干啥呢，回家洗洗睡吧，小攻好毕竟是别人家的……<br>
<br>
【可能性】<br>
只要你是一心一意、忠贞不二、美貌过人、温顺听话、率性洒脱、死心塌地、能力优秀、能追随他前世今生上八百辈子下八百辈子的♂可♂爱♂的♂男♂孩♂子♂。那么，你也许还有点机会——出门左转领个号码牌排队顺便复习复习昆茨埃特跟他前世今生上八百辈子下八百辈子命定的恋人的恩爱往事吧。</font></p>
<p align="left"><b>安迪米奥（洗脑后）</b></p>
<p align="left"><font size="2">【硬件设施】<br>
※脸：帅，那是相当帅。作为美战里“长得比较帅但是莫名其妙招揽了一大堆桃花”的男主角，就动画版而言，已经有至少小兔小小兔阿丽贝利鱼之眼外星人等等等等一大批正派反派对他青眼相加，真可谓男女通杀。虽然被洗脑了，但是黑暗指挥官安迪米奥的魅力依然是众多女性（和小部分男性）无法抵挡的。<br>
<br>
【加分项】<br>
※骑士精神和绅士风度：洗脑黑化之后依然存在着不和女性战斗、堂堂正正决胜负的思想。面见贝利女王时的绅士礼仪也完美到无可挑剔。骨子里的骑士精神以及骨子里的风度气质让安迪米奥即使堕入黑暗王国，也无损他（这么一大串——地球黄金帝国王子、水晶东京国王、拥有黄金水晶、拥有地球的星宿种子并且被太阳力量守护）的威名。<br>
※不遗余力地扯反派后腿：我不是黑!这条是专门留给坚守正派阵营的妹子的。你是否对夜礼服假面被洗脑成反派的桥段痛心疾首却无可奈何？虽然喜欢他，但作为正派控却无法容忍王子殿下堕入黑暗！不用担心，这条加分项一样能刷爆正派控粉丝们的好感值。每当以K哥为首的反派，快要成功完成任务（真的，就差那么一点点）时，BIU的一朵玫瑰花摄入画面————身在敌营但是一红心向着月亮的黑暗指挥官安迪米奥君出场了！如此快准狠地搅乱黑暗王国的邪恶阴谋让人一度觉得他根本没有被洗脑而是将计就计做了卧底。<br>
※外挂一般的生存力：不断地被敌人攻击、陷害、洗脑、致伤甚至差点挂掉，安迪米奥君仍然坚挺地从第一部走到了第五部。不光是帅哥脸让路过的邪魔妖怪对他网开一面，女朋友的主角光环和原地满血复活的逆天能力更让安迪米奥/地场卫的外挂开出了风格，开出了水平！<br>
<br>
【个性】<br>
无论黑白都是爱老婆爱女儿的一级好男人！潇洒优雅的白马王子！无数少女的二次元初恋！虽然和“个性”没什么关系但我就是想写！其实是诌不出来了QVQ 
总之、总之虽然有小缺点但他绝对是好男人，宜居宜嫁亚纳拉伊卡~<br>
<br>
【前途】<br>
善良温柔的本质以及良好的绅士教育决定着安迪米奥无论黑化与否都不会对淑女们作出失礼的事，通俗地说就是不会无故拒绝女孩子啦~~难怪女孩子打扮的鱼之目会内牛满面地表示（地场卫）“真是个好男人”（好啦你亲都亲了还想怎样。）所以，只要功夫深，把安迪米奥追到手是没问题的。当然，先把小兔搞定吧，虽然80%视小兔为情敌的人都会被小兔的主角光环变成好朋友。（另外20%被消灭了………………<br>
<br>
【可能性】<br>
又一个跟人三生三世生生世世纠缠在一起的男人。直接参照上文吧。权衡利害之下，建议：<br>
1、彻底打消念头，跟小兔做闺蜜，说不定在主角光环笼罩下也成了不死系呢；<br>
2、你们上辈子下辈子都不可能了，打开word写篇以你和他为主角的同人文可能还靠谱些<br>
3、跟星野光联手拆CP！或者像他/她一样追求小兔吧！<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
