<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>冰样男子</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">冰样男子</font></b></p>
<p align="center"><font size="2">作者：雪venus</font></p>
<p align="left"><font size="2">第一眼看到他，就喜欢上了这样一个男子，有着一头诡异的银白长发，一双冷漠的灰蓝的眸，少之又少的一抹诡笑浮现唇畔，大部分时间他是没有表情的，只是浮在高高的天空，冷眼俯视着一切：他的战友，他的敌人以及他的战斗．身着紫底蓝边的欧式立领束腰制服，无领扣，双肩有深蓝色饰扣及白色披风，脚穿有深色皮鞋，冰冷的外貌配以同样的冷凝气质，这就是初次见他的感觉。<br>
<br>
他是一个冷酷，俊美的男子，同时也有着邪恶的气息，但我宁可相信他的本性是善良的。不是吗？在前世他还没有被控制之前，在他还是王子的侍从，在他还不曾是四大天王的时候，他应该是一个善良的人吧！应该也有着温柔的微笑，即使他是那样的高傲，冷漠与自负。在漫画版中，短暂的记忆恢复时，对王子露出的微笑，美丽，真诚而又温暖，使我相信他是一个温柔而又善良的人呀！<br>
<br>
前世的他应该是一个忠诚的人吧！对王子，对朋友，或许还有对爱人。否则他不会成为四人的首领，亦不会成为王子的侍从之首。今世的他，是忠诚的吗？我认为，不，他似乎并不忠诚于他的女王，是的，他并没有像涅夫莱特（拿拉达）那样公然的与女王作对，但他似乎也并非全心全力的在为女王办事，否则以他的实力断不会在最后一战中轻而一举的被打败了。当然也就不必提在漫画版中恢复记忆的他，还想要背叛女王了。<br>
<br>
他是一个有着强大力量的男子，他是冰的国王亦是空间的国王，在风雪中伫立着的他的身影，至今都让我无法忘怀。漫天纷飞的白色雪花落在他银白的长发上，白色的披风在风中舞动，额前的发扫过那双明亮又带着邪气的俊眸，他修长健硕的身体就这样与雪融为了一体。无庸置疑的，他所拥有的力量是四人当中最强的，对与战斗来说，越晚出现的战士越强，不是吗？他是四天王的首领，亦是他们中间最厉害的，就凭着他用防护罩就挡下了水兵战士的攻击，就凭着他差一点就将她们杀死（如果没有金星的出现），就凭着他一出马就将王子给抓了回来……总之，他的强大是不可否认的，就连公主可能都不是他的对手，就更不用说王子了。我想如果他愿意，搞不好连女王（贝尔）都会败在他的手中。<br>
<br>
可是似乎他并没有什么野心，不像女王那样想统治地球，不像女王那样想得到银水晶。他所想要的恐怕就是黑暗中的美丽了。没有野心也就是――不是为了自己而战，而并非忠诚也就是――并非为了女王而战。他到底为什么而战？我至今也不太明白。或许这就是他在战斗中总是漫不经心，总是冷眼旁观的原因了。没有什么目的，只是为了将眼前的敌人打倒罢了。或许也正是因为没有野心，纵使力量再强大的他，也不过是别人手中的一枚棋子，永远无法掌握自己的命运。就像漫画中贝尔对他说的“你一旦成为我的四大天王，不管轮回几世都会是我的四大天王，永远都别想改变！”可怜的男子，永远无法为了自己的意愿而活着，或者他本就无自己的意愿。<br>
<br>
许多朋友说他是同性恋，而我是决对不会认同的！！！在漫画中，他绝对是一个正常的男子，虽然在漫画中他并没有什么亲密的女伴，但也没有他喜欢男人的画面。而在动画中，他是与赛西达（苏伊赛特）的关系比较密切啦！而且那个苏伊赛特的确是一个娘娘腔，但也不能说明他喜欢男人呀？始终认为像他那样一个伟岸的男子是不会喜欢男人的。若是真的喜欢，为什么不在女王出手的时候阻止，不是说为了爱可以放弃生命吗？一直认为，他们两人的关系只是一种深厚的友谊。是的，那是一种在特殊的环境下衍生的一种特殊的友谊，也可以说是一个联盟，四大天王中只有他们两人是经常在一起的，而他也只是听听苏伊赛特的抱怨，并没有主动要求帮助他完成任务（这又是一个他不爱他的例子，相爱的人怎会不愿为对方分担痛苦呢？），在苏伊赛特死时，他无疑是悲伤的，那是一种失去好友的悲伤吧！因为若是失去爱人的话，不是殉情就是报仇，当然仇是不可能找女王报的，那就找水兵战士报吧，可是他又为什么那么容易就被打败（决不是他的能力不够）呢？失去朋友让他感到孤独，却让我看清他是可以去爱人的男子，只要一个人用真心对他，他亦会回报真心的。<br>
<br>
一直就有一个小小的梦想，就是希望他可以和美奈子在一起，因为喜欢他，也很喜欢美奈子，在看了直子老师的画后就更坚信了这一点。总是觉得冷酷如他的男子，内心决不是冰山般的寒冷，若是有人能够住进他的心中，那人就会是他的唯一了，他定会用一生去守护这唯一所爱之人。希望呀，他们可以获得幸福！！！！</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html>