<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>崇高的理想-错误的抉择</title>
</head><body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">崇高的理想--错误的抉择</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">一头笔直的银发，一双犀利的眼睛，毫无疑问的一个美男子，无可挑剔的负责的统治者。这就是本来面目的狄文王子（狄曼特），他长久在生活在黑暗之中，冥冥之星离地球太遥远了（从天文实际上来看，太阳系第十颗行星并未发现，也绝对不可能有生命的存在），没有光明，只能开一种小花，比起地球的万紫千红，可谓是天壤之别。在恶劣的环境中，磨练了他的意志，身为王子，他希望他的星球能美丽富饶；身为兄长，他比沙菲子王子更能责任心，更坚决。<br>
<br>
是什么使他成为反派？也许，他并没有找到切实可行的办法，而又希望理想迅速达到；也许，他真的想不通为什么同在宇宙，自己的星球与地球却有如此的不同，他迷惘了，在迷惘中，一个面目可憎的魔鬼利用了他的理想，追求光明的心被黑暗所掩盖，外在的黑暗与内心的黑暗统一起来了，一时间，正义，美好，和平，在王子心中不存在了。<br>
<br>
出于偶然，三十世纪的水晶东京失去了银水晶的保护，变得无法应付黑月帝国的疯狂进攻，在濒临毁灭的时刻，利用水晶转折器，四战士用水兵合力拼死一搏，但无法挽回局面，希望寄托在小公主身上，她带着拯救未来的使命回到过去。狄文的目的没有达到，但有一样东西留在他心里了：那个金发的女王，愤怒地看着他，却是那样美丽，美貌举世无双的霓虹女王，激起了他心灵深处的爱，但在这个时候，爱是无力的，顶多造成深爱他的艾斯美纳特的嫉妒。不过，在二十世纪，水兵战士们与他的部下奋战期间，他是那样自信，对女王的感情，也在加深，也许，良知已经开始复苏了。<br>
<br>
但正义战胜邪恶的必然，在时空回廊见到SAILORMOON，他的爱更深了，不惜亲自己出马将SAILORMOON带到身边，用近乎卑鄙的手段对待她；也同平时没什么两样，所向无敌的红玫瑰救走了SAILORMOON，爱情的失败让黑暗在心中进一步扩散。可他是拥有爱的，虽然有些邪恶但是美丽的艾斯美纳特，为了他可以付出一切，在她死的时候，无比幽怨的呼唤传到了他的耳边，他为之一动，光明的力量增强了吗？他也许没有意识到，得不到爱情是多么心痛。但是，他也拥有彻骨的痛：沙菲尔是全心全意关心哥哥的，他没有哥哥那样的理想，更没有统治地球的野心，也就相对清醒地察觉到了韦斯曼是在利用狄文，当他得知一切真相，要告诉哥哥时，却遭到了韦斯曼的毒手。可狄文虽然伤心，却没有放弃理想，企图结束战争后再找韦斯曼算帐。<br>
<br>
如果说得到心爱的人，和她永远在一起是完美，那么为理想奋斗过，并为爱情献身，也是幸福的吧！在SAILORMOON的帮助下，他知悉了一切真相，终于明白自己错了，可为时已晚，他失去太多了，他必须为自己的抉择付出代价，他必须面对韦斯曼，不止是在爱的名义下！<br>
<br>
他死了，死在心爱的姑娘的怀里；他是为她死的，没有任何的悔恨；她为他流泪了，她答应他，一定将冥冥之星上的人移民地球……<br>
<br>
他的一生结束了，如果没有那崇高的理想，整个生命将黯淡无光；如果没有那错误的抉择，生活将不会如此丰满，善与恶的概念，只在瞬间。<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
