<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>Writing choices</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">《写作选择（Writing choices）》-基于动画的独特的英文同人写作</font></b><b><font size="3">理论</font></b></p> 
<p align="center"><font size="2">作者：</font><a href="mailto:kataki2001@yahoo.fr"><font size="2">Kataki</font></a><font size="2"><br> 
译者：<a href="mailto:perious@sina.com">Perious</a> 校译：<a href="mailto:Russophile_17@sohu.com">Jadeite</a></font> 
</p> 
<p align="left"><font size="3">名字：</font><font size="2"><br> 
我发现在非日本的发烧友中间有讨论如何称呼他们的讨论。他们的日本名字是：“Shitennou(四天王)”，四位天空的国王，这是用来称呼他们全体的名字。<br> 
而在法国和美国版本的动画中，他们被称为“将军”，我觉得他们的制服看上去像是他们在领导军队(我无法想象四个国王和两个女王在一起做事O_O)。<br> 
但是两种叫法都不让我满意，我决定称呼他们为Shinma(神之魔鬼)，这是我从《吸血姬美夕》中挑出的一个词，代表他们是更高地位的魔鬼们。<br> 
他们所使用的那些魔鬼的“战士”，我称它们为Youma(妖魔)。<br> 
<br> 
</font><font size="3">基础：</font><font size="2"><br> 
我对黑暗帝国的看法是在动画的基础上，而不是漫画。<br> 
说实话，当我后来找到漫画看过那一点点关于他们的内容后，非常失望。漫画中他们原本是安狄美奥王子的部下，他们是朋友，转世后被美达利和贝尔所控制，而成为她们手下的将军们，就是说，他们并不是反派……等等。<br> 
所以我决定根据动画来完成我的版本，完全忽略漫画。<br> 
<br> 
回到动画……<br> 
<br> 
<b>证据之一：石头和植物</b><br> 
将军们的名字，像贝尔的一样，是宝石的名字。而大部分的妖魔，是类似植物或者动物的名字。&nbsp;<br> 
<br> 
<b>证据之二：制服</b><br> 
古舒达是唯一有披风的人。他也有肩章，包括我在内的很多人，都认为那表示了他的地位。他是四天王的首领。<br> 
拿拉达是另一名有肩章的，代替蓝色的红色，排在第二。<br> 
关于赛西达和积达的地位有所争论。人们通常认为赛西达是最后的(我想恐怕是因为他的年龄和他有时候看上去像是古舒达的学生，至少他们是我们看到的唯一会合作的。而且在贝尔那边，似乎有“官方”原因使贝尔并不理睬他们的……关系)。&nbsp;<br> 
但是考虑到赛西达的力量，明显在积达之上，我情愿把他排在第三而不管他的年龄。要记得他的任务看上去比积达的重要得多：寻找银水晶。<br> 
<br> 
<b>证据之三：死亡</b><br> 
当贝尔杀死积达，她将他关入水晶棺材，他的身体完整地存在。<br> 
当拿拉达死后，他的身体化作光点消失。<br> 
当赛西达被贝尔击倒，贝尔命令古舒达“处理它(或者他？)”。我猜测那意味着古舒达要在赛西达死后毁掉他的身体。也就是说赛西达不像拿拉达那样，他的身体不会消失。<br>
当古舒达最终被自己的武器杀死，他的身体像拿拉达那时一样消失。<br>
<br>
<b>证据之四：血液</b><br>
我隐约记得一次，当积达被打中时可以看到，他的血是红色的(？)。<br>
赛西达也同样，有一次当夜礼服假面的蔷薇划过他的脸时。<br>
另一方面，在某一集中可以看到拿拉达的血是绿色的(有人认为那是那植物的液体透过了他的上衣，但是我不那么认为)。<br>
从没见过古舒达的血，即使他被自己的武器击中时。<br>
(有人提醒我说，有一集维纳斯的新月光线曾经打中古舒达的手，你可以看到红色的小滴。但是要看到他的手套仍然是白色的，更重要的是那会破坏我的理论^_^。所以，让我们把那理解成是一种表示急速的打击表现吧！)<br>
至于妖魔，同样是绿色的血。<br>
<br>
</font><font size="3">结论：</font><font size="2"><br>
目前的事实足以使我做一个那样的解释：古舒达和拿拉达不同于积达和赛西达。<br>
古舒达和拿拉达是在黑暗帝国中出生的真正的神之魔鬼。<br>
积达和赛西达则是“制造出来的”神之魔鬼，他们原先是人类，但在美达利的力量下成为神之魔鬼，用来取代死去的国王们的位子。&nbsp;<br>
<br>
</font><font size="3">爱的问题：</font><font size="2"><br>
神之魔鬼不知道爱，那不是他们的自然属性。<br>
但是通过在漫长岁月中对人类的观察，他们知道它，只是感觉不到。他们也没有感觉到情欲，因为他们不需要，他们自身不繁衍后代。<br>
美达利对他们而言就像是蜂后，它制造出的种子，会成为神之魔鬼或者妖魔，取决于他们的成长过程。<br>
由美达利所制造的种子，以人类的尸体为食物长大。<br>
妖魔是一个种子在一具尸体上成长的结果。<br>
神之魔鬼的成长是建立在若干数量上的--所以样子也更接近人类……<br>
<br>
</font></p> 
<p align="left"><font size="2">看了作者那一大堆文章后总结出来的补充……：<br>
作者对黑暗帝国中那些非人类的生物，统称为魔鬼……<br>
魔鬼再分为妖魔和神之魔鬼。<br>
神之魔鬼比妖魔的能力要强、地位要高，外貌要更接近人类，比如四天王。<br> 
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
