<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>反派与D2的一点心得</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">反派与D2的一点心得</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:zoisite@263.net">反派守护神</a></font></p>
<p align="left"><font size="2">来慢慢分析一下初代四个小反派的职业吧？
</font></p>
<p align="left"><font size="2">Jadeite嘛～虽然不太像～不过我觉得是，男巫！！<br>
原因：他的手下尽是砂子变的（精灵？）—》漫画里面Nephrite亲口说过啦。
</font></p>
<p align="left"><font size="2">至于Nephrite嘛～～（头疼）从招式上来看不出什么～不过第44集又有一幅图喔！其他三个都是一剑一盾的标准配置，只有他是拿矛～用矛的（正常来说）是两个职业：亚马逊和野蛮人。Nephrite不是女的，所以他应该是…野蛮人（汗）
</font></p>
<p align="left"><font size="2">Zoisite：呵呵呵呵～跟我一家喔～女巫！！没错，她在挂掉的前一集使出了暴风雪（不太标准的暴风雪），小冰针，以及女巫的标志性法术——隔空取物！！^^别忘了，她就是用这一招把男女主角”空运“到塔上的喔～（一团红光……）
</font></p>
<p align="left"><font size="2">Kunzite：这个人还不是一般的烦呐～双刀？野蛮人吗？可是他又是用魔法多过攻击…… 这个这个嘛～反正一看到他，我第一印象就是——被遗忘国度中的黑暗精灵崔斯特！！白头发黑皮肤（不算太黑喔？）符合黑暗精灵的特征，还有双刀～～^^ 
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html> 
