<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>得到真正的自我-看真人版美战之地场卫</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b>得到真正的自我-看真人版美战之地场卫</b></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p><font size="2">一个是前世的王子，一个是前世的公主，在今生相遇，开始继续前世的宿命，还是谱写今生的轮回？这才是我能够继续把美战看下去的唯一原因……对于，爱做梦的女孩子，王子和公主的传说的吸引力是永远不会衰退……<br>
<br>
如此严格意义上来说，我并不是一个纯粹的美战迷，所以，当漫画出现在我面前的时候，我没有被它所吸引，动画版也是如此……帅帅的地场卫是不错，但是作为一个完全意义上的少女漫画的男主角，他实在平凡得过了，除了能称其为花瓶以外真的想不出来能够用什么形容词来形容他，在一堆美少女中间的唯一男主角的个性笔墨也涉及得过少，更无法让他在书中有什么别样的魅力……他是附庸，纯粹的附庸……缺乏自我表现和个性的附庸品，如果要类比的话，去翻翻幽白里的萤子和烈火里的公主（本来想用雅典娜，不过实在太讨厌那个女人，地场卫还不到这种程度），就知道在不多见的少女系战斗漫画中他的地位是什么样，他们或者是她们往往是发动机的火花塞，是不可获缺，却又只有那么一点点用处，当发动机起动以后，变成了陪衬挂在一边……无自我亦无灵魂……甚至于，有时侯配角的魅力都超越了主角的存在，比如说动画片后期的星野君……<br>
<br>
直到我看了真人版的美战中的地场卫以后，才算真正完整的看见了一个有血有肉不是陪衬的王子，而这段爱情也不再是前世的羁绊，今生必然的诺言，它变得细腻起来，充实起来，随着地场卫从花瓶中解脱出来，而爱情也变得更真实……更象爱，不象是必须实现的王子和公主的诺言……<br>
<br>
有人说真人版更象借美战的框架在拍一部青春偶像剧，不可否认，其实这样说是有一定的道理，不过既然有一个完美的框架，为什么不可以让这个框架更符合人性化一些呢……在不破坏框架的基础上，再增加些血肉未尝不可……<br>
<br>
我一直认为在美战中兔子和卫的爱情架构是很有吸引力的，可惜的是作者并没有想想如何仔细的去铺设它，虽浪漫却不实，虽时刻提醒着爱的深刻，却看不出深刻处在那儿……而真人版就完全避免了这种矛盾的出现……<br>
<br>
通过一步步温馨的情节，把两个人的感情变化过程交代得异常清楚，感觉也并不突兀，兔子和卫在镜中迷宫的手帕相牵……兔子与卫在海边商店寻找信的记忆线索，兔子与卫一起保护美奈子的宝石，卫背兔子去亚美家，并在外守护……比起漫画里的兔子将地场卫和礼服蒙面侠（多土的名字）相互重叠，对于真人版的兔子，卫已经跳出了礼服蒙面侠的影子，独立地存在于她的脑海中，这就大大增加了这份爱情的真实感，究竟你期望的是一个救世的大侠，还是一个你所爱的真实男人，如果地场卫只是地场卫，那么他对你来说还可以去爱吗？而兔子对于卫也是一样，她如果不是公主，那么你还可以去看她吗？彼此之间在没有答案的时候，从眼神中已经知道感情的存在，兔子爱的就是卫，而卫爱的就是兔子……不是因为前世，也不是因为他是救过她多次的侠客~<br>
<br>
对于地场卫，这个面具下的男人，让二的卫很人性化，虽然我不满意他回避命运，逃离宿命的态度，不过诚如别人所说，那样的男人是比较有人性化，不再是机械的勇敢地冲，痴迷不悟地服从宿命，他懂得思考，也想过逃避，地场卫不再是一个仅仅需要的时候才拉出来的附庸，而变成了一个完整的独立体，正因为他有了自我意识，才会想过逃离和退却以及无法承认自己真正的感情……这样的卫比起无论受到什么（除了被洗脑）都说我还是爱你的卫来说，更接近于一个人……卫的个性显然相对动漫来说也起了变化，变的内敛和坚定，表达感情的方式不再如漫画中那样直白，而变的更为含蓄起来……这样的温柔却比炙热的表白更叫人觉的心动……<br>
<br>
当地场卫和小兔的关系，以及彼此之间的个性都发生变化时，真人版扯出来另外一个值得思考的问题，宿命你是应该服从还是应该改变，宿命究竟是什么？<br>
<br>
看真人版至今，感觉地场卫代表着今生，安狄美奥代表着宿命，而夜礼服假面则代表着卫前世对今生的印记，卫开始一直在寻找我是谁，当面具在兔子面前揭开，安狄美奥的名字渐渐浮现的时候，前生和今生开始撞击的时候，你是反抗宿命还是屈服……其实卫那句“我就是我”已经给出了最好的答案，地场卫，安狄美奥，还是夜礼服假面都不重要，重要的是我的命运应该属于我自己去创造，我的星球以及我的感情应该让我自己去确定，所以他会说我不相信所有人的预言……至此，真人版的美战已经完全跳离了漫画的爱情架构，如同地场卫拥有了完整的个性一样，他凭借自己的勇气和决定跳离出了前世的宿命……而这样的地场不得不说是叫人心折……因为他不再是花瓶，而是一个男人……<br>
<br>
看到现在，完全不清楚后面会如何发展，但兔子和卫的爱情已经跳出武内的设置，纵使会是一个如同罗密欧和朱丽叶般的悲惨结局亦或者是两相忘记……但他们曾经试图改变自己的命运，共同坚持自己爱的情景却美丽异常，永恒的随着夕阳的美景定格在我的脑海之中……</font><font size="2"><br>
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>