<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>东京生活注意事项</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">东京生活注意事项</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:shuiyueyaoji@sina.com">月之心</a></font>
</p><p align="left"><font size="2">1.不要在午夜零点的时候收听名为“午夜零点”的广播节目，不要向节目投稿，更不能收取节目向您赠送的任何礼物，尤其是胸针花！<br>
2.当您想减肥的时候，千万不要去免费的减肥沙龙，否则会有性命之忧！<br>
3.当你在宠物商店见到浑身会散发出香气的兔子，绝对不能去碰它们，更不能直视它们的双眼！<br>
4.当你学习成绩下降却被父母逼着去学习班时，需要慎重选择提高班的质量，尤其不能去晶体学习班，否则你的成绩不升反退！<br>
5.不要去廉价的钟表店买钟表！<br>
6.去游乐场的时候切记不能进入装潢很豪华的点心店，因为里面等待着你的是甜蜜的噩梦！<br>
7.不要和恋人乘坐豪华的油轮，否则那里将是你们的火葬场！<br>
8.不要把自家的玩偶交给一个陌生的男人，尤其是棕色长卷发，自称三条院正人的经济人！<br>
9.当您收到邀请您去某某地方的信时，千万不能冲昏大脑地接受邀请！<br>
10.当您的亲属在某个时间里性情大变，请立刻送往急救中心急救，否则将变成危害人类的妖怪！<br>
11.千万不要让自家养的猫咪靠近下水道！<br>
12.在游乐场不要凑在人群较多，表演超人斗怪兽的节目前面，说不准那是真的也不一定！<br>
13.不要参加“公主训练班”，更不要接受他们颁发的毕业证书！<br>
14.不要参加滑雪比赛，千万别期盼能得到第一名！<br>
15.去温泉旅行不要东张西望，以免看见不该看见的人或物！<br>
16.千万不可把自己喜欢的人介绍给自己的朋友，以免对方横刀夺爱！<br>
17.当您遇见对您死缠烂打，要您透露些新闻的记者，请立刻暴打其一顿，然后扬长离去，以免遭受无辜！<br>
</font></p>
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">补充：<br>
18.不要轻易去占卜算命，特别不要去华丽的美女占卜屋算命！<br>
19.深夜不要逗留在录音棚里，而且不能随便拿放在那里的磁带！<br>
20.不要企图一夜成名，更不要参加由百鸟神馆发起的明星征招！<br>
21.绝对不要在公园施工，特别是由一位白发老伯负责照料的公园！<br>
22.不要参加婚纱大赛，更不要去商店购买缝制婚纱的布料！<br>
23.不要让外人轻易进你的办公室，尤其不能让来者乱动你的铅笔！<br>
24.宁可走路，也不要搭乘六点左右的巴士，更不要去看开车的司机！<br>
25.千万不要去买一种叫雨之木的八音盒，更不要听这种音乐，无论它多么漂亮、动听和抢手！<br>
26.如果在深夜遇到神秘的新娘出现，千万不要看她，更不要与她说话！<br>
27.尽量不要去参加大型的化妆舞会，特别是据称有神秘珠宝展示的化妆舞会！<br>
28.当你闲得无聊时，切记不要租录相带来看，尤其是大型连琐店出租的录相带！<br>
29.如果在电视上发现关于神秘水晶的节目，请赶快关掉电视机，并设法忘记此事，否则后果自负！<br>
30.夜晚不要在街上行走，特别是停电的时候！</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>