<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>当QQ兔邂逅反派……</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">当QQ兔邂逅反派……</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:yiyan211@yahoo.com.cn">QQ兔</a></font></p>
<p align="left"><font size="2">冒雨把《美战》的VCD抱回家，怀里抱着的几十张碟，一张都没湿，而我却湿的不行，也理所当然感了冒。<br>
一到家，便第一时间走向VCD机，把第一张盘放了进去……<br>
不想说它的画面怎样，不想说它的声优表现怎样，也不想说主题曲怎样，只是想说“我觉水兵月他们好威风哦！”，“看到精彩的时候都会叫好呢！”看到最后几集贝尔的所作所为，不禁想起前段时间前桌的“杨梅”（她也是个美战迷哦！）对她的看法。那时只是想“哼，她是好人？没搞错吧？她可是黑暗帝国的耶~~~~~~因为我喜欢爱和正义的水兵服战士，所以我是绝对不会喜欢她的吧……更别说是流泪了”就这样把这几句否定一切的话若无其事的说了出来。因为当时并不了解贝尔也不想去了解，更没有去仔细揣摩她这一揭示。就这样抱着这种“黑色我全讨厌”的态度，直到今天到现在窝在沙发里看碟的我，到看到贝尔的时候……啊，我才明白了“杨梅”的话，才感到我曾经有过的那种想法是何等的幼稚肤浅……错了，全错了！我曾有的那种想法完全被她粉碎了！随之而来的是滴落在手背上的几滴暖暖的液体……我想我这次真的错了，我不该在未了解她之前便随便下结论，因为喜欢水兵战士们，所以就不会为与其敌对的人掉眼泪吗？不敢相信的看看对面镜中的自己，又低头看看滴落的东西，我想说：我第一次为反派掉眼泪了。<br>
片尾曲响起来了，我的心却在不知不觉中矛盾……<br>
我真的讨厌反派至极吗？之前我真的了解他们吗？我有想去主动了解他们吗？他们，丁迪特为什么会死，涅夫莱特为什么背叛黑暗帝国？每个人都有自己的生存方式，每个人都在做自己想做的事，每个人都有心中最最重要的事物，水兵战士们是，贝尔是，很多人是，所以他们有充分的理由为达到各自的目的或心愿而冲动。<br>
世界上没有绝对的善与恶之分，他们两者的界限并不明显！只是，要看你站在什么角度上去看待它……<br>
然而贝尔死了，她有得到什么吗？<br>
一点也没留下，我想到一个词：魂飞魄散，是的，魂飞魄散！<br>
那是她自己的选择！<br>
很晚了，睡吧，好好的休息一下，忘却一切烦恼和仇恨（尽管那不太可能），只是记的明天早起！<br>
那么：晚安！</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html> 

