<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>美战真人版之恶搞点评（附图）</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">美战真人版之恶搞点评（附图）</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:scorpioeric@tom.com">Scorpioeric</a></font>
</p>
<p align="left"><font face="宋体" size="2"><img width="250" height="199" src="eg/eg.htm3.gif"></font></p>
<p align="left"><font face="宋体" size="2">注意：这个不是路人甲，他是—————四天王之一的杰戴特！！！（书里翻译“积达”）<br>为什么……为什么是这么张娃娃脸啊啊啊！<br>书里面他不是还对丽有意思么？！怎么在这里成了不认识的了？！（其实书里也没认识……）刚出来的时候我还真以为只是奈留她妈妈手下的一个工作人员呐！！！</font></p>
<p align="left"><font face="宋体" size="2"><img width="250" height="199" src="eg/eg.htm4.gif"><img width="250" height="199" src="eg/eg.htm5.gif"></font></p>
<p align="left"><font face="宋体" size="2">正装版……哭啊………一点也不成熟…………像小孩子！- -||||||||||||||<br>         
为什么……为什么这个小孩子要穿大人衣服做坏事？！</font></p>         
<p align="left"><font face="宋体" size="2"><img width="250" height="199" src="eg/eg.htm6.gif"></font></p>        
<p align="left"><font face="宋体" size="2">涅夫莱特…………我想杀人了！！！！！！动画版里那个叫帅啊……那个叫有气质啊……那个叫心地善良啊……<br>        
你看这个便装版，分明个嬉皮士再生…………走在路上你说不惹眼才怪！！！</font></p>        
<p align="left"><font face="宋体" size="2"><img width="250" height="199" src="eg/eg.htm7.gif"></font></p>        
<p align="left"><font face="宋体" size="2">（颤抖）正……正装版…………不适合……太不适合了…………整一阴险小人！！<br>       
那头长发呐！？还长发来！！！！！！！！</font></p>        
<p align="left"><font face="宋体" size="2"><img width="250" height="199" src="eg/eg.htm8.gif"><img width="250" height="199" src="eg/eg.htm9.gif"></font></p>        
<p align="left"><font face="宋体" size="2">        
佐依塞特…………居然那么好心情弹钢琴！！！！<br>这个地方跟钢琴一点也不搭调…………<br>弹就弹呗！！！叫水手V干嘛？！<br>水手V是你叫的吗？！水手V是昆塞特的另一半！！！！！！（漫画）<br></font>         
<p align="left"><font face="宋体" size="2"><img width="250" height="198" src="eg/eg.htm12.gif"></font></p>        
<p align="left"><font face="宋体" size="2">我汗………………这个指甲跟米罗有得比了…………好长啊……</font></p>        
<p align="left"><font face="宋体" size="2"><img width="250" height="170" src="eg/eg.htm15.gif"></font></p>        
<p align="left"><font face="宋体" size="2">两个……在女王面前争宠（？！）的男人……||||||<br>       
太太太太太太……刮三啦啊啊啊啊啊~~~~~~<br>       
杰戴特的话也就罢了，那个老弹琴的佐伊塞特也可以马马虎虎算一个……他们两个争宠还情有可原是吧？可居然都死那么早…………<br>       
这两个家伙！！！真是山中无老虎……猴子称大王！！<br>       
虽然说这把剑“咻”地一下子抹上涅夫莱特脖子的时候……还是很有气势的（只是指那把剑，8是指人！！）……但是……换个帅哥做这个动作就那么难吗……………（泪）</font></p>        
<span lang="EN-US">       
<p align="left"><font face="宋体" size="2"><img width="250" height="182" src="eg/eg.htm16.gif"></font></span>      
<p align="left"><font face="宋体" size="2">回光返照…………<br>      
快要露正脸的家伙……恶汗……还是在弹钢琴！！！<br>      
这家伙到底是黑暗王国的人伐？<br>      
老是叫着“水手V”“水手V”的…………暗恋她啊？<br>      
个人觉得是因为他认为水手V是公主，而他暗恋的其实是公主……所以…………倒地死！！<br>      
话说回来，这个人的精神力很不错……似乎灵感很强…………恶汗！</font></p>      
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm17.gif"></font></p>       
<p align="left"><font face="宋体" size="2">正要使出杀手锏时，被地场卫阻止…………<br>      
这时两人回忆起了一些没有头绪的过去……<br>      
足见佐伊塞特的精神力了~<br>      
前两个天王一点没想起以前的事情，而他却有点想起来。很不容易。</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm18.gif"></font></p>       
<p align="left"><font face="宋体" size="2">离开信的家，两人想着如何帮助他……<br>      
我从来不知道地场卫居然会骑太子车……默……<br>      
他真是地球的王子伐？</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm19.gif"></font></p>       
<p align="left"><font face="宋体" size="2">汗死，让大家看看华丽的黑暗帝国城堡！<br>      
表PIA我，真的很华丽，只是你们看不清楚罢了…………</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="188" src="eg/eg.htm21.gif"></font></p>       
<p align="left"><font face="宋体" size="2">皮衣皮裤骑太子车的地场卫…<br>      
（泪）他真的是王子伐？<br>      
我哪能觉得他像流氓老大啦？</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm22.gif"></font></p>       
<p align="left"><font face="宋体" size="2">- -|||||||||||我发誓，我没有PS过……绝对没有……<br>       
这个是他看到妖魔后的表情……</font></p>        
<p align="left"><font face="宋体" size="2"><img width="250" height="188" src="eg/eg.htm23.gif"></font></p>         
<p align="left"><font face="宋体" size="2">昆塞特……………||||||||||||<br>      
你说话越来越嘲了！！！！！<br>      
居然说什么“积达和拿拉达现在感情好得令人起鸡皮疙瘩”！！！！</font></p>         
<p style="margin:0cm;margin-bottom:.0001pt" align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm24.gif"></font></p>         
<p align="left"><font face="宋体" size="2">涅夫莱特把美奈子头上的王冠拿去了……以为是梦幻银水晶……<br>      
忍不住要说句：涅夫莱特你真是个笨小孩！想想嘛也知道那个一定不是真的了。她们既然那么怕被你们拿到银水晶，怎么还会这么招摇地戴头上啊！？笨！！！！</font></p>         
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm25.gif"></font></p>         
<p align="left"><font face="宋体" size="2">注意阿昆的表情……色眯眯的………|||||||||<br>      
他想说，佐伊塞特没复活，四天王缺了一个，所以心里失落……这个话也是嘲讽的话，各位表乱想……</font></p>         
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm26.gif"><img width="250" height="187" src="eg/eg.htm27.gif"></font></p>         
<p align="left"><font face="宋体" size="2">什么啊啊啊啊啊~~~~~~~~?<br>      
老……“老相好”！？！？！？！？！？?<br>      
你你你你你你你你……………<br>      
你们表拦着我！！！我这次一定要砍死他啊啊！！！<br>      
你一而再再而三的诽谤小杰！！！我忍很久了！！！！这回忍不住了！！！！<br>      
你说谁不好！？居然说咱小杰跟那个涅夫莱特有一腿一刚！！！<br>      
看看清楚！小杰怎么可能这么没眼光啊啊啊啊啊啊？！！？！？！<br>      
啥个"老相好"！？？！？你自己找了新相好表来攻击小杰行伐？！人家是纯洁的战友关系！！！！！就算是个反派么也有名誉的啊啊啊啊啊啊！！！！！?<br>      
我砍砍砍砍！！！看你小样哪里逃！！！！！！！</font></p>         
<p align="left"><font face="宋体" size="2"><img width="250" height="185" src="eg/eg.htm28.gif"></font></p>         
<p align="left"><font face="宋体" size="2">刚受了贝尔的批评的涅夫莱特。<br>      
怎么跟昆塞特那家伙一个德行啊啊啊啊啊？！！？<br>      
心里不爽也犯不着拿小杰出气是吧？！！！！<br>      
你们俩互相攻击归互相攻击，干嘛老是扯上小杰？！？<br>      
这个说那个跟小杰关系好得起鸡皮疙瘩，那个说这个跟小杰说话一个调调！！！<br>      
存心跟小杰过不去是伐？！！？（撂袖管ING）谁再说小杰坏话我跟他急！！！！！！</font></p>         
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm29.gif"><img width="250" height="186" src="eg/eg.htm30.gif"></font></p>        
<p align="left"><font face="宋体" size="2">大家看到了吧？他脸上是被阿丽的火熏出来的……手上的那家伙……就是他的武器……倒……<br>     
这是第24集的开头。本剧的拍摄终于又回到了最初的风格——以黑暗王国的内讧作为每集的开头来吸引眼球的惯用手法……|||||||||||||<br>     
战败归来的涅夫莱特被亚美嘲笑了一番，涅夫莱特恼羞成怒，抄起家伙（不知道是什么，两头像是圆盘，中间一根棒子，感觉好象沙和尚的兵器！！）朝亚美戳去……<br>     
涅夫莱特这回倒是挺惨了，以前被昆塞特讥笑，后来连小杰也开始嘲讽他，现在连个新“入会”的亚美也嘲笑他了~~~报应啊报应！！！！谁叫他犯众怒来的？！<br>     
当涅夫莱特再次挥舞兵器向亚美发动进攻时，昆塞特及时（？）出现，挡下了攻击。<br>     
本评论员强烈怀疑昆塞特的出现是早有预谋的！<br>     
而涅夫莱特的这次未遂的进攻将成为新一论内讧高潮的导火线。<br>     
针对这一事件的后续报导，我们将予以强烈关注！</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm31.gif"><img width="250" height="187" src="eg/eg.htm32.gif"></font></p>       
<p align="left"><font face="宋体" size="2">两人（男人）正在紧张的对峙中，互不相让~<br>       
涅夫莱特的那个兵器……不会真的是从《西游记》道具组里K来的吧？！<br>       
至此，本次内讧事件已经完全朝着另一个方向发展--言情肥皂剧！！！这怎么看都是一出"两男争一女"的老套戏路嘛！！<br>       
编剧！！！你在搞什么啊啊~~~内讧就内讧了，还加这么老套的言情情节啊啊啊啊！？！？！？<br>       
最后昆塞特一个下劈，把涅夫莱特的披风砍掉了大半…………<br>       
各位别小看了这个镜头~~这披风可是后面某个重要情节的关键物品哦~~~（哇哈哈哈~~~）</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm34.gif"><img width="250" height="186" src="eg/eg.htm35.gif"></font></p>       
<p align="left"><font face="宋体" size="2">话说涅夫莱特因为跟昆塞特私下斗殴失败，被贝莉尔女王惩罚。<br>       
亚美竟然出现在他面壁思过的地方！！！！<br>       
有道是“峰回路转”，亚美究竟为什么去？！<br>       
值得诸位亚美迷关注！<br>       
涅夫莱特以为亚美是来耻笑他的，没想到，亚美居然拿出一件新披风！！！！！因为在前面的剧情中，涅夫莱特的披风被昆塞特砍坏了！<br>       
=口=|||||||||||||||<br>       
我有没有看错？！是新的披风！！！！！哪里来的啊？亚美自己缝的吗？！！？<br>       
事情怎么会发展成这样？！？！<br>       
这样一来，亚美对双方的态度似乎都很暧昧啊！！！局势不明朗！！<br>       
亚美把披风摔（丢？放？不好意思，不知道这时亚美到底怎么想法，用不出合适的词）在了他肩膀上……<br>       
（-___-+++++难道还指望亚美温柔地帮他披上吗？！？！？！！？）<br>       
涅夫莱特别有用意的眼光？？</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm36.gif"><img width="250" height="186" src="eg/eg.htm37.gif"></font></p>       
<p align="left"><font face="宋体" size="2">这这这……这是要干嘛？！我们的王子拿垃圾箱干嘛？！！？太破坏形象了！！！！！<br>       
原来是防身用…………<br>       
惨不忍睹……堂堂地球王子居然要用垃圾箱做防身武器…………||||||||||||||||||<br>       
不过话说回来，垃圾箱还是挺有用的，不仅挡下了昆塞特的攻击，还反过来砸了他一下……不愧为七样武器之首哇！！</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm38.gif"><img width="250" height="186" src="eg/eg.htm39.gif"></font></p>       
<p align="left"><font face="宋体" size="2">“你不是有亲手调教出来的水手战士吗？”<br>       
小杰………为什么用</font><font face="宋体" size="2">“调教”</font><font face="宋体" size="2">这么文明的词？分明应该说他是用</font><font face="宋体" size="2">“</font><font face="宋体" size="2">抢</font><font face="宋体" size="2">”来的才比较贴切嘛！<br>       
</font><font face="宋体" size="2">“唉……女人心海底针呐！</font><font face="宋体" size="2">”<br>       
-_________-||||||||||||||||||昆塞特你强，说得出这种话…………<br>       
你们是在商量作战还是在诉苦啊…………感觉好象一个男人跟别人抱怨自己在家里受罪的口气啊？</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm40.gif"><img width="250" height="186" src="eg/eg.htm41.gif"></font></p>       
<p align="left"><font face="宋体" size="2">地场卫及时赶到，替小兔挡住了一剑。背上被狠狠划了一剑……<br>       
面具也碎了…………<br>       
！！没错！面具碎了！！！！<br>       
可是……为什么？！？！？！昆塞特不是砍的他的背后吗？！？！？！怎么前面的面具也划破了？！！？难道…………地场卫被砍成2根肉条了吗？！！？！？=口=|||||||||||||||</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm42.gif"></font></p>       
<p align="left"><font face="宋体" size="2">哟哟哟哟哟…………内讧了这是？<br>       
昆塞特看来想要一个人解决小兔，以解心头之恨。</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm43.gif"><img width="250" height="186" src="eg/eg.htm44.gif"></p>       
“我很不爽你的插手！”<br>      
这两个人…………||||||||||||||||||默…………都什么时候了还在…………<br>      
这回是亚美的剑架在昆塞特脖子上<br>      
“你可真是个难缠的小东西…………”<br>      
寒…………<br>      
昆塞特你真不是一般的BT！！！！！！这种时候内讧，还说这么…………的话！！！！！<br>      
我吐…………<br>      
各位看清楚这个人的真实面目了伐！？<br>      
关键时刻还在跟人打情骂俏一刚…………<br></font>      
<p align="left"><font face="宋体" size="2"><img width="250" height="188" src="eg/eg.htm45.gif"><img width="250" height="187" src="eg/eg.htm46.gif"></font></p>      
<p align="left"><font face="宋体" size="2">捏着手里的披风……捏啊捏啊的就想到以前亚美送他披风时候说的话来了…………<br>      
似乎是发现自己这种不争气的举动（想念亚美？），猛地捏着披风把拳头砸到墙上……</font></p>      
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm47.gif"><img width="250" height="188" src="eg/eg.htm48.gif"></font></p>      
<p align="left"><font face="宋体" size="2">      
（涅的心声：哎哟哟哟哟……我怎么可以把这披风往墙上砸啊啊啊？！？！心疼心疼……<br>      
诶诶诶…………兄弟啊！！！！！你怎么那么不争气啊啊啊啊啊啊啊？！？！！？！<br>      
才下决心挥拳相向，怎么下一秒钟就那么心疼的护着这披风啦？！！？！？<br>      
你要真的不喜欢么，当初根本就不要收下呀！！！<br>      
诶诶诶…………没有定力的家伙，注定失败！<br>      
好嘞……干脆把披风蒙头上了………………<br>      
（清嗓子ING……）在这几个短短的镜头中，几个动作细节处理得非常细致，充分体现出了我们涅夫莱特同志对于亚美小姐那种由爱生恨、又爱又恨的复杂心情，绝对是当之无愧的经典桥段啊啊啊~~~~~~~~~~~~~~扮演涅夫莱特的演员同志表演得非常深刻动人，显然是对于剧本情节吃得很透彻，对人物内心也把握的非常到位……（省略无数）……总之，这个情节充分展现了涅夫莱特同志对亚美小姐的情愫……</font></p>      
<p align="left"><font face="宋体" size="2"><img width="250" height="185" src="eg/eg.htm49.gif"><img width="250" height="186" src="eg/eg.htm50.gif"></font></span></p>      
<p align="left"><font face="宋体" size="2">“MERCURY已经完全脱离我的控制了。”<br>     
不过更叫你担心的应该是怕她会另投某人怀抱吧？<br>     
</font><font face="宋体" size="2">“MERCURY，虽然我们的交情只维持了一阵子，但若你能活命逃出，我会原谅你的……”<br>     
面对代表着亚美的白色棋子，昆塞特如是说……<br>     
但是……你们那个关系真的只限于普通的</font><font face="宋体" size="2">“交情”吗？！？！？！？！？！昆塞特你话里有话啊？！为什么这话你只对着亚美说？</font></p>     
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm51.gif"><img width="250" height="187" src="eg/eg.htm52.gif"></font></p>     
<p align="left"><font face="宋体" size="2">亚美和小兔她们一起战斗胜利以后，忽然听到背后昆塞特在叫她名字，她回头看过去~<br>     
原来是昆塞特正要向她挥剑砍下去。昆塞特同志的脸已经彻底扭曲变形了……= =||||||||||<br>        
（----我们可不可以因此而认为他是因为得之不到才会因爱生恨？所谓爱之切……什么来着……还是说"打是亲骂是爱"……||||||||）<br>        
亚美已经来不及防御~~~~只能等着剑砍下来…………<br>        
PS：居不完全统计，约70%的观众认为这剑最后是不会砍到亚美身上的。理由包括“亚美神功护体”、“昆塞特突然被女王招回”……等数种。<br>       
值得注意的是，“昆塞特舍不得砍亚美”这条理由的支持者数量高居榜首！</font></p>    
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm53.gif"><img src="eg/eg.htm54.gif" width="250" height="186"></font></p>    
<p align="left"><font face="宋体" size="2">      
突然，昆塞特的行动被制止了，他的剑被人拦下。<br>      
阻挡他的人居然是…………涅夫莱特！！！！！！！！<br>      
这已经不仅仅是单纯的内讧了！！！！！根本就是争风吃醋！！！！！<br>      
“你在搞什么？！”<br>      
昆塞特怒！<br>      
（昆之心声：坏我好事！！我只是吓吓亚美~~~~想看看她花容失色的表情而已！！）<br>      
“我只想要阻止你！”<br>      
各位长期以来支持本评论的朋友们，我们……我们终于看到最最最叫人动容的话了啊！！！！！<br>      
虽然，这句话只有短短的7个字（外加评论员所加的一对引号及一个感叹号）！但是，这其中所包含的情感是多么的复杂！！这种情感已经远远超出了一切阶级立场！！！简直可以比拟统战时期的国共！！<br>      
尤其是“只想”2字！多么单纯，又多么繁杂的感情啊！！！一切阶级矛盾都敌不过自己内心的冲动！！！单纯想要保护某人的冲动啊！！！！<br>      
看一下他的眼神，多么恳切！！看一下他的言语，多么质朴！！看一下他的行动，多么直接！！<br>      
朋友们，让我们为涅夫莱特同志这句饱含深情的话语鼓掌叫好，让我们为他那种为了真爱敢于抛弃一切，甚至不惜与夕日同僚拔刀相向的举动掬上一把支持的泪吧！！<br>      
（先让我自己寒一记= =）</font></p>         
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm55.gif"></font></p>       
<p align="left"><font face="宋体" size="2">正当他换衣服的时候（- -b），佐伊塞特的影子出现在镜子里…………<br>         
我说……小佐同志，你是不是候好时差，算准这个时间地场卫会起来照着镜子换衣服啊！？还是想看你那主人的……裸体啊！？恶趣味……</font></p>         
<p align="left"><font face="宋体" size="2"><img width="261" height="193" src="eg/eg.htm56.jpg"><img width="252" height="189" src="eg/eg.htm57.jpg"></font></p>       
<p align="left"><font face="宋体" size="2">第35集~~~~~~~~~的预告…………|||||||||||<br>       
好象又有新发展~~~~~<br>       
亚美那边就那样了~~~咱静观其变~~~~~<br>       
现在又有新动静了啊啊啊啊啊~~~~~~~~~~~~~<br>       
原来~~~~原来~~~~~~~~~<br>       
我就知道~<br>       
当初佐伊塞特从一出来嘴巴里就老叨咕“SailorV”的~~~~~说明什么问题？！<br>      
哼哼~~~~表以为涅夫莱特和亚美的事能帮你瞒混过去！！！！！！<br>      
我们群众可是火眼金睛呐！<br>      
在第34集的中文字幕版出来后…………我们很激动地截到一张图~~~~~<br>      
以此可以充分证明----佐伊塞特跟美奈子之间的非比寻常的关系！！！！！！！<br>      
大家请看！！！！！！！！！！！<br>      
各位啊啊啊啊啊…………（车田式流泪）<br>      
又一段跨越了敌对的阶级立场的、有前途的、坎坷的、辛酸的、浪漫的、伟大的感情啊啊啊啊啊啊！！！！！<br>      
虽然这一切来的很突然……不……其实一点也不突然！！！！！只是在搭配方面叫支持原著的朋友们有点……不太习惯！！！！不过！！这又有什么呢？！<br>      
我们很高兴地看到~~~月（月亮王国）黑（黑暗帝国）两国的友好邦交正在很好地展开着！！！！！！！！我们期待两国今后在政治经济军事文化各方面的进一步的交流与合作！！！！！<br>      
（………………我在说什么………………）</font></p>      
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm58.gif"><img width="250" height="189" src="eg/eg.htm59.gif"></font></p>      
<p align="left"><font face="宋体" size="2">欢欣鼓舞，普天同庆！！！！！！！！！！！<br>      
剧情有了新发展，不容不关注！！！！！！！！！！<br>      
话说涅夫莱特成为贝尔女王阴谋的牺牲品，侥幸不死。但是却丧失了四天王的力量，成为普通人，感到万般耻辱。<br>      
随后他无意中遇到了元基（其实是他非常郁闷的时候把元基的货物都撞翻了，元基找他评理，他就顺便把气全撒在了元基身上才对）<br>      
元基真是个非常善良的人啊~~~~~居然把这么个不明来历的人带回店里打工一刚……还帮他取了个名字…………涅夫小吉（因为觉得涅夫莱特的名字太长不好记，所以取了2个字再加上他那只乌龟“龟吉”名字的的一半……他真会取名字……抽筋）<br>     
（要死，请原谅我的语气……）<br>     
今天的情节就主要是在元基的OK厅里发生的~~~~<br>     
涅夫莱特对元基给他取的新名字非常不满意！！！！但是寄人篱下，身不由己……（摸摸……可怜的小涅……越来越同情你……）<br>     
他强烈要求换个名字！（应该是威胁元基给他取个好听的名字……因为地场卫听到元基这么叫他的时候是一副想笑不敢笑的表情……）<br>     
回正题，当涅夫莱特再一次对元基这么叫他表示强烈不满时，小兔和亚美来到OK厅~（激动，激动…………）<br>     
小兔和亚美并不知道已经变成了普通人的涅夫莱特的真实身份。<br>     
于是，元基向她们介绍……同时自作主张地给涅夫莱特换了个名字，以消除涅夫莱特的不满……<br>     
但是………</font></p>     
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm60.gif"><img width="250" height="186" src="eg/eg.htm61.gif"></font></p>     
<p align="left"><font face="宋体" size="2">……………………大家也看到了…………小兔跟亚美的表情也是想笑不敢大笑的表情………………<br>     
“涅夫林”…………实在不是个好名字………………那个“林”字哪里出来的？<br>     
涅夫莱特筒子终于暴走了…………<br>     
虽然对方是他老板兼半个监护人………………但是，在心爱的人面前遭受嘲笑……谁都不会开心的吧？</font></p>     
<p align="left"><font face="宋体" size="2"><img width="250" height="187" src="eg/eg.htm62.gif"><img width="250" height="186" src="eg/eg.htm63.gif"></font></p>     
<p align="left"><font face="宋体" size="2">而这个时候，真琴正好来了，看到涅夫莱特这样抓着元基，自然义愤填膺……（义愤？！）一个过肩摔，把涅夫莱特筒子飞出去了…………<br>     
涅夫莱特这下是怒火中烧了…………<br>     
………………</font></p>     
<p align="left"><font face="宋体" size="2"><img width="250" height="185" src="eg/eg.htm64.gif"><img width="250" height="188" src="eg/eg.htm65.gif"></font></p>     
<p align="left"><font face="宋体" size="2">随后，小兔和亚美为了给元基和真琴制造机会，因此巧言将元基引到真琴做义工的地方。<br>     
于是，元基将店里的打扫工作暂交给涅夫莱特……（事实上，元基叫涅夫莱特做的都是打扫工作………因为有一次涅夫莱特端了一盘饮料，那个手抖得呀……）并且不顾他的抗议当着亚美的面又叫他“涅夫林”…………<br>     
所以，店里就只剩下亚美和涅夫莱特2人啦~~~~~~OH YEAH！！！！！！<br>       
失去了力量的涅夫莱特面对亚美自然是感到非常不爽…………（在心爱的人面前表现得那么没用么自然会不爽……）<br>       
羞愧地低头……（涅：我踩踩踩！！！！！！谁羞愧了！？啊！？你找揍是吧？！）</font></p>       
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm66.gif"><img width="250" height="187" src="eg/eg.htm67.gif"></font></p>      
<p align="left"><font face="宋体" size="2">亚美对于涅夫莱特的真实身份还没有察觉，因此只是觉得这么个人很奇怪。<br>      
涅夫莱特发飚，把东西全扫翻在地。<br>      
亚美非常温柔地在那里整理。<br>      
这锅时候涅夫莱特心里那锅尊素五味杂成呐…………（心理描写纯属解说员YY……）<br>      
不过自尊心作祟，嘴上老是说反话……<br>  
</font>  
</p>      
<p align="left"><font face="宋体" size="2"><img width="250" height="185" src="eg/eg.htm68.gif"><img width="250" height="188" src="eg/eg.htm69.gif"></font></p>      
<p align="left"><font face="宋体" size="2">啊啊啊~~~~~好温柔的亚美啊啊啊啊…………<br>      
劝说涅夫莱特要心平气和，一件件来~~~~~<br>      
顺便接过他手上的鸡毛掸子……（我实在不知道那个是什么毛……）<br>      
哦哦哦哦哦…………涅夫莱特你真有福气！！！就是以前她没帮过你补过披风么你也该看上她了，那么好的姑娘多少年才出一个啊！？<br>      
随后涅夫莱特就开始YY……呃……不，是回忆，回忆起以前邪恶亚美送他新披风的情节…………（我说你这个情节都回忆了几遍啦！？）<br>      
…………亚美放好鸡毛掸子后开始拿他的扫把了……看样子打算是帮他把工作都做好……</font></p>      
<p align="left"><font face="宋体" size="2"><img width="250" height="186" src="eg/eg.htm70.gif"><img width="250" height="187" src="eg/eg.htm71.gif"></font></p>      
<p align="left"><font face="宋体" size="2">从表情上看涅夫莱特筒子显然是非常感动……<br>      
涅夫莱特内心挣扎中：天啊……我是要重新回复力量，回到贝尔女王那里去复仇来的啊！为什么……为什么这个时候让我重新遇到亚美啊！？还是个那么温柔的版本……虽然有谓"君子报仇十年不晚"，但是我也不能老在这里儿女情长吧？！<br>      
涅：（头上十字筋）你找揍是吧……没事随便诽谤我！！！毁我形象跟名誉！！！！！！破坏我在亚美心目中形象啊啊啊啊！！！………我扁！！！<br>      
实在受不了内心煎熬，涅夫莱特夺路而逃（？）。<br>      
亚美不解地看着他。</font></p>      
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>