<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>动画版贝尔并不是被安迪美奥杀死的N个理由</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">动画版贝尔并不是被安狄美奥杀死的N个理由</font></b></p>
<p align="center"><font size="2">作者：</font><a href="mailto:jackzhou91@hotmail.com"><font size="2">Ariel</font></a>
</p>
<p align="left"><font size="2">总觉得贝尔被安狄美奥杀死不太可能，虽然说玫瑰里面有着安狄美奥对倩尼迪深切的爱，但是也不太可能杀死黑暗帝国的女王吧。<br>
<br>
何况在贝尔胸前被射中了玫瑰的时候，她去美达丽那里，是请求美达丽给她力量：<br>
“Queen Metallia-sama，I beg you，please lend me your power.The power to destroy that accursed child.I be seech you.”（英文版）<br>
贝尔仅仅是要求美达丽给她力量，而美达丽把自己的全部力量赐与了贝尔。而当贝尔从地低下冒出来的时候，她说：<br>
“After all，the dark energy is with in me.”<br> 
（在最后，黑暗的力量终于为我所有。）<br>
那么，如果是美达丽的话，会说这样的话吗？本人认为只有贝尔，获得了美达丽的全部力量，才会说：“在最后，我终于得到了这样的力量。”对吗？<br>
<br>
更何况，她也说过：<br>
“Princess，this time you will surely die!”<br>
（月亮的公主，这次，你将会百分之百的死亡！）<br>
请问，如果是美达丽的话，她之前并没有和倩尼迪公主交过手，凭什么说“这一次”？只有贝尔。因为“上一次”在地下的时候并没有杀死水手月亮。所以，“这一次”一定要杀死倩尼迪公主。<br>
<br>
综上所述，杀死贝尔的不是安狄美奥，而是倩尼迪。<br> 
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>