<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>飞蛾灯</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">飞蛾灯</font></b></p>
<p align="center"><font size="2">作者：</font><font size="2"><a href="mailto:ae890624@hkedcity.net">Ayla</a></font>
</p>
<p align="left"><font size="2">飞蛾被蓝色灯光吸引，飞到灯上。<br>
烧毁了，噗的掉下来，像一张烧焦了的纸。<br>
拿拉达和奈留轻轻地看着它和它，不发一言。<br>
这就是我对他和她最深刻的记忆了。<br>
夜色很凉，拿拉达和奈留就在公园里坐着－－那只飞蛾是他的写照吗？<br>
是他，不是她。<br>
他在夜色里是不真实的。这是我的直觉。<br>
这麽多年前看的片段，具体的当然不记得了，只有那种感觉是深深的记住了。<br>
他全身都是绿色的血，拚命护着奈留不让她受到伤害。<br>
拿拉达知道自己对奈留是很重要的，可是对他来说她比他自己重要，才会宁愿她伤心，也不愿她被杀。<br>
两人再跑到公园里，奈留撕下衣角为那拉达裹伤，她的眼泪不止，看到这里我也哭了，听不到她在说什麽。三只妖魔追来了，拿拉达又是和它们一轮撕杀。<br>
到了最後，拿拉达不支，在杀死妖魔後终於倒下了，他受了很多伤，看样子是没救了。<br>
他说了最後一句话：「奈留，对不起……我不可以和你一起去吃冰淇淋了。」我第一时间想到的不是冰淇淋，而是那只飞蛾。<br>
灯蛾扑火，果然是他的写照！<br> 
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
