<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>反派之感怀</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">反派之感怀</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:zoisite@263.net">反派守护神</a></font></p>
<p align="left"><font size="2">（写此文之时，正在听游戏《堕落天使》的同名主题曲《The Fallen Angel》，感觉不错，顺便打广告，这首音乐真是做绝了。）<br>
<br>
我不知道多少人和我有一样的感受——但如果有，一定很少。<br>
<br>
第一次对于Zoisite（的人物形象，而并非其“变态”特质）留下强烈印象，相信许多人都是在第24集，也就是Nephrite挂掉的那一集吧。结果，Nephrite这个人气相对较高的反派正是被Zoisite做掉，所以一开始她给我的印象，实话实说，非常差。小反派中勾心斗角，互相陷害的一幕在美战中首先出现于她身上，除去第一个还算光明正大的Jadeite，也许此时反派中（品行）最恶劣的角色就要数她了。<br>
在为Nephrite挂掉而讨厌Zoisite的时间过去之后，心态渐渐平和下来，也开始注意她的一举一动和…感情起伏。当剧情发展到彩虹水晶（忘记是第五颗还是第六颗），Zoisite因Kunzite称赞元基女朋友莉香（是这名字吗？）而噘起嘴吃醋的时候，我的感觉是——震惊。因为之前的三十多集里，对反派的描写可谓少之又少，除去出场一集就挂的不算，Jadeite给我最深的印象就是很没品的仰天长笑。在Nephrite的“正反派恋”（或者“人妖恋”，动画不是翻译成“妖魔”吗？-_-b）结束后，我以为对反派的感情刻画已经到极致了——但没想到，绝对没想到还有表现得如此人性化的镜头。事实上，吃醋的场面在初代的正派中也不多见，Zoisite顿时给我一种亲切感，同时拉下了反派“装酷、装坏、装赖（读音lāi）”的光环（不太漂亮的光环……）。至此，我对Zoisite正式产生了兴趣，可以说是第一个转折点。<br>
此后，类似的小场面不断，最精彩的要数《露娜的霉难日》一集（这是我认为初代中最搞笑的一集）。在这一集里，Zoisite很不幸地被迫要钻下水道，同时因为下水道中的臭气而露出了反派中最秀逗的经典表情。再加上不小心摸到的“谜之生命体”（两种说法：老鼠or蛆-_-|||）时惨绝人寰的尖叫和彩虹水晶被抢走时，头上的一个大汗滴，可以媲美正派的搞笑镜头，“可爱”（你要说是“可怜没人爱”也行）的印象不知不觉便形成了。不过，仅仅是可爱的话还不会我这么喜欢。在金星出场的那集，Zoisite在心里默默的表白和当Kunzite受伤之后，奋不顾身的挡在他身前时，之前因为Nephrite而造成的我心里上的隔阂终于完全消失了。大阪奈留可以挡在Nephrite跟前，是因为她喜欢他。而Zoisite同样也可以挡在喜欢的人身前……“反派也是有感情的！”到这里，Zoisite的形象可以说已经很完善了——既有反派原有的（不如说是一定得有的）阴险、残忍的一面，又有她自己美好的一面。同时，因为展现了好与坏的特质，在感觉上也更接近常人，而不仅仅是一个2D的小反派。这是第二个转折点。<br>
当粉红色的最后一片花瓣划过屏幕，表示Zoisite正式挂掉之后，本来她的故事可以就此结束了。就像Nephrite一样，挂掉之时达到最高潮——但也许是因为画面不太打动人（除了Zoisite流泪和最后的花瓣还蛮感人之外-》见图），我有一种隐隐的预感（这时我已经完全进入“角色扮演”的状态了^^）：她的戏还没完……因为Kunzite还在（我们可以说Kunzite这个形象是全靠Zoisite建立起来的）。果然，若干集之后（我记得是月光公主滑雪大赛那集？OR温泉旅行那集？），与暂时的反派（骨子里还是正派！正派卧底）安迪密欧几句不和之后，拿起他与Zoisite的合影……尽管一两秒之后镜头马上切换到正派那边，然而我已无心继续看下去。他当然是在回忆，回忆Zoisite，于是我也情不自禁开始回忆，从与Nephrite一齐出场，到缠着Kunzite诉苦“我好委屈～”，然后做掉Nephrite抢黑水晶，然后收到了Kunzite的赔礼（还不就是一朵花^^），然后凝视着Kunzite默默表白，然后死在Kunzite怀中……（可能是我“角色代入”太过头了吧？@_@）渐渐的，心中涌起一阵悲哀——为了一个反派而深深的悲哀……<br>
此时，我（还有Kunzite也是吧？）对于Zoisite的感情才真正达到最高潮。不同于Nephrite的正反派恋，因为当奈留跟海野好上后心里也就满足；不同于美战中最煽情（煽得最用力）的男女主角之恋，那要伴随着美丽而凄凉的画面才一步步达到顶点。然而，对于Zoisite，我可以晚上一个人窝在被窝里，睁着眼或闭着眼慢慢回忆。平心而论，我从没见过——以后也没见过这种单凭观众自己的回忆（重点！）来感人的场面（尽管这不知是编剧的有意栽花还是无心插柳）。也因此，Zoisite，这个本该说挂就挂的默默无闻的小反派留给了我不可磨灭的深刻印象。<br>
在第一遍感动之后的第二遍、第三遍甚至是第四遍的看美战时，我无法克制地把目光锁定在Zoisite身上——<br>
因为我知道她会挂，而且挂之后还不作罢，还要故意通过Kunzite之手来折磨我脆弱的心灵来狠狠地煽我的情，还要让我晚上因为一遍遍回忆而失眠三个小时……<br>
<br>
你可以说我，说我太神经质，说我卑鄙下流无耻变态加三级（别真说呀！我很脆弱的），说我临场感过重角色代入心过强RPG（角色扮演游戏）打多了要戒游戏……<br>
我回答：我只是想要留下更多回忆而已。<br>
（这句话，也是顺便帮他说的。）
<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
