<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>对于国外不同配音版本中Kunzite和Zoisite的一些思考分析</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b>对于国外不同配音版本中Kunzite和Zoisite的一些思考分析</font></b></p>
<p align="center"><font size="2">作者：月光外的恋歌</font></p>
<p align="left"><font size="2">
首先，我必须承认，我的了解覆盖不到很全面的范围，我自己会的语言也只有汉语和英语而已~<br>
不过，在DA那边有国外同好和我讨论起这个，我觉得貌似这个话题也有不少可讨论的内容，于是我就来开个帖子大家讨论一下好了。<br>
<br>
我所涉及的包括日文原声字幕版、中文配音版、北美英文版、德文版、法文版还有俄文版。如果有童鞋知道更多版本的话，就都一起来说说吧。<br>
-------------------------------------------<br>
<br>
首先，中文版和日文版，观月斋童鞋有篇文说得很清楚了，于是我不赘述……<br>
观月斋童鞋的文：</font><font size="2" face="宋体"><a href="kznbdskfx.htm">对于三位天王和女王的一些思考分析</a></font><font size="2"><br>
<br>
之后就说北美版，北美版将Zoisite的人设改成女性这一点貌似已经是人尽皆知的了我个人的观点是，既然会出于对“同性恋”的顾虑而将Zoisite改成女性，那么就说明北美方面对于Kunzite、Zoisite关系的看法，是毫无疑问的——恋人~<br>
当然也有另外一种解读，就是——夫妻~<br>
据DA那边的同好说，在北美版当中Kunzite、Zoisite的关系倾向于完全的平等，他们是男女朋友，是恋人，或者是夫妻，总之是平等的~而且从一开始他们就彼此都很相爱，不会给人那种“K爱Z爱得不够”那种错觉（好吧，根据我的理解和推断，我觉得如果有人说Kunzite爱Zoisite不够的话确实是错觉……）~<br>
换言之，在北美版动画当中，Kunzite、Zoisite的关系倾向于平等的情人（而且不是同性），而不是很多其他版本当中所认同的那种师生或者上下级甚至从属关系~好吧，只要Kunzite、Zoisite是相爱的，不管什么性向什么身份我都会支持<br>
当然还是不得不说，我个人一直倾向于认为Kunzite、Zoisite之间不仅仅是简单的“爱情”而已，他们的情感还建立在共同的理念、共同的立场之上，除了单纯的爱情之外，他们同样具有精神上的共鸣和相互的认同，对我而言这是比爱情本身更加重要的、会让我支持一对CP的因素。<br>
<br>
有句话很俗并且有着强烈的时代特征，我自己有时也调侃那句话。不过有时候也会觉得，对于Kunzite、Zoisite来说或许也并不至于完全不合适：“我们来自五湖四海,为了一个共同的目标走到一起。”<br>
据说，这是中国二十世纪五六十年代的结婚宣言+告白句式……<br>
<br>
接下来说说法语版、德语版还有俄语版……<br>
<br>
据说德语版的Zoisite也是女声配音~不过，Kunzite、Zoisite之间的关系具体细化讨论，我就不太清楚了……因为我不懂德语，而且也没找到过德语版……<br>
<br>
然后说到俄语，据DA那边的同好说，俄语版的Zoisite弥留之际对Kunzite说他爱着Kunzite……“like a 
father”。换言之，貌似在俄语版当中，Zoisite对Kunzite的感情似乎更多是对长辈的那种带着敬意的情感……好吧，我印象中确实很多俄国作者画的Kunzite、Zoisite同人图当中KZ都是师生关系，不知道和这有没有关系？<br>
另外关于俄国同人当中的四天王……我看不懂俄语，貌似也很少看到俄罗斯网友写的英文同人……不过我记得以前看过黑暗城堡网站站长睦月紫千大人的一篇分析文章，分析得相当全面而透彻，我也就不赘述了~<br>
目前看来，就我所能找到的部分当中，俄罗斯网友算是国际黑暗王国同人领域，尤其Kunzite、Zoisite领域的主力了吧~<br>
当然我个人是比较倾向于Kunzite、Zoisite之间存在师生关系，因为我觉得以Zoisite和Kunzite的性格看来，Zoisite会有很多方面相当依赖Kunzite，而Zoisite从Kunzite那里显然也可以学到很多有用的内容~不过反过来，我同时也觉得Kunzite在情感方面其实也是在依赖着Zoisite的，可以说对Zoisite的情感就是他情感世界的全部，因为他本身是个无情的人。<br>
只是这一种依赖应该是深藏在Kunzite内心最深处，或许Zoisite不知道，或许Zoisite心中明白只是从来不说，或许Kunzite自己都没有意识到，但不管怎么样，我觉得它始终存在于Kunzite的心底~<br>
换言之，Zoisite对Kunzite的依赖是有形的、可见的，而Kunzite对Zoisite的依赖是隐约的、微妙的、不可知但有确实存在的~<br>
<br>
说到这里我想起一句貌似是很小资情调（？）的话，好吧我真的忘了是在哪里看到过了……或许是中学时期看过的作文素材手册之类的东西？<br>
关于鱼和水的，当然此处的水特指鱼缸里的水：鱼依赖水，但是鱼离开水之后还有大海，而水失去了鱼就失去了一切，它的心就空了。<br>
或许和我对Kunzite、Zoisite的理解有一定相似之处吧~<br>
<br>
于是，还剩下法语版~<br>
<br>
同样，据DA那边的同好说，法语版当中的Zoisite将Kunzite称为“My 
brother”。首先我不得不说，我不知道“兄弟”这个词在法兰西文化当中是不是有什么特殊含义，因为我对法国文学和法国社会了解的得都极其有限……<br>
如果就只是字面含义的话，那么……我想起了之前看到过有人讨论说，中文配音版的美战第二部对“友谊”这个词的广泛应用……<br>
如果还有什么其他的深意……好吧，我承认我不了解如果有了解法国语言文化的童鞋能够解释一下就太好了~<br>
<br>
对于法国作者的同人我也不太了解，我只看过一个法国作者的作品……就是写过《伎》还写过《A New Shinma》《Wipe Out》《A Different 
Choice》等等很多篇关于“Shiro”系列Kunzite、Zoisite同人文的那个作者~我很喜欢那个作者的文。<br>
那个作者在FF的专栏简介上说，对于Kunzite、Zoisite的情感她思考了十几年，但是仍然没有思考出一个完美的答案来，于是她就开始为他们写同人文~我觉得她的文都是感情细腻、心理描写细致入微的那种，而且文字也很优美流畅~是非常成熟而且有才华的同人作者~在她的笔下有一个接近于完整的KZ世界系统~<br>
这个作者笔下的Kunzite对Zoisite爱得既热烈又深沉，在《Wipe 
Out》那篇文里体现得最为深入。而在《Birth》那篇文中Zoisite想要和Kunzite生一个孩子，而在这个作者设定的世界当中shinma的诞生过程极其复杂和纠结……貌似有点类似于植物的营养繁殖吧，我觉得……而Kunzite一开始不肯冒那样的风险让Zoisite“生”一个孩子，他的理由就是他不想冒失去Zoisite的风险而去获得一个Zoisite的山寨版。<br>
不过她所有文中我个人最认同的一句话是《Tales of the Silver Millenium》那篇文中的一句：【Zoisite. Wouldn't that 
be easier to talk about it, instead of ruining an innocent gift from that poor 
XXX?】<br>
Zoisite是有人爱的幸福的孩子，那么何妨高姿态宽容一点。<br>
<br>
当我在外网看见有人提到西班牙语版当中的Kunzite、Zoisite关系居然变成了叔侄的时候我承认我震惊了一下，只是……不知真假。<br>
<br>
好吧，我所理解的就这么多了，如果童鞋们有什么想法欢迎讨论交流。
<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>