<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>关于拿拉达</title>
</head><body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">关于拿拉达</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">在动画版里，拿拉达是喜欢阿兔的同学那鲁（奈留）的，他们的感情很悲伤，从一开始，拿拉达就骗她，可是奈留一如继往地喜欢他，相信他，直到拿拉达灰飞烟灭！<br>
他本应该是一个没有感情的杀手，只是被贝尔女王利用的人，但他终于被小女孩所感动，露出了灿烂的笑容，美丽的爱情，难道真的偏要悲剧来结束？他为什么就不能拥有新生呢？动画片的制作员们是不是让他们太悲惨了？类似的还有狄文王子（又论）。<br>
四天王中，只有古舒达才没说明死还是没有死（动画版），其它三个，都悲惨地死去，塞西达还算幸运，死在心爱的人的怀中，虽然他和古舒达的关系让我无法接受；但是拿拉达，他在奈留的怀里一点一点地消失，却连奈留为他包扎伤口布都不能随他一起离开……</font></p>
<p align="center">　<font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：<a href="mailto:meiliyueguanggongzhu@sina.com">月光公主</a></font></p>
<p align="left"><font size="2">我也不喜欢不漂亮的娜鲁，不过她对涅夫莱特的爱竟能发出那么大的能量真的让我好惊奇，好感动。我第一遍看的时候都哭了，真是一场悲惨的恋爱。<br>
不过她那么快就可以忘了涅夫莱特，去喜欢那个四眼海野，我完全无法接受，这也是我讨厌她的原因。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">赞成，海野也不是一个好家伙，开始时那么喜欢阿兔，不知道什么时候又喜欢那鲁了。而且，拿拉达那么帅，海野实在是……<br>
唉，我完了，无法摆脱世俗……</font></p>
<p align="center"><font size="2">作者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">海野那根本不是恋爱（虽然他自认为是恋爱），倒像是小孩子玩的游戏，他与奈留之间也可能只是单纯的友谊，远远没有上升到爱情的高度。<br>
奈留并没有忘记这一切。死去的人已经死了，活着的人就该好好地活下去，奈留所能做的，只是将那段曾经有过的甜蜜永远深藏在心底，抛掉悲伤，然后开开心心地继续生活在这个旋转不息的蔚蓝色星球上。<br>
其实我觉得，贝尔允不允许倒没什么，关键是拿拉达不应该跟赛西达闹得太僵，尤其是在自己已经有所顾忌的情况下，这样做对谁都不会有好处，反而是河蚌相争、渔翁得利。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">有道理，海野他总是在胡闹，他纯粹就是一个为搞笑而出现的小人物，有时却不好笑，让人烦。<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
