<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>黑暗帝国新解</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">黑暗帝国新解</font></b><p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font>
<p align="left"><font size="2">我正好有一个疯狂的设想，索性就借这次机会说出来罢！诸位不要骂我啊！<br>
我的猜测是这样的：<br>
诚然，贝尔极爱王子；但，她之所以成为黑暗帝国的女王，并不是什么由爱生恨，而是有着更复杂的原因！<br>
理由：<br>
其一，贝尔爱王子，因此当公主与王子接近时，她必将尽全力去监视、跟踪，想因此找到一些不允许王子接近公主的理由。<br>
其二，若贝尔确实认真地调查过公主及月亮王国，就肯定会发现月亮王国正在监视地球。<br>
其三，当贝尔把非同小可的监视之事严肃告予王子时，王子必听不进去，没准儿还会反驳她，说她是因为妒嫉才栽赃陷害；贝尔无奈，只得去找四天王帮忙，但是，四天王的话，王子也照样听不进去。<br>
其四，正当五人一踌莫展之时，贝尔突然通过某种方法探出，美达利女王不久将降临地球。<br>
其五，于是，他们决定，用向美达利女王臣服的方法，换得强大的力量。这样就可以打败月亮王国，使地球摆脱受监视之苦。<br>
其六，再往后，嗯……我想诸位已经都知晓了罢？<br>
结论：<br>
贝尔本不是坏人，也没那样强的妒嫉心及占有欲，四天王当然也不是坏人。他们五个原想做件好事的，岂料竟会弄到这个地步？所以黑暗帝国的事，也不可全怪他们。<br>
</font>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
