<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>开枪的若干种后果</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">开枪的若干种后果</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a>、<a href="mailto:ztjz@yeah.net">素盏</a>、<a href="mailto:nacia@sohu.com">Nacia</a>、<a href="mailto:perious@sina.com">Perious</a>、<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>、<a href="mailto:shuiyueyaoji@sina.com">红沮</a>、<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a></font>
</p>
<p align="left"><font size="2">本文由QQ群里聊天对话整理而成…… 
</font></p> 
<p><font size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a>：如果对着倩尼迪的脑袋开一枪，会发生什么事情？<br>
<a href="mailto:ztjz@yeah.net">素盏</a>：在脑袋的不同部位会出现两个一模一样的窟窿，然后银水晶从窟窿里发出光来修补窟窿。<br>
<a href="mailto:nacia@sohu.com">Nacia</a>：首先，剩下的四战土不会放过你，然后外太阳系的三战土也会找上来。不过，在这帮女人扑上来以前，会有一男人先上，虽然结果大概是往生。说不定，还会有其它银河系战士，例如三束光之流来找你。如果你要杀的女人没死，说不定还能看见未来小超人，然后是你要杀的女人亲自上阵……总之，杀人者是不太会有活着的下场的。<br>
<a href="mailto:perious@sina.com">Perious</a>：她先会死掉，然后那块玻璃会发光，然后她就活了。<br>
<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>：安狄美奥在旁边哭，外加自责，四战士在一边自责没有尽到责任，某人想要冲上去找你报仇。<br>
<a href="mailto:shuiyueyaoji@sina.com">红沮</a>：美莉亚姆立刻召开倩尼迪追悼会！<br>
<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a>：宇宙暴动（各位反派们可以动手了）。<br>
<br>
<a href="mailto:Russophile_17@sohu.com">Jadeite</a>：如果对着安狄美奥的脑袋开一枪，会发生什么事情？&nbsp;<br>
<a href="mailto:ztjz@yeah.net">素盏</a>：在脑袋的不同部位也会出现两个一模一样的窟窿，然后倩尼迪痛哭，眼泪变成银水晶，替安狄美奥修补窟窿。但是如果开枪的就是倩尼迪，那么安狄美奥就完了，她想杀的人还没有杀不成的呢。<br>
<a href="mailto:nacia@sohu.com">Nacia</a>：那就简单多了，只有一女人会扑上来，而且你肯定死，根本轮不到其他人前赴后继。<br>
<a href="mailto:perious@sina.com">Perious</a>：他也会先死掉，然后被弄活。<br>
<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>：你不用活了，因为倩尼迪和贝尔都会找你算帐。但如果开枪的是她们俩中的一个，呵呵呵，就有好戏可以看了。<br>
<a href="mailto:shuiyueyaoji@sina.com">红沮</a>：古舒达立刻找向安狄美奥开枪的人索命！<br>
<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a>：我一定要抓住这个人，宁可错杀一千。<br>
<br>
<a href="mailto:Russophile_17@sohu.com">Jadeite</a>：如果对着贝尔的脑袋开一枪，会发生什么事情？<br>
<a href="mailto:ztjz@yeah.net">素盏</a>：在脑袋的不同部位还是会出现两个一模一样的窟窿，然后美达利从窟窿钻进去了。<br>
<a href="mailto:nacia@sohu.com">Nacia</a>：嗯，你继续活着过舒服日子，可能有些女人会哀悼一下，不过也只有一下。<br>
<a href="mailto:perious@sina.com">Perious</a>：挂了。运气好的话被看上她的某某反派boss复活。<br>
<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>：很多人会很高兴（正派、普通人、以及部分反派），然后下一个BOSS提前登场。<br>
<a href="mailto:shuiyueyaoji@sina.com">红沮</a>：美达利抓狂！<br>
<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a>：王位争霸战。<br>
<br>
<a href="mailto:Russophile_17@sohu.com">Jadeite</a>：如果对着四天王中的某位的脑袋开一枪，会发生什么事情？<br>
<a href="mailto:ztjz@yeah.net">素盏</a>：在此人脑袋的不同部位仍会出现两个一模一样的窟窿，但是没人会替他修复，他会变成一块能穿根线在上面的石头，被主人随手挂在哪儿或者随手扔了。<br>
<a href="mailto:nacia@sohu.com">Nacia</a>：那只能看他们有没有团队意识了。有，其他三个会来找你；没有，舒服的活着。<br>
<a href="mailto:perious@sina.com">Perious</a>：（动画版）剩下的会在暗地里高兴，PS，不适用古舒达和赛西达；（漫画版）别人会来收拾你，不过最后他们会因为其他因素挂了。<br>
<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>：下一个马上跟上，尽前者未完的任务（遗志？--绝对不是），如果关系好，会替他报仇；不好？嘿嘿嘿嘿，死者就等着被抹黑吧--说不定是跳到黄河都洗不清了。哼哼哼，没办法，死人是不会说话的。<br>
<a href="mailto:shuiyueyaoji@sina.com">红沮</a>：偶立刻轰了那个开枪的人！<br>
<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a>：黑暗城堡暴动……大家各抢各的，结果每个天王前都拦了一排的人。<br>
<br>
<a href="mailto:Russophile_17@sohu.com">Jadeite</a>：如果对着四战士中的某位的脑袋开一枪，会发生什么事情？<br>
<a href="mailto:ztjz@yeah.net">素盏</a>：在此人脑袋的不同部位自然也会出现两个一模一样的窟窿，倩尼迪自然也会痛哭，眼泪变成银水晶，替此人修补窟窿，但补好之后此人多半不会像安狄美奥那样马上清醒过来，结果还得开病假回母星疗养一段时间。<br>
<a href="mailto:nacia@sohu.com">Nacia</a>：和“如果对着水兵月的脑袋开一枪，会发生什么事情？”的结果基本差不多。<br>
<a href="mailto:perious@sina.com">Perious</a>：你会被其他人宰掉，然后她被复活。这个最不值得了，赔了夫人又折兵，千万别做。<br>
<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>：群殴……估计三年不用买包子了。<br>
<a href="mailto:shuiyueyaoji@sina.com">红沮</a>：黑暗帝国全体同志开庆祝会～&nbsp;<br>
<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a>：黑暗城堡开庆祝会。</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>