<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>空心的水晶——是水手战士就注定一生的缥缈</title>
</head><body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">空心的水晶——是水手战士就注定一生的缥缈</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:eternal_asuka@hotmail.com">アスカ</a></font></p>
<p align="left"><font size="2">这是我第一次正式发表有关SMOON的论文，请大家多多指教！<br>
～～～～～～～～～～～～～～～～～～～～～～～～～～～～<br>
水手战士的一生是孤独的，虚伪的，缥缈的。<br>
从生下来就有人分配给她们什么任务，她们也机器人般的照做，没有人反抗，没有人挣扎。她们也没有自我。<br>
这就是作为日本人的武内直子所创造出来的水手战士。<br>
都说绫波零最像机器人，这里的每一个人都是机器人，都是日本人的真实写照。<br>
恪守自己的本分——日本人的观点。<br>
“这是我们的任务。”是水手战士们说的最多的一句话。什么是任务？什么人会给她们布置任务？<br>
她们为了任务可以包容一切，放弃一切，生死一线间，却从来没有想过解决事件的更好的办法。有些事情是牺牲换不来的。<br>
我很欣赏贾宝玉的一句话（虽然记不清了）：“是他自己没能力才送了性命……”再往下的我不再说了，会伤害水手战士们的武士道精神的。<br>
“这是我们的任务。”一句话似乎交待了一切，也是水手战士们一生的枷锁。<br>
就算是月野兔，也一直生活在这个枷锁里，一直说着：“要保卫地球，保卫宇宙。”她可以说是看来最不孤独的一个，但是她仍然会有孤独的那一天——“进化、升级”成水手宇宙的那一天。<br>
责任变大了，任务艰巨了。<br>
作为水手宇宙的她似乎并不在乎，也如同机器人一样一直“恪守自己的本分。”<br>
梦幻银水晶——吸引着一切的一颗水晶。假若是因为银水晶的“放射”而来和月野兔产生友谊、爱情的人，到底是真心和她交朋友，还是想享受在银水晶照射下的感觉——不会让人孤独的感觉？<br>
不禁要问一句，阿兔不孤独是不是因为银水晶？<br>
水手水晶，限制了一切，堂而皇之——任务，或者更好的表达——枷锁。<br>
是她们甘愿在这个枷锁里生活的。</font></p>
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">同意！这个枷锁使她们迷失了自我。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">说得很好，阿兔虽然说过她们意义不仅在于水晶，还有他们的肉体也是有价值的。但她们无论前世今生，都不是由自己选择生活的道路。这也是作者为了使自己的作品说得清而造成的。而且，这些战士们总是要说一些空洞的大话，好象很伟大，但听来有时候倒也会感动，但更多的时候是烦。<br>
对，就是一个烦字，烦了以后就是为她们悲哀。对一部作品越喜欢，就去研究，结果就发现不足之外，而且越来越多，如果一涉及到思想内容方面，就更难受了。但我无权谈论解开枷索，我也有这个枷索，而且必须喜欢它。<br>
漫画也只是人性的夸张再现。</font><font size="2"><br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
