<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>对于Kunzite、Zoisite、Nephrite和Beryl的一些思考分析</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">对于Kunzite、Zoisite、Nephrite和Beryl的一些思考分析</font></b></p>
<p align="center"><font size="2">作者：观月斋</font></p>
<p align="left"><font size="2">
漫画版由于对四天王的忽略，人物较平淡，在某些方面的可读性很少，所以，不予考虑！同样，真人版由于其可另当他作的改动，所以其独立性与差异性也可让我将其不予考虑！所以，根据tv版，恩……据在下一点拙见Nephrite与Zoisite之间的矛盾或许是这样的： 
<br>
<br>
①中文配音版：中文版的台词中Nephrite、Zoisite的矛盾至始至终似乎更着重于Zoisite的个性与欲望，以及Nephrite、Zoisite之间的单纯对立，Kunzite在其中，似乎只是个帮助恋人和保护恋人的角色。这些在很多细节上都有体现，最突出的是在第23集，Zoisite在Nephrite事业受挫时对Nephrite说的“不如早点退位”是Zoisite的欲望的体现，当Nephrite对说之所以会去找银水晶是因为“我只是服从kunzite的命令罢了。”【在此，请别误会kunzite，在此前一集（22集）中，z受了委屈趴在kunzite腿上时，kunzite安慰Zoisite说“你就等着看我的好戏吧！”，所以这只是好戏中的一环而以~】 
所以之后，Zoisite跑到树林里去跟老昆诉苦，不仅仅是我们所认为的Zoisite在向Kunzite撒娇，其中更多的是Zoisite对Kunzite行动的疑惑和想明白老昆对这事的态度，所以才有了最终明了后的安心。 
<br>
<br>
从中还可以看出一点是，在四天王中，除了k地位最高，其余三个都是平等的，至于为什么Nephrite明知Kunzite、Zoisite的关系还听k的话，只能说是工于心计的Kunzite掌握了Nephrite急于寻回面子的心态罢了。 
<br>
<br>
②日文版：日语版对Nephrite、Zoisite的矛盾着更着重于Kunzite、Zoisite这对夫妻档对于事业的共同追求，更有有趣的是，出现了Nephrite对他与Zoisite之间的矛盾的解读与真实的原因不同的这一现象。【可能有些亲会说了“这有什么区别么？不都是Nephrite、Zoisite间有矛盾再夹杂着Kunzite？”其实是不同的，两种所表达的感情是不一样的，要有夫妻档这样的默契是需要很深的感情和信任的，而这再正常不过的情感放在黑暗王国中来看，都要付出比常人更多的努力！ 
<br>
<br>
而且，这样再也不是之前某些亲一直认为的Kunzite只是在利用Zoisite，Kunzite很自私了，Kunzite的每一句话，每一个决定，都不是只是单纯的只为了自己，而是为了两个人的未来！】好吧，再来接着说，还是在23集中的那个地方，Nephrite对Zoisite说“所以你就来替kunzite打探消息？”。 
其实，我们有一直认为Nephrite与Zoisite之间的矛盾源自Zoisite帮助k与Nephrite争夺地位，但我认为，Nephrite想错了，还是在22集中，台词所透露的与中文版的就有很大的区别， 
<br>
<br>
Kunzite：Zoisite，谁没耐性谁就输了…… <br>
<br>
Zoisite：可是，kunzite様…… <br>
<br>
Kunzite：暂且看看他能玩出什么花样！ <br>
<br>
其口吻更侧重于共同的感受。 
虽然在黑暗王国中k、Zoisite都有不同的任务，但他们所追求的最终的目标是统一的。所以，在此与Nephrite产生矛盾的不单单是Kunzite的野心与Zoisite对k爱的帮扶，而是Kunzite、Zoisite这一夫妻档对共同事业的追求，同时也是Kunzite、Zoisite爱的见证！ 
这也不难理解为什么Nephrite认为是Kunzite想要他的位置，但是Nephrite死后却是Zoisite接了他的班，并且Kunzite始终穿插在Zoisite的任务中这类现象了。而且，恐怕Nephrite作为Kunzite、Zoisite事业上的障碍他与Kunzite、Zoisite间的矛盾一直都在，只是在他替Jadeite后，矛盾才达到了最高峰。 
<br>
<br>
『★★★下面对Kunzite、Zoisite及贝尔来做段分析：而且，后来贝尔会杀Zoisite，不仅仅是因为愤怒，也是对Kunzite、Zoisit势力的顾虑，毕竟Kunzite、Zoisite在星光塔中得到了七颗彩虹水晶后并没有马上上交，作为领导人，对有实力又有二心的部下，不得不顾虑吧？ 
况且，抓住这个合适的理由，这一适合的时机来除掉Zoisite是在适合不过了，一来，可以挫挫Kunzite的锐气，二来，错在Kunzite、Zoisite，此时杀Zoisite不会引来Kunzite过多的怨恨，只会把祸水引向水兵月，把害死Zoisite的仇恨嫁祸到水兵月身上。 
<br>
<br>
事实上，贝尔这招成功了！【所以，这里也可以看出为什么贝尔说“他早就该死了！”却还是忍到现在才杀，是贝尔的宽容？看看她杀积达，就知道贝尔只会考虑战略因素不会考虑宽容的，至少，她对他们是这样的……】 
<br>
<br>
再来，是最关键的一点，抓住Kunzite想让Zoisite复活的心态，有利于掌控Kunzite，从Kunzite日后的举动中，就可以看出这一点，Kunzite从Zoisite死后的初期的情绪激动，一心一意只想杀死水兵月，认为夺银水晶是次要的，到慢慢的恢复正常，以完成夺银水晶的任务为优先，Kunzite并不是改变了心意，而是理性的他一定是在贝尔那里得到了什么承诺，那么又会是承诺呢？关乎生死，关乎权位，还是关乎那已逝的爱人？我想，Kunzite的初衷一直都没改变……<br>
<br>
从Kunzite临死时的坦然就可以看出Kunzite在Zoisite死后一直所追求的到底是什么了……一切的一切都化为最后的那句呼唤，那个在心中呼无数次的名字……Zoisite。 
<br>
<br>
这就是Kunzite，这个不被大多数人理解，也不屑于被人理解的男人内心中对爱情最温暖的守 
护和最热情的回应了……只是，这样的Kunzite、Zoisite，是无法像主角那样可以公平的拥有足 够的镜头正面的直白的全面的展示在我们面前的…… <br>
<br>
而且，上述的Kunzite、Zoisite及贝尔的部分在设定上，无论是日语版还是中文版都是一样的，因为内藏的剧情脉络如此。 <br>
<br>
而且，在此对Kunzite在Zoisite还活着时对贝尔的忠心来做点补充，事实并不是像某些人认为的Kunzite喜欢贝尔或者是Kunzite欣赏贝尔什的。别看到漫画版Kunzite亲贝尔的手就瞎想，漫画版在四天王的设定上感觉还是很适应欧洲骑士那一套的，那是礼仪，不是每个亲主人手的骑都跟主子有jq吧？！那人跟禽兽还有什么区别啊……
<br>
<br>
再说动画版中的，想看到上司的笑是再正常不过的事了，那是人的天性，联想自己，我们一生中为了利益或发展而想取悦的人还少了吗？更何况是在唯利是图的黑暗王国……所以，重点不是看Kunzite是不是想取悦贝尔（黑暗王国里除了傻子和没能力的，估计没不想取悦贝尔的吧？），而是要看Kunzite是为什么而取悦贝尔，以及在取悦贝尔的手段中有没有违背原则性的事情。显然是没有的，而且，一旦Kunzite、Zoisite握有更大的权，贝尔不再值得取悦时，Kunzite还会想取悦她吗？ 
<br>
<br>
我只想说，除了考虑战略因素外，Kunzite从未考虑过除Zoisite以外的人的情绪……所以，这里Kunzite想取悦的贝尔只是个权位的符号，Kunzite在乎的不是那个叫贝尔的存在，而是必须要通过努力来争取那与贝尔划等号的权位！★★★』 
<br>
<br>
③drama（广播剧），因为是官方的东西，在设定和剧情上都是一脉相承的，所以，我一直都把drama当成是tv版的扩充与私生活的揭密，算是tv版低成本的后续吧。由于朋友帮忙翻译的有限，而且基本上也没什么Nephrite、Zoisite的部分，所以，没有可供分析的Nephrite、Zoisite，不过，在Kunzite、Zoisite上倒是收获很多的~
<br>
<br>
私底下的Kunzite不亚于现在那些流行的王道中那些看似很爱很爱小受的小攻，Kunzite也会温柔，Kunzite也会抱怨，Kunzite也会因为Zoisite的撒娇而态度软下来，Kunzite、Zoisite也会有说有笑的作些无聊的事~当然，Kunzite、Zoisite也会不清水的……（消音~） 
呵呵，大体还是清水的~ 不过，就是那隐晦的提示能让傻子也明白到：清水都是骗小孩子的~ <br>
<br>
所以，这也让我很嫉恨在tv版中给他们的镜头太少了啊……而且，在90年代的日本动漫在设定上对作为反派的配角是很不公平的，在一集动画中，受每集总时间的限制，每句台词的时间都是有限定的，注定了他们的出场不足，无法在银幕上将人物性格与关系直白的展开充分。所以，只能靠抓脉络来梳理出被编剧隐藏在镜头下的事情呢……）
<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>