<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>狼的诱惑--致真人版涅夫莱特</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b>狼的诱惑--致真人版涅夫莱特</b></p>
<p align="center"><font size="2">作者：<a href="mailto:yelimg@nbsmzx.com">黑暗森林</a></font></p>
<p><font size="2">美战结束了，可总觉得少了些什么，说实话后面几集支持我看下去的最大理由就是亚美与涅夫莱特的这一段有开始没结尾的情感发展。<br>
一直以来都很喜欢亚美，可迷上涅夫莱特让我觉得都有一些莫名其妙。涅夫莱特给我的第一印象确实不好，甚至可以说很糟糕，这就让我联想到了狼这种动物。<br>
一直以来大灰狼都是残忍卑鄙的代名词，没有讨喜的外表也没有强到令人震撼的能力，只会残杀比自己弱小的动物，却受制于比自己强大的野兽。<br>
涅夫莱特的外型在以貌取人的我的眼中真叫一个难以接受，而他对水手战士肆无忌惮的下手，但却逃脱不了被坤载特嘲讽的命运，这更是符合狼一贯在人们心目中欺软怕硬的传统形象，他的火暴脾气同样也是狼的写照。<br>
<br>
我对狼的印象的转变源自一次看动物世界，看到一匹被狼群抛弃的受伤的独狼，看到它孤零零的独自舔嗜着自己的伤口，独自面对苍凉的大地仰天长啸，当时的第一反映就是觉得他很可怜，渐渐觉得它所做的一切，它的残忍只是为了自己可以继续生存下去。<br>
对涅夫莱特印象的转变则来自某一集他战败归来独自坐在一个阴冷的山洞里，与那匹被狼群抛弃的狼一样显得那么的孤寂，那么的落寞。<br>
“其实他也不是那么讨人厌嘛！”随后我就发现自己越来越抗拒不了这匹--狼的诱惑.&nbsp;<br>
<br>
   亚美送涅夫莱特披风的这一情节我想大家应该都记得吧？当亚美把新披风挂在涅夫莱特肩头时，涅夫莱特一脸的诧异外加一点点的吃惊和稍许的感动，目光略显呆滞的盯着亚美(在此佩服一下自己，居然可以从小涅那张没什么表情的脸上联想到这么多东西-_-)，涅夫莱特是不是从那时起对亚美产生不一样的感觉我不知道，只知道这一情节随后一而再、再而三地出现在涅夫莱特的回忆里，但是这一回忆对他来说并不愉快。<br>
在他第二次回忆那一情节时，有一个把手里的披风砸在地上，然后又下意识地拿了起来，最后很无奈地把披风盖在头上的动作。那时侯他心里一定很矛盾吧，但却又不知该如何去进行自我安慰！那时我才感觉涅夫莱特像一个真正有血有肉的人，而不是一个单细胞动物(再次佩服一下自己，小涅同样脸上没什么表情，而我依旧可以联想到这么多东西……)。<br>
狼是一个懂得报恩的动物，涅夫莱特同样替亚美挡下了坤载特的那一剑，可那仅仅只是报恩吗？至少从当时俩人的眼神中感觉并非如此简单！(&gt;_&lt;)<br>
<br>
   可惜狼注定不可能成为大多数故事的主角，涅夫莱特同样成了这一故事的牺牲品，但是在余下不多的出场时间里我还是记住了那几个镜头。<br>
<br>
重生后的涅夫莱特着实让我惊艳了一把，同样在一个不起眼的角落里，同样孤寂的一个身影，喜欢看他如此这般放肆大笑的，似乎一颗被压抑得太久的心终于得到了解脱。脾气依旧火暴可却显得那么可爱。<br>
第一次在OK厅与亚美独处时不知如何是好的尴尬样子，把手伸进饼干袋子时害羞的模样，以及一边大叫难吃一边拼命往嘴巴里塞饼干时，那让人忍俊不禁的有趣表情，当然还有那个经典的回礼……都让我不敢相信这就是曾经的那个讨人厌的家伙。<br>
可惜啊！还是那句话，狼注定不可能成为大多数故事的主角，这一情节的不了了之成为了我看美战的最大遗憾，可我依旧喜欢这匹狼，喜欢被这匹狼诱惑着……</font></p> 
<p align="center"><a href="../index.html"><font size="3">回主页</font></a></p> 
</body></html>
