<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>论地月两国的政体及关系</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>      
<p align="center"><b><font size="3">论地月两国的政体及关系</font></b></p>      
<p align="center"><font size="2">作者：<a href="mailto:ztjz@yeah.net">素盏</a></font></p>      
<p align="left"><font size="2">在很久很久以前的远古时代，地球和月球都是统一的国家，地球的王子安迪美奥和月球的公主倩尼迪相爱……停，本文所要讲述的不是浪漫的爱情故事，而是严肃的政治问题——地月两国的政权组织形式和相互关系。<br>
<br>
第一部分 政治组织形式：<br>  
<br>  
国家的政权组织形式，也称为国家政体，它是国家形式的一个重要方面。在人类政治发展史上，大体上有三种政权组织原则，每种政权组织原则都有其特定的表现形式：<br>  
<br>  
第一种权力结构是，行政权高于立法权、司法权，或者把立法权、司法权融于行政权之中，这就是所谓的专制权力结构。它是奴隶制社会、封建制社会广泛采用的一种权力结构形式，它的特点是权力高度集中：从形式上讲，三种权力集中于一个人或几个人手中；从功能上讲，三种权力集中于行政权力，立法权、司法权极度弱化，服从于行政权。由于行政权是一种垂直性、等级性、强制性很强的权力，所以这种权力结构必然表现为专制。专制的权力结构的代表形式是君主专制，君主独揽大权，国家权力完全属于君主，宫廷是国家政治生活的中心，君主的意志就是法律，所有臣民都必须服从，君主行使权力不受法律限制，也不受其它机关监督。法西斯专制也属于这种权力结构。<br>  
<br>  
在《美战》中，地球和月球都是由国王（女王）统治的，有可能是君主专制。但是，地球明显比月球可能性要大些，因为原作中有提及地球的生产力发展水平不如月球高。月球拥有先进的生产技术以及科技，经济也很发达，而从政治权力结构的发展规律来看，专制的政治制度是适合落后的自然经济需要的统治形式，明显不适合高度发达的月球。然而，原作似乎并未提到倩尼迪的权力受到什么限制，所以也不能说月球完全没有君主专制的可能。<br>  
<br>  
第二种权力结构是，立法权、行政权、司法权三种权力平行制衡的三权分立的权力结构，其表现形式是资产阶级的民主制。资产阶级国家由于具体国情不同，在具体的统治形式上也不完全一样，大体上可以分为两大类：一类是君主立宪制。所谓君主立宪制，是指君主的权力按宪法规定受不同程度限制的政权组织形式。另一类是共和制。所谓共和制，就是国家最高权力机关和国家元首由选举产生并有一定任期的政权组织形式。从总统、议会、政府三者的关系上看，可以把资产阶级的共和制分为议会制和总统制两种形式，两者的区别在于政府（内阁）对谁负责：凡是政府（内阁）由拥有议会多数席位的政党或政党联盟组成并对议会负责的政权组织形式称为议会制；凡是由总统直接领导政府，政府对总统负责而不对议会负责的政权组织形式称为总统制。此外，还有一种不太普遍的委员会制，即国家的最高行政权由委员会集体行使的政权组织形式。<br>  
地月两国皆有君主，所以不可能是共和制，只有可能是君主立宪制。君主立宪制可分二元制的君主立宪制和议会制的君主立宪制两种，二元制君主立宪政体简称二元君主政体，它是指资本主义国家的政府在形式上对君主负责，君主据有相当的权力，其行动不受议会约束，并与议会分掌政权的一种政权组织形式；议会制君主立宪政体亦称“议会制君主制”。它是指君主为国家元首政府在形式上对议会负责，君主的行动受到议会严格的约束，有“民定”的宪法，君主徒有虚名并无实际权力的国家政权组织形式。<br>  
显然，月球女王掌握国家政权，而非统而不治、有名无实，所以月球很有可能是二元制的君主立宪制。地球国王没有被正面提到，但因为地球生产力弱于月球，所以如果月球是二元制君主立宪制，则地球的政体不大可能是更具优越性的议会制君主立宪政制，至多与月球相同。<br>  
<br>  
第三种权力结构是，代表民意的立法权高于行政权和司法权，则形成民主集中制权力结构，我国的人民代表大会制度就是这种权力结构。这种民主集中制的权力结构是马克思在总结巴黎公社政权组织原则的基础上提出来的，其涵义是制定国家意志和执行国家意志的一致性。也就是说，制定国家意志的立法权和执行国家意志的行政权是一致的，行政权必须服从立法权，不能与立法权相抗衡，至于行使立法权和行政权的两种机关是合一还是分开，只是形式问题。<br>  
同样是因为地月两国皆有君主，所以这种可能微乎其微，可以忽略不计。<br>  
<br>  
综上所述，地球和月球都有可能是君主专制政体或是二元制君主立宪制政体，其中月球是二元制君主立宪制政体的可能性很大。<br>  
<br> 
第二部分&nbsp;相互关系：<br>  
<br>  
</font><font size="2">引用极地寒风的文章《战争的真相》中的一句话：“在漫画书卷三中，倩尼迪女王曾理所当然对公主说：‘我们……使命是……除掉地球的负面因子，监视及帮助地球向着正面方向进化得更好。’”<br> 
看到“监视”这两个字，就能明白地月两国之间的关系绝对是不正常的。<br> 
但是，有些人说地球是月球的附属、附庸、半殖民地什么的，其实并不确切，因为原作中没有迹象表明月球人以任何方式插手了地球的内政，只是以监视取得情报，至多说明月球人并没有以平等的眼光看待地球，有向外扩张、干涉地球的倾向。<br> 
这种倾向是极有可能变成现实的：当时银千年王国不仅拥有月球，还拥有地球以外的八大行星及其卫星，可能还包括小行星，国土非常辽阔，生产力水平很高，并且有水手战士组成的一股强大的军事力量，跟地球比起来，可以说是一个超级强国。<br> 
尽管照女王的话理解，监视地球的目的是要“除掉地球的负面因子”、“帮助地球向着正面方向进化得更好”，并且这些话有可能是女王真实的意思，但地月国力的不平等导致了事实上两国地位的不平等，最后“向着正面方向进化得更好”的地球很可能丧失主权，沦为月球的附庸。<br>   
因此对于地球来说，月球是一个巨大的威胁。<br>   
<br>   
那么，监视、干涉地球对于月球来说有什么好处呢？<br>   
本文的第一部分分析了地月两国的政体，月球有很大可能是二元制君主立宪制政体，而二元制君主立宪制政体是属于资本主义政体的，所以月球很可能是一个资本主义国家，并且是一个资本主义强国。正如列宁所言：“资产阶级如果不经常扩大其统治范围，如果不开发新的地方，并把非资本主义的古老国家卷入世界经济漩涡之中，它就不能存在和发展”，资产阶级是有对外扩张的本性的，如果月球能控制地球，就可以得到更大的商品销售市场和原料产地作为其发展的强大后盾。而且，作为一个资本主义国家，不能摆脱资本主义的基本矛盾，因此不可避免的会遭遇到经济危机，对外扩张也是常用来摆脱经济危机，缓和国内阶级矛盾的手段，虽然当时月球还是非常繁荣的，但女王如果比较有远见，做这方面的考虑和准备也是有可能的。<br>   
因此对于月球来说，地球是一个必要的时候可以踏上一脚来帮助自己发展的备用跳板。<br>   
<br>   
最后，来谈谈《美战》中隐藏的地月领土纠纷。<br>   
众所周知，月球是地球的卫星，参照有卫星的行星的水手战士拥有的城堡皆以其卫星命名的规则来看，似乎地球的战士——安迪美奥王子拥有的城堡应该叫“月球城堡”，再进一步说，某颗行星的卫星应当是属于这颗行星的领土，即月球应当是地球的领土。可是事实上，由太阳系内除地球、太阳、彗星、流星外几乎是所有星体组成的银千年王国把王宫建在了月球上，某种程度上来讲，可以算是把月球定为王国的首都了。<br>   
一个建立在别国领土上的首都——可能吗？<br>   
答案是：可能。<br>   
1703年，俄国沙皇彼得一世打败瑞典军队后，夺得了一片原本属于瑞典的位于涅瓦河的入海口一带的土地，为了巩固俄国在波罗的海的地位，始建圣彼得堡。彼得一世在涅瓦河三角洲的兔子岛上建造了彼得保罗要塞，并在此基础上扩建为城。1712年，俄国首都从莫斯科迁到此城，在以后的二百多年里，它一直是俄国政治、经济、文化中心。<br>   
但是，俄国为争夺波罗的海及其沿岸地区与瑞典进行的战争（史称“北方战争”）从1700年一直持续到1721年，俄国才完全战胜了瑞典，所以圣彼得堡在1721年以前并不是彻底属于俄国的，还有被归还给瑞典的可能，这段时间内，圣彼得堡可以算是一个“建立在别国领土上的首都”。<br>   
以上是举一个例子，事实上月球不太可能是地球在战争中被迫割让出去的，如果真是如此，安迪美奥王子多少会接受一些仇恨月球的教育，即使他因为爱慕倩尼迪公主而忘记了国耻，至少地球国王还会出面反对他与公主来往，而原作中并未表现出王子和公主的恋情受到“神”以外的人阻挠。但是，原作却说了月球上的居民并非土著，而是外星移民，那么便可以想象，在当年并不发达的地球，无论是人民还是统治者都缺乏国土意识，压根没想到在大气层以外还有属于自己国家的地盘，所以即使是外来的移民未经允许就在那里安家落户，也毫无反应。当然这只是若干可能的原因之一。<br>   
最后还有一个小问题，就是：为何移民会选择在月球落脚？<br>   
比较重要的原因是，这一带的宇宙环境很优越：附近的星际空间，大、小行星各行其道，互不干扰，又有庞大的木星在外侧，可以帮忙挡下大部分的陨石、彗星、小行星的冲撞，比较安全，并且与太阳距离适中。虽然地球也同样具有这些优点，并且还有月球所不具备的引力优势，但地球上已有居民，在尚不了解地球居民的情况下，选择月球是比较安全的。<br>   
其实火星的条件和地球也是差不多的，而且比月球要好，如果说从有利于发展的角度来看，选择火星比选择月球要合适。对此，只能解释为：月球非常接近地球，住在月球上便于观察、了解、接触，甚至是侵略地球。所以，月球作为银千年的首都，不是一个以发展本国力量为着眼点选定的政治中心，而是为进行扩张而建立的据点。<br>   
<br>   
※ 本文乃就美战论美战，无影射，无现实意义，亦无挑衅正派fans之意，一家之言，看则看，不看则罢。</font></p>   
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>