<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>落满灰尘的镜中的景色——某个OTAKU眼中的美战真人（其一,情感篇）</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">落满灰尘的镜中的景色——某个OTAKU眼中的美战真人</font></b></p>
<p align="center"><font size="2">作者：</font><a href="mailto:sinamuiy@hotmail.com"><font face="宋体" size="2">さむい</font></a></p>
<p align="left"><font size="2">作为一个沉醉于泛用人型机械和欧洲中世纪的OTAKU似乎应该和充满小女生幻想的《Sailor Moon》扯不上什么关系，但是无论中间经过了什么，总算是接触到了这个故事，并因其中人，情，事而感动过。一向厌恶规则，但是这个世界确实是由规则支撑着，作为一个稍微违背规则的相遇应该有很多话要说，可又或许写这种东西需要的是一个时效性，但是作为一个迟钝的人只能等到这种时候才能找到感觉，又或者这样的长篇大论不适合出现在讲究快捷的网络里，因此在这样一个不适合的时间里，出现了这样一篇不合适的文章。不求得到什么，只想证明曾经存在过……&nbsp;<br>   
P.S：粗粗算来，整篇文章已经接近两万字，虽然算不上天文数字，但是也算是同类文章中的“重量级”选手了。真的很难说是否有人有耐心看下去，不过，是到如今，也只能顺其自然了。
<br>
</font></p>
<p align="center"><font size="3" color="#FFFFFF">一、情</font></p>
<p align="left"><font size="2">
“亲情，友情，爱情，上帝赋予我们这三样最宝贵的东西，我们因此不再迷茫。”<br>
FFⅨ中奇丹的这句台词很准确地概括了一个“情”字在很多故事中的作用，无论发生了什么，人和人之间的感情永远支撑着一个个迷茫的灵魂，在没有热血和哲学思辨的少女向作品中更是一个情字了得，那么，如此宝贵的东西在美战真人中又是如何被描述的呢？<br>
<br>
</font><b><font size="3" color="#CCCCCC">亲情</font></b><font size="2"><br>
<br>
可以说，在原作中对亲情的描写几乎可以忽略不计，但是在真人版中却添上了不少戏份，虽然主要部分并不是围绕主角月野兔展开，但却也是相当地出彩。展现在我们面前的是现代社会中六个形态各异的家庭和各色真挚的感情。<br>
<br>
<b>和睦过头的搞笑家庭——平淡但真实的亲情</b><br>
<br>
“小兔，你这是干什么？不用那么拼命地念书，都是妈妈的错。”<br>
“酷比？”&nbsp;<br>
先被一段无厘头的冷笑话迎头砸中，紧接着是一盘看起来基本没办法和食物划上等号的早餐，最后是一个慌张的声音叫着“迟到了！迟到了！”不要怀疑，这就是月野家的早晨。有点神经兮兮但是格外开明的妈妈，喜欢挖苦人却并没有坏心眼的弟弟，以及只在特别版中露过一面，成天在外面跑新闻，基本没有存在感的爸爸。母爱、父爱、兄弟情谊这样直接的字眼并没有降临在这个家庭，有的只有茶余饭后的玩笑、和睦的气氛和不经意之间的关怀。或许没有人会从这样的家庭关系中找出亲情二字，但是正像某些人说的一样，没有个性就是最大个性，支撑起一个如此平凡家庭的，不正是家庭成员之间互相的关怀吗？而这种被看作是理所当然的关怀，也就是我们常说的最朴实的亲情。&nbsp;<br>
<br>
<b>冰冷的留言版家庭——冷淡但现实的母爱</b><br>
<br>
“亚美同学为什么那么想当医生？”&nbsp;<br>
“因为，妈妈是这么希望的，我只想让她高兴。”<br>
空旷的房间中灯火通明，但是只有挂在墙上的留言版上留有妈妈的味道。这种情境在日本的动漫画中可算是司空见惯。母亲给予孩子的爱便是物质的支持，而孩子回报给母亲的则是一个完美的人生蓝图。或许在孩子的角度来看，这是一种抹杀个性的错误行为，但是对于这个社会来讲，这未尝不是一个最完美的家庭模式。对于思想已经完全融入这个社会的大人来说，让孩子顺利成为这个社会的一部分并站在社会这座金字塔的顶端也就是对他们最大的爱。这种单方面的爱忽略了精神上的交流，势必是痛苦的，但是现实中又有多少人正生活在这种畸形的亲情中呢？虽然最后亚美勇敢地选择了表白并得到了理解，但是如此童话般的结果在代沟重重的现实中又会有几分可能？&nbsp;<br>
<br>
<b>形同虚设的虚拟家庭——深沉但直接的父爱</b><br>
<br>
“在母亲最需要你的时候，你为什么不在她的身边？！”<br>
“无论你什么时候问起，我的答案也只有一个：为了工作。”<br>
照片上的一对母女开心地笑着，而一旁的父亲却像个局外人似的站在远离两人的地方用一副过分严肃的表情面对着镜头，但是谁也不能否认他同样是这张相片的一部分。心理的阴影使得家庭这个概念在丽的心中只有一个个支离破碎的残片。伟岸的政治家形象必定把家庭这个温馨的集合击得粉碎，但是那份深沉的父爱却不曾泯灭过，不通过表象显示出来，一次又一次近乎霸道的做法正是最直接的体现，这就和不善表达自己感情的男生一定会欺负自己喜欢的女生是一个道理。如果丽只是一只庸懒的金丝雀，也许会悠闲地拣起一片片碎片，并努力把它们再拼合起来，但是倔强的丽选择了反抗，也正因为缺少母爱，她对待父爱的方式是如此的激烈，以至于这份爱在她看来变成了一种羁绊。可是，伤痕累累的丽是不是也期待着能趴在父亲坚实的胸膛里痛快地大哭一场呢？而这时，抚摩着丽乌黑长发的父亲是否也会摘下已经凝固的面具热泪盈眶？<br>
<br>
<b>随遇而安的临时家庭——单纯却沉重的姐弟情。</b><br>
<br>
“我是认真的，比起使命什么的，我认为现在的你才是更珍贵的。”<br>
“阿鲁提密斯，如果不能履行前世的使命，你就和Mars一样，失去了留在我身边的资格&nbsp;<br>
窗外夜色正浓，街道上的“光龙”和大厦上的霓虹灯却用尽全力反抗着自然的黑暗，房间里，灯下的少女眉头紧锁，一只白色的毛绒玩具猫在房间里焦急地踱来踱去。粗看起来把美奈子和阿鲁提密斯之间的感情理解为亲情似乎有些不妥，但是细想起来，却也没有更合适的说法。对于独自撑起一切的美奈子来说，家人和家庭这一概念已经被淡漠，但是时刻跟在她身边的阿鲁提密斯却是一个不能被忽略的存在。善意的恶作剧，有些任性的做法，美奈子就像对待自己的弟弟一样和阿鲁提密斯分享着自己的心情，却又不愿意放弃大家姐这一角色，不时会用正义使者的身份拒绝阿鲁提密斯的建议。这样的组合穿梭在一个个旅店中，家的概念一次又一次被颠覆，一次又一次被重新构筑，这份感情也渐渐地接近终点，这时甚至连他们自己都忘记了自己本来的角色，钻进牛角尖的姐姐选择了封闭自己的内心，真情流露的弟弟勇敢地帮助姐姐找回了自己的价值，直到最后的最后，一句不懂日语的中国观众都能听明白的“大好き”中是不是才隐藏了这对临时姐弟之间的情谊呢？<br>
<br>
<b>空空荡荡的单身家庭——剪不断的牵挂之情。</b><br>
<br>
“爸爸，妈妈，不要走！”<br>
“……”<br>
打开火，嗑开鸡蛋，熟练地翻炒几下……一顿晚餐端上了桌，但是桌子上却只有一副碗筷。真琴是一个和亲情最没有缘分的人，虽然除了小兔其他人的家庭都可谓不完整，但是真正孤单一人的也只有真琴一个，因此开始写这一段时真是有一种“为赋新词强说愁”的感觉，但是当笔者随手翻了翻放在手边的一本《非常家庭》时，却惊奇地发现，亲情在真琴身上的作用绝对不输其他任何一个角色。对于那对早早逝去的夫妻，除了模糊的背影，我们就再也没有别的线索了，不过我们却能从真琴那拿手的料理中感受到些东西，引用《非常家庭》中的一句台词，“家庭留下的回忆并不仅仅限于有型的东西，正确使用筷子的方法，礼貌的语气，这些都是父母留给孩子最好的回忆”。如此看来，真琴在料理上的天分，刚中带柔的性格，大概也是一种未了的牵挂吧……<br>
<br>
<b>青梅竹马的包办家庭——若即若离的兄妹情</b><br>
<br>
“只要你没亲口对我说‘我讨厌你’，我是绝对不会离开你的。”<br>
“那么，现在我就要对你说；‘我已经开始讨厌你了’。”<br>
作为原创角色出现的阳菜实在是有点可怜，非要在小女生纯洁爱情中硬插上一脚，结果这种只应该出现在安达充作品中的青春恋情被描绘成了一种兄妹之间的亲情，从小开始哥哥都只是想要保护妹妹，妹妹也愿意依偎在哥哥身旁，几乎等同于骑士和贵族小姐之间的关系，属于相敬如宾，可远观而不可亵玩焉的范畴（说到这要提一句，真正能娶到贵族小姐的也是上层贵族，而像小说中描写的骑士和贵族小姐，甚至是公主之间的恋情只是一种美好过头的浪漫罢了），于是浪漫的烛光晚餐也变得和家庭聚会一样找不出一丝被爱的感觉，当定力不足的观众跟着小兔同步呼吸几次之后，监督终于觉悟了，阳菜也终于认清了自己真正的价值——男主角妹妹般的存在只需要在剧情的前半段往醋缸里倒几滴醋，之后就应该老老实实地当一个挂在幕后的花瓶……<br>
<br>
</font><b><font size="3" color="#CCCCCC">爱情</font></b><font size="2"><br>
<br>
少女向，而不是青年向，爱情这种东西也就是变成了一种符号化的东西，只起了一个象征意义而并没有什么细致描写，更没有在这上面大肆赚取眼泪和篇幅的计划。两人为什么要相爱，相爱又是为什么，不相爱又能怎样，怎么样才能不相爱，爱情究竟是怎么样一种死去活来的东西，全都可以用一句话来解释——因为监督和观众说了：他们必须相爱……（如果哪位真的看明白了这段话是在说什么，请一定通知作者）<br>
<br>
<b>无奈的规律型情侣——雷打不动的主角爱情</b><br>
<br>
“傻瓜!”<br>
“什么叫傻瓜?!”<br>
很久很久以前，有一个王子，有一个公主……这种能磨出耳茧的古老故事已经没有重复的必要了。但是这样一份爱情再次降临在这个故事里，突然的“一目惚”之后，这对欢喜冤家就开始一出出影响观众荷尔蒙分泌的“惊险剧”，虽然还没到让地场卫说出“曾经有一份……”的程度，不过能用的桥段基本上是全都登场了，误会，情敌，出国，命运，死亡，最后是惊天地泣鬼神的毁灭……但是在这一片走马灯般的繁忙中，影片却默默地传达着一个亘古不变的真理：什么都不能阻止男女主角的爱情。笔者回过头来只想问一句：“这得来不易的爱情难道就是两个人每天都能牵着手上街？那么和整个世界的和平比起来哪个更重要啊？”当然，这么问的结果必定是被众Fans的西红柿和臭鸡蛋淹没，就像你拦住一个路人问为什么1加1等于2……<br>
<br>
<b>巧妇难为无米之炊的恩义型情侣——柏拉图式的精神恋爱</b><br>
<br>
“我不喜欢看到一个人被这样孤立。”<br>
“难吃，真难吃。”<br>
暗水星的出现在某种程度上的确在中段带活了整部美战真人。在互相倾轧的黑暗势力中，也因为有她的存在而摩擦出爱情的火花，比起男女主角公式般的爱情，这份情感来得还算有根有据，无意中被冷落的亚美和故意被排挤的涅夫莱特之间产生了单方面的共鸣，多少有点顾影自怜的味道，一件斗篷拉近了两人之间的距离，但是明眼人都看得出来，包括后来的援护防御和饼干，这都只是一种怜惜之情和知恩图报的感激之情，两人之间连一个放电的眼神都不曾有过，更没有时间互相了解，无数次的经验告诉我们，这种建立在感激上的爱情都是不牢靠的，因此，最后这对曾被看好的情侣反而落得一个人鬼相隔，惨淡收场。如此缺乏现实依托的爱情只能是柏拉图式的精神恋爱，其中的滋味，自有广大Fans自行体会。&nbsp;<br>
<br>
<b>日久生情的平凡型情侣——大女子主义的恋爱</b><br>
<br>
“不是什么大不了的东西。”<br>
“我知道，只是家政课的作业，但是我仍然很高兴。”<br>
真琴和元吉的爱情中，真琴一直处在一个强势的立场上，根本没有女人缘的元吉收到根本不像女孩的真琴送的围巾，之后就展开了笨拙的攻势，结果是经常被弄得灰头土脸，最后这份感情是如何建立起来的，着实有点牵强，如果说仅仅因为一句“你其实还是很温柔的”就唤醒真琴的少女本性，多少有点站不住脚，只能说，在元吉的死缠烂打下，石头都会流眼泪，真琴也就认同了这份没什么害处的感情，大女子主义在这里表露无遗——爱情对于女人来说也只是一味调料，与其苦苦地去追寻一份完美的爱情，只要走在自己的道路上，必定会有一份平淡但能让自己满意的爱情找上门来。&nbsp;<br>
<br>
<b>无始有终的主从型情侣——大人间的爱情游戏</b><br>
<br>
“主仆游戏到此结束。”<br>
“我只把贝丽尔女王当作主人，绝对不离左右。”<br>
从第一话开始，杰戴特就一直围着贝丽尔女王打转，反过来再看看其他人，移情别恋到暗水星身上的涅夫莱特，眼里只有Master的佐依塞特，从来没把贝丽尔女王当回事的昆载特，比起四天王中的其他三个人，杰戴特对贝丽尔女王可谓是痴心不改，百折不挠，即使只是被当作棋子一样说扔就扔仍旧没有半句怨言，这样的模范跟班可算是“女王”身边的标配。这种强烈的奉献精神源自“爱”，但是这种“爱”又源自何处？在片中是怎么也找不到答案的，但是到了最后，所有问题都被一场轰轰烈烈的徇情所解决了，因为我们可以理直气壮地反问一句：值得付出生命的除了爱情还能有什么呢？<br>
<br>
<b>无名无实的无端情侣——毁灭式的极端爱情</b><br>
<br>
“如果公主占有了你的心，我就将占有你的人。”<br>
“你什么也得不到。”&nbsp;<br>
从心理学的角度来讲，贝丽尔女王才真正体现了一个恋爱中女性的心态，爱一个人不光是接受一个人全部，更是要占有一个人全部，而当自己占有不了的时候，也不能让其他人占有，这便是单相似的极限，当爱人一个人到极限的时候，一切现实中可以感受到的爱都只是单纯的形式，最直接的方法就是把他（她）送到其他都无法触及的地方，只有自己可以在精神中享受那份刻骨铭心的爱情……写到这笔者的手都软了……关于爱情这个笔者都不明白的问题，还是到此结束吧……<br>
<br>
</font><font size="3" color="#CCCCCC"><b>友情</b></font><font size="2"><br>
<br>
如果说亲情只是一种调剂，爱情只是一种象征，那么友情就是整个美战真人的核心了，除了小兔，四个拥有不同程度心理问题的女孩互相用友情治疗着对方的伤痛，展现着女生间纯洁的友情，而影片最后五个人手牵手信步在阳光之下的场面配上背景音乐中的Friend更显示着友情无穷的力量。<br>
<br>
<b>我想有一个最值得尊敬的对手——竞争对手之间的友情</b><br>
<br>
“让我来，我一定会比Mars做的好！”<br>
“既然如此，那就比一下吧。”<br>
两个在骨子里都有一股不服输的傲气的女孩碰到会有一种什么样的结果？丽和美奈子就是一个绝佳的例子，从一开始就在一种竞争的气氛下互相进行试探，之后矛盾不断“升级”，再到和“前世”的纠葛，两人都在拼命证明着自己的优秀，这看起来是两个人不和的体现，但是有一件事情已经被忽略，那便是——有一个能够和自己竞争到底的对手，同样是一种幸福，不知道读者们有没有这样的经历，当自己兴冲冲地准备展示自己某项特技的时候，周围的人都是一副漠不关心的样子，比起这样，还是有人大声斥责更让人觉得好受一点吧，至少证明有人注意到自己。丽和美奈子也是一样，缺少了其中任何一个人，另外一个人都会如同失去目标的导弹，迷失在自己的空间中，而有了一个可以比及的对手，自己就永远有一个明确的目标，在竞争中亦可享受到人生的乐趣，所以，无论何时，最能感受到对方存在感的，恰恰是这对势如水火的朋友。因此也就有了那场充满温馨的新歌争夺战和最后将整部美战真人推向最高潮的那声绝叫。&nbsp;<br>
<br>
<b>相遇、相知、相处——女生之间最标准的友情</b><br>
<br>
“我们当然是朋友了，亚美。”<br>
“把小兔还给我！”<br>
内向的亚美遇到外向的小兔，一直尘封的内心终于打开了一个缺口，虽然因为一些误会而使得友情的建立多少有点曲折，但是这份女生之间的友情从建立起就是最稳固的，生活中，活泼的小兔活跃着身边的气氛从而不至于让两人陷入冷场，文静的亚美充当着减压阀的角色，也不会让小兔冲出自己的轨道。而初次感受到友情的亚美更一直珍惜着这份得来不易的感情，默默地承受着一切，战斗中两人同样分享着失败的痛苦和胜利的喜悦。这份友情的高潮恐怕出现在第14话，守护着小兔的亚美在一片泥泞中站起，用不符和身份的语气大声宣誓着自己的决心，如果是少年漫画中这样的场面应该是司空见惯，因为那并不需要什么特别的理由，勇往直前是他们的符号，伤痕是他们的勋章，可能让一个柔弱的角色鼓起如此勇气的，正是那对朋友的关怀，那纯真的友情。<br>
<br>
<b>远在天边又近在咫尺——“远距离作战式”的友情</b><br>
<br>
“比起就算公主和梦幻银水晶美奈子也是最重要。”<br>
“为什么她会是Sailor Moon？”&nbsp;<br>   
无忧无虑，崇拜美奈子到五体投地的小兔和背负沉重十字架的美奈子，处于两个极端的人物却因命运走到了一起，如果月野兔不是水兵月，美奈子也不是水兵金星，大概月野兔会作为爱野美奈子歌迷会会长出现在美奈子身边吧。那时两个人也许真的可以像歌中唱道的“如果，彼此能更加天真无邪地相对而笑，剩下的时间将永远是sweet days”，但是一切的一切规定了美奈子和小兔无缘享受这份甜蜜的友情，小兔只能一边看着美奈子的大幅海报一边和金星并肩作战。为什么小兔总是逃不出最喜欢的人恰恰就是最熟悉的人这一怪圈？而美奈子只能远远地注视着和朋友们有说有笑的小兔，马不停蹄地奔赴一个又一个新的战场。回想12话，观缆车上，美奈子一句“我已经很久没有这样高兴地笑过了”，表示她是多么地向往这份可以让她无忧无虑的友情。或许这份情谊早早地被美奈子和丽之间那更显眼的友情所覆盖，但是，美奈子最牵挂的人，究竟是谁？<br>    
<br>
<b>万红中的一点绿——男人之间的友情</b><br>
<br>
由于是少女向作品，男人之间热血的友情显然没有容身之处，男人之间的关系异常简单，除了敌对就是主从，唯一有友情味道的也就是地场卫和元基了，不过这两个人之间的友情得到的空间实在太少了，中间只有通过美菜的事件穿插一点点两人之间的关怀，不过要说男人之间的友情就是这种互相之间的关怀实在是只能让人落一地的鸡皮疙瘩。剩下值得一提的就是元基和涅夫莱特之间的友情，一个是装上两套刹车也停不下来的“暴走初号机”，一个是面对任何人任何事都能一笑了之的和事老，这两人之间已经具备建立友情的基本条件，而事实上两个人的进展也还算顺利，可是，无论是和水星（不是亚美）的恋情还是和元基的友情，倒霉的涅夫莱特无论和谁都是半途而废，实在不能不让人感叹一下造化弄人啊。<br>
<br>
也许关于友情还需要写更多，亚美和丽之间因家庭为题相濡以沫，小兔如何使每个人逐渐敞开心扉，真琴对每一个人默默的支持，一切的一切都还可以写出更多，但是却发现自己已经没有那样的心情，或者说，某些东西纠缠在一起，很难说清。无论如何，多少也有自己语言贫乏的因素在里面，最后只能说，友情，永远不会结束。</font></p>
<p align="center"><font color="#FFFFFF">二</font><font size="3" color="#FFFFFF">、人</font></p>
<p align="left"><font size="2">
抛开了原作有些脸谱化的人物设定，众多性格鲜明的人物无疑是美战真人的一大特色，（或者说或靓丽或帅气的人物形象才是真正的特色？）无论是整天胡思乱想的小兔，还是忙碌不停却寻找不到自己目标的美奈子，亦或只想着怎么干“坏事”的四天王，虽然背负的东西不同，每个人都在自己的生活中努力地生存着，这生存的轨迹，便构成了所有人心中的回忆。<br>
<br>
<b>具备一切女主角素质的配角——月野兔</b><br>
<br>
“我叫月夜兔，第十中学三年生，性格直率，珍惜着身边每一个朋友。” <br>
普通过头的女初中生配上迷糊的性格，强大的行动力，富于感染力的言行，可以说是完全符合这个人物本身的创作动机，这样的一个月野兔太适合做主角了，无论是推动情节发展还是制造小桥段，都是120%的合格。几乎其他每一个水手战士开始的时候都有自闭倾向，又都是因为她的热情而敞开心扉，如此阳光的女孩在三无罗丽横行的现今实在是难能可贵，但是相对的，这个角色的存在感却减弱了，无论她要说什么干什么，都是咋咋呼呼，没有什么目的性，虽然不至于让人忘记她，却也让人提不起兴趣去关注她的内心世界，更很难弄出什么长线桥段。而且在性格上她是五人中唯一没有心理障碍的角色，俗话说得好，人格魅力和人格问题是成正比的，人格没有问题，增强魅力的方法也就有限，她最大武器就是忠实地执行着自己的纯真——也许说天真更适合，当着最像配角的主角。 
<br>
至于战斗力这个问题……鉴于笔者一般接触的都是把几百万条性命当玩具玩的极端暴力作品，小兔等人的表现实在连个负数都评不上，因此就全部PASS吧，毕竟战斗可算是美战真人中最费力不讨好的部分（除想借机看内裤的人之外）。<br>
<br>
<b>不是花瓶的花瓶——水野亚美</b><br>
<br>
“我相信，总有一天大家都会回到这里。”<br>
智商180的天才少女，虽然这个数字和其他作品中智商动辄上千上万的怪物相比只能算是小巫见大巫，不过在这个平均智商不超过100（没准更低）的故事里，她的智慧可算是最有力的武器了。可是真正一看就又只能让人失望，基本上智商在美战真人里是没有什么意义的，敌人的阴谋诡计全都是挂在东京塔上让主角们来找（比如调虎离山这一计就用了五、六次，但是水手战士们就是不长记性）可就算如此，就算有180的智商，还是要和大家一起被骗上一道，好象唯一一次展示她的超高智商是在40话，当面对一道长度可以媲美一篇短文的数学题时，当小兔玩了命地按着计算器的时候，工整的答案已经出现，再配上经济人目瞪口呆的表情，实在让人不禁一笑，但是这天才的智商只是用来做一些搞笑的小桥段是不是太浪费点了呢。而在推动情节发展，展示人物个性时需要的情商……只能说我们的亚美同学实在让人汗颜——虽然其他人也并不高，但是她低得太明显了。没有朋友，喜欢在安静的环境下独处，不善和其他人交往，似乎除了小兔基本上每个人在开始都是这样，但是亚美同学的自闭牌组打得实在是很有特色，比起其他人因环境而封闭，她更多的是处于本身性格上的怯懦，因害怕受伤而不敢去接触，而即使被小兔说得后也依然扮演着乖乖女的形象，在一个团队中，沉默的人是最容易被忽略的，虽然在她即将被忽略的时候，监督拿出了杀手锏——暗水星，但是这恰恰表现这个角色本身存在着很大的问题，回归后除了呼应一下早就埋下的一笔伏笔，上演一出和母亲之间的和解之外，也只能在平淡中等待结局的到来。<br>
<br>
<b>阴影下无比夺目的光辉——暗水星</b><br>
<br>
“逃也没有用。”<br>
这个人物可以说是美战真人的一大亮点，略显妖艳而又华丽的外表，酷酷的性格，似乎基本可以等同于女版的八神，但却没有那一份暴戾之气，更多显示出来的是一种狡黠的灵性。与任何人都保持着距离，如同冰做成的莲花，可以说，亚美这个角色中具有魅力的部分都被充分地挖掘出来，并进行了提纯，无怪乎经常有人说反派角色的魅力远大于正面角色，的确，比起拘谨的亚美，张扬的暗水星更容易俘虏观众的心。不过要说的一句是年轻的梨华小姐在塑造这个有些复杂的形象时显然没有表演乖乖女水野亚美来得熟练，从动作到表情多少都有点生硬的感觉，但是角色本身的魅力足以掩盖这点演技上的缺陷吧。<br>
<br>
<b>淡蓝色火焰中的樱花——火野丽</b><br>
<br>
“我讨厌卡拉OK。”<br>
冲动，干练却又不失思考，丽绝对不是一团熊熊燃烧的烈火。坚强的外表，对任何流行都无动于衷的表现和对爱情的漠然，究竟应该说是一种少女的矜持还是对大环境的逃避？总之，丽作为一个政治家庭的牺牲品——日本政治家的婚姻几乎都有很浓重的政治色彩，能够顽强地走自己的道路，也算是一个坚强的少女。而在对待朋友上，我行我素的丽表面上多少有点冷淡，而对美奈子的敌意也正是她有些自我中心的证明，让人感觉不到灼热感的蓝色火焰在她和别人之间铸起了一道围墙，但是只要勇敢地跨过这片不会将人烧伤的火海，我们就会发现，蓝色火焰映衬下的樱花是如此地美丽。不过我们也可以看到她一样有自己需要迷茫的时候——我究竟是谁？在我的内心深出是否还存在另一个自己？大概是害怕另外一个自己，她一直都压抑着什么，虽然在不断地释放，但是这份压抑直到最后，甚至连美奈子的死亡也没帮她完全解开，大概是因为这种迷茫太深，连导演和编剧都没有能力解开，如果完全地解开，丽也就不是丽了吧。不过正是这怀抱着迷茫却能随着自己心意生活下去的丽才是五人中最人性化的一个。这也是为什么她在五人中人气最高吧。<br>
<br>
<b>暴风少女——木野真琴</b><br>
<br>
“任何时候，到了最后，我都是孤独一人。”<br>
要说表面的性格明快除了倒霉的涅夫莱特，就要数真琴了，不光是什么事都直来直去，甚至有点为了朋友两肋插刀的江湖义气，但是她内心存在的心理问题也是不小，因家庭阴影而造成的心理问题在影片中没有太多的体现，更多的集中在她本身对“男孩子气”这个个问题的认识，不断否认自己是女孩子这个事实，用坚强的外表表现着自己，其实仔细想想，这样的角色很多很多，比如《烈火之炎》中的风子，把这两个角色放在一起就很容易分析了，因为环境的孤立而自我封闭，自我放弃，又因这种封闭而让其他人更加疏远，因他人的疏远而更加肯定自己封闭的正确性，用自己欺骗自己的方法给自己找一个充分的理由来把缺点变成优点，把优点看成缺点，不断地自我肯定再自我否定，这样一种恶性循环塑造了这个表面坚强但是内心脆弱的角色。正是这种脆弱的坚强使她如同带刺的玫瑰般美丽，虽然在其他人的引导下，少女的天性逐渐苏醒，最后还得到了一份难得的爱情，但是笔者心中真正有性格的真琴是那个在空无一人的街道上说出“任何时候，到了最后，我都是孤独一人”的暴风少女而不是在特别版中那个戴着眼镜悠闲地画着花束草图，貌似OL的懒散女性。<br>
<br>
<b>超新星爆发——爱野美奈子</b><br>
<br>
“Venus永远不会消失。”<br>
P.S：在英文的另一种书写方法中，金星同样代表着启明星。<br>
一颗恒星在放出它内部蕴涵的一切化学能缩退成一颗暗淡的白矮星之前，都会发生一场超新星爆发，其耀眼的程度远超那颗恒星本身光芒的数万倍。虽然金星并不是一颗可以自己放射光芒的恒星，美奈子却是这样一颗燃烧自己照亮未来的超新星。死亡并不可怕，但是如果每一天都可以清楚地听到死神一步步逼近的脚步声，又有多少人能顶住如此巨大的心理压力自如地生活下去？至少笔者不是这么坚强的人，背负两个沉重的十字架——死亡的预感和前世的悔恨，还能一面应付演艺圈的是事事非非，一面作为Sailor 
V履行自己的使命，美奈子内心的坚强程度不是一般人能想象得了的。而最可怕的是她的身边没有一个可以诉说心声的朋友，是人，便会有痛苦，便会有不解，一个人背负着这一切，却还能走在一条明知道是死路的道路上，究竟需要多大的勇气？当然，在剧中并没把这种环境完美地刻画出来，观众看到的只是风光的一面，因此给人一种美奈子只是一个有些倔强的小姑娘罢了的感觉。可是，又有多少人能真正地理解她？冷淡，孤高，难以接近，这是很多人对她的评价，她真的是因为害怕才能如此坚强，她害怕面对不存在自己的这个世界，她害怕自己不能完成自己的使命，从这个角度看下去，美奈子那甚至可以称得上有些暴躁的性格正是她脆弱的体现，她封闭了自我，用忘我的努力去掩饰自己的不安。死亡在少女向作品中虽并不是什么禁忌，但也不如少年向来得那么频繁，有人说是导演和编剧谋杀了美奈子，但是笔者却一直都认为这是由美奈子的悲剧性格所决定的，她一直都只是走在一条布满荆棘的不归路上，但是正因如此，那沾满血迹的脚印才无比清晰。<br>
<br>
<b>不会做饭的家庭保姆——露娜（变身前）</b><br>
<br>
美战真人中唯一不会收演出费的角色（笑）。不过相信她吃下的钱也不少，至少CG的制作就是一笔很大的支出，再加上声优的费用，实际最烧钱的反而是她也说不定，不过在整个剧情的作用上，由于基本完全使用了动画的表现手法，作用和表现基本和动画是一样的，而很多没用到CG的地方动作就明显“僵硬”——真正意义上的僵硬——了许多，从而也多少影响到表现。在真个故事中，作为小兔的监护人，不时提出一些建设性意见，缓和水手战士之间的矛盾，串起一个个桥段，可算是整个团队里一个合格的保姆吧。<br>
<br>
<b>戏不够，人物凑——露娜（变身后）</b><br>
<br>
又算是一个原创人物，首先要声明的是笔者不是罗丽控，所以对这个角色没有什么特殊感情，大概是因为中后期矛盾越来越尖锐，需要一个方法来缓和，所以出现了这样一个角色，而且，这个角色和小小兔多少也有点关系，想必导演是受到了ちぴちゃん的启发。而她第一重要的任务就是搞笑，这一作用毋庸置疑，从战斗时的折扇到平时打喷嚏就会还原的特性再到一些廉价的COS，都是为了搞笑服务的。其次，在一堆少女中加入一个儿童型的角色实在是有点不伦不类，儿童的天真可爱虽然有所体现，但是却和小兔等人完全合不上拍，而且强行把一个儿童型角色加入少女成分也十分勉强，毕竟看着一个十岁出头的小女孩整天一边照着镜子一边涂胭抹粉着实让人觉得别扭，更要命的是露娜本身较稳重的性格特点也荡然无存。从这一点来说，这个角色就远远没有原作中的小小兔来得成功了。<br>
<br>
<b>徘徊于轮回外的鲜活灵魂——阳菜</b><br>
<br>
“一天，我的人生，改变了。”<br>
就如同前面说的一样，作为地场卫青梅竹马的女友，这个原创角色还是满可怜的，从影片的描写来看，她坚强，有主见，也不乏温柔的一面，更是一个能勇敢面对现实的人，在人格上可算影片中最健全最积极的，因此监督就给了她一个残酷的打击，从小一同长大的地场卫为了追寻跨越千万年的恋情而放弃了她。似乎也不能说是放弃，只是双方都发现并不合适对方就选择了分手，对这个配角的描写到此就戛然而止，甚至在特别版的婚礼中都没有出现，不过在Act. 
Zero特典中的番外中的交代，显示出监督对这个角色还是挺关心的，虽然无法完全从过去的阴影中走出来，却找到了一条新的道路，也算是一个不错的结局。<br>
<br>
<b>万夫所指——黑木零</b><br>
<br>
“有我这个最讨厌小兔的人在。”<br>
招人嫌的大嘴怪，在演员的形象上笔者的确是要怀疑一下监督的审美观。如果单论这个人物的话，这个标准的反派展现了一个坏女人所有能用到的手段：耍嗲、装嫩、装可怜和耍点小阴谋，乍看之下的确也都不算是什么大毛病，但是在少女向作品中这些应该是比杀人越货还要严重的死罪，难道说少女漫画的反派人物都要这样？这个角色出现的目的很明确，那就是被大家讨厌，如此说来她的任务完成地还算漂亮。连扮演小兔的美优同学在特典中都透露“我的爷爷奶奶都很讨厌这个角色呢”。说起来，其实怎么样被人讨厌也可以算是一门工夫，最后还是让我为这个讨人厌的大嘴怪默哀一下吧，毕竟人家没有什么特别的过错——相对动不动就要吸别人生命能量的其他反面角色——却一个人顶起了所有的人的厌恶。<br>
<br>
<b>守护地球的毁灭者——贝丽尔女王</b><br>
<br>
“一切都要如我所愿。”<br>
作为反派人物的首领，贝丽尔女王一直扮演着破坏世界和平的角色，其本身除了性格稍微别扭一点倒也没有什么特别的地方，毕竟为了照顾剧情的起伏转折她被描绘成最矛盾的一个角色，开始嚷要毁灭世界到后来变成征服世界，转变得实在太突然了点，而且唯一表现人物特色的第三者的角色也基本被黑木零抢去，和四天王之间的矛盾冲突更是被一种绝对统治权给磨得一点不剩。另外就是，她成天到晚不眠不休地站在美达丽亚之前，真让人担心她那瘦弱的身体是否坚持得住。也算是一个为了衬托英雄人物而存在的花瓶吧。<br>
<br>
<b>花瓶！又见花瓶！——公主塞蕾尼缇</b><br>
<br>
“安迪米奥。”<br>
在近乎结局的部分出现，一身华丽的行头和充满贵族气息的化装一出场着实就让人有一种惊艳之感，但是人物本身除了甩出几个五角星叫几声“安迪米奥”，实在是无所作为，有人说她孤傲的性格是一大看点，但是笔者实在不明白这样一个什么都不懂只懂装酷的小姑娘何来一个傲字，她本身不存在任何可以称得上是“人格”的部分，几句有限的台词，模糊的大背景，比起其他丰满的人物来说实在是太勉强了，除了战斗和毁灭并没有自己独立思考问题的能力和倾向，充其量也不过是个“暴走初号小兔”而已，她的傲，她的酷都只是导演强加上去的符号，只是无源之水，无本之木，也就是说，她的情商近乎为零，与其把她当作一个人物来看待，不如干脆当作一个推动情节发展的道具……不过根据人格魅力和人格问题成正比这个规律来理解，她的人气来源也就不难理解了——基本没有人格这个问题可算是最大的人格问题了……可在笔者看来，她实在只是一个做工极其考究的花瓶。<br>
<br>
<b>搞笑发动机——月野育子</b><br>
<br>
“来尝尝今天妈妈做的XXX吧。”<br>
每天的工作就是和子女开玩笑，就算天塌下来也只会摆出一副迷糊的表情，自言自语着：“今天的天气好象不太好，怎么到了中午还是一片漆黑？是我的错觉吧。”这种类型的父母在日式动漫中所占的比例越来越大，究其原因，大概是因为现实中子女关系太过沉重，既然到了幻想的世界，就让父母们都放得开一些吧，除了单纯的搞笑，在反衬家庭关系上她也有所贡献，无论是亚美还是真琴都感受到过她和小兔之间和谐的母女关系，并因此而陷入思考。看了将她无厘头搞笑性格推向极至的第39话后，突然发现，看来小兔咋呼的性格也算是遗传基因到位。<br>
<br>
<b>来自地狱的复仇之鬼——昆塞特</b><br>
<br>
“我要复仇，对一切进行复仇！”<br>
从作为人类的“信”体内觉醒的一幕开始就颇受注目，（顺便说一句，シン可以理解成Sin，基督教中所谓的“原罪”）初登场的时候他可算是动物凶猛，一招风属性的裂空斩不光是视觉效果作得让人惊叹，威力更可谓是人挡杀人佛挡杀佛，颇有“世界上没有什么是我所斩不断”的味道，充满怨念的孤高性格也算是一号人物，但是到后来是每况愈下，不光是不服命，还硬要和男主角对着干，看得出监督想把他设计成一个苦大仇深的复仇之鬼，因为对自然的爱而生出对毁灭的恨，因这种自虐式的恨而否认自己的存在，的确是个很好的想法，演员对这个角色的把握也很到位，但是无奈能给他发挥的空间太小了，毕竟这是少女向而并非少年向的作品（也有人说因为美女多也吸引了不少男同志来观看？），拥有坚定信念的人结局总是悲惨的，夹在水手战士和贝丽尔女王之间两边不是人，实力也渐渐被超越（不过笔者没觉得水手战士们有什么明显的成长，或者应该说他越来越弱？），最后除了到处嚷嚷着报仇，也只能接受一个不了了之的结束。<br>
<br>
<b>生不逢时的红莲小子——涅夫莱特</b><br>
<br>
“为什么我要受这样的屈辱！”<br>
如果放在少年漫画里，以他的性格来看至少是个倒数第二话为了保护主角而壮烈牺牲的男二号，明快的性格，手比脑子快的单细胞特征，不服输的倔强也是正面人物的标志，但是可惜的是这么一个好青年却是一个御姐控（我们姑且就把贝丽尔女王当成御姐吧），而且在恋爱观上也存在着不小的问题，所以只能是一个被水手战士打，被贝丽尔女王冷落，被昆塞特嘲笑，被暗水星怜悯的可怜虫，后来虽然离开了黑暗帝国却因缺乏基本的生活常识而继续被元基和小兔等人捉弄——这个词也许有点过分，但是实在想不出更合适的词汇。直到最后不明不白地随着世界毁灭而消失，却没有和其他人一起复活，不得不为他叫上一声冤，不过究起原因，大概是因为他出生在一个少女向作品中，除了偶尔闹腾一下活跃一下气氛，确实难有太大作为。<br>
<br>
<b>鞠躬尽瘁的白发魔男——佐依塞特</b><br>
<br>
“Master。”<br>
一头靓丽的银发，一袭白衣，双重人格，以音乐为武器，之前的是一个标准的阴谋家，不怀好意的语气，乖张的性格，以及擅长偷袭的风格，虽然颇有吓唬小孩子的嫌疑，但是确实也算是一个风格诡异的角色，但是自从复活以后就俨然变成了一个忠君爱国的忠臣，成天Master长Master短，一面在黑暗王国里和其他人周旋，一面围着地场卫死缠烂打，一面又频频对水手战士暗送秋波。虽算不上一个尽忠职守的好干部，却是一个有责任心的好男人。不过共同点是那半死不活（相信这么形容会被很多人847，但是这是最直接的感觉）的声音，引用表演者自己的评价就是：艺术家，不健康，自闭，阴沉。也算是一种稍带病态的美吧，这似乎是同人女们的领域，笔者也就不再多嘴了。<br>
<br>
<b>东奔西走的女王跟班——杰戴特</b><br>
<br>
“我的主人只有一个，那就是贝丽尔女王。”<br>
从第一话就出现，一直坚持到最后一话依然戏份十足，虽然中间消失过一段时间，不过也算是贯穿整个美战真人的人物了。成天跑来跑去，不是在贝丽尔女王面前碰一鼻子灰就是被水手战士爆打一顿。正如一直在影片之外强调自己的演技差，好在杰戴特做人低调，不至于像涅夫莱特那样甚至被自己人整。当然，他的优点也就是执着，无论发生了什么，哪怕是发现自己一直追寻的东西并不正确，也不改变自己的目标，这同样需要非凡的勇气。跟在众人身后四十多话，没有功劳也有苦劳，最后终于如愿和贝丽尔女王走到一起也算是一个补偿吧。（不过马上就跑到地场卫身边这个超级大BUG实在是让人无话可说）<br>
<br>
<b>侠之大者——地场卫</b><br>
<br>
“我是，夜礼服假面。”<br>
少女向的作品中男主角的条件只有一个——帅，性格再有问题，人格再不完整，一个帅字就足够解决一切问题了。这么说当然不是想要否认这个角色本身，但是可怜的地场卫同学确实没有什么惊人之举，继续少女漫画男主角一贯不错的出身，端端正正的性格，以及还说得过去的战斗力，就算变身为王子也没有什么让人惊喜的地方——也许和笔者本身就是个男性而又不BL有关系吧。平时一副无所事事的样子到处逛荡，危机时刻给女主角来一个援护防御，说到这里想起了李白同学着名的《侠客行》“十步杀一人，千里不留行，事了拂衣去，深藏身与名”，看来我们的地场卫同学深知一个侠字的精髓，在该出场的时候出现，在不该出场的时候就乖乖地呆在一边，露面的时候也是立刻就消失，无怪乎夜礼服假面有另外一种翻译——晚礼服蒙面侠。<br>
<br>
<b>乌龟先生——元基</b><br>
<br>
“龟吉，我们今天干什么好呀。”<br>
皇冠从游戏机厅变成了卡拉OK，元基的身份倒没什么大的改变，仍然是打工的服务员，但是人物性格实在是差得远了点，从一个颇有魅力的邻家男孩变成了一个缺少女人缘，整天只能和一直乌龟自言自语的乌龟先生。从开始被小兔误会为夜礼服假面，到不时对亚美暗送秋波，最后到对真琴不舍的攻势，笔者只想说，这个角色可称得上是一个结婚狂，当然，除了结婚狂这一点，朴实憨厚的性格也让这个角色傻得可爱，总是一把鼻涕一把泪地抱住某人然后就开始数落自己的不是，虽然看起来很丢人，但是很容易让人产生亲切感。如此可爱的大男孩也算是美战真人中难得的一个活宝吧。</font></p>
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">两人为什么要相爱，相爱又是为什么，不相爱又能怎样，怎么样才能不相爱，爱情究竟是怎么样一种死去活来的东西，全都可以用一句话来解释——因为监督和观众说了：他们必须相爱……（如果哪位真的看明白了这段话是在说什么，请一定通知作者）<br>
</font><font size="2">------------------------------<br>
<br>
两人为什么要相爱?你能知道吗？&nbsp;<br>
相爱会为了什么?你能知道吗？<br>
不相爱会是怎么样？这倒可以回答，会很痛苦。<br>
怎么样才能不相爱？你能知道吗？<br>
爱情究竟是什么？你能知道吗？<br>
你提出所有问题的答案，是任何人都无法回答的问题，因为一旦如果这些问题有了答案，那么这个问题本身就失去了它原来应该有的意义。<br>
<br>
你去问问为什么雅铃为什么要爱上比吕，而最初为什么又会为英雄迷恋，你拿这个问题去问问安达充，他也无法给你答案。<br>
如果雅铃能够得到怎么样才能够不再和比吕相爱的方法，H2也就失去了它该有的味道……结尾的感觉估计也就大大的不同……<br>
爱情究竟是什么？没有人回答的出来……<br>
爱情为什么要产生？也没有人能回答出来……<br>
遇见了，吸引了，爱上了……爱情就是这么简单，可你绝对找不出原因，这点如果你有天遇见了一个你所爱的人，你就会明白了吧……你也许会因为什么被吸引，但是你却想不出来你为什么会爱上……<br>
这不是因为漫画原着是少女向，而不是青年向，它就变成了符号一样的东西……<br>
兔子看见了卫，开始讨厌，渐渐接触，渐渐喜欢……这种桥段俗吗?符号吗?那么小南表面上讨厌的是成绩优秀的弟弟，还是拖拖拉拉的哥哥，内心又是如何呢？<br>
公主，王子的桥段俗吗?那么我爱芳邻里那一对三代冤家又如何解释……<br>
如果你说原着的爱情苍白无力……我不否认，但是如果你说真人版的爱情还是符号化，我无法不反驳……<br>
那段流水的青春，带着涩涩的感觉，绝对不是用三流桥段充斥的廉价符号爱情……也许演员表演功力并未到家，可其感觉却不见得比青年向的……甚至于偶像性的日剧来的差。<br>
兔子笑看着远去的飞机的表情又比莉香笑着站在丸子对面看他离去的表情差几分呢？<br>
如果你能为爱情找个答案，那你也将为古今往来的文人墨客百思不解的问题划上一个句号。<br>
<br>
很久很久以前，有一个王子，有一个公主……这种能磨出耳茧的古老故事已经没有重复的必要了。但是这样一份爱情再次降临在这个故事里，突然的“一目惚”之后，这对欢喜冤家就开始一出出影响观众荷尔蒙分泌的“惊险剧”，虽然还没到让地场卫说出“曾经有一份……”的程度，不过能用的桥段基本上是全都登场了，误会，情敌，出国，命运，死亡，最后是惊天地泣鬼神的毁灭……但是在这一片走马灯般的繁忙中，影片却默默地传达着一个亘古不变的真理：什么都不能阻止男女主角的爱情。笔者回过头来只想问一句：“这得来不易的爱情难道就是两个人每天都能牵着手上街？那么和整个世界的和平比起来哪个更重要啊？”当然，这么问的结果必定是被众Fans的西红柿和臭鸡蛋淹没，就像你拦住一个路人问为什么1加1等于2……</font><font size="2"><br>
</font><font size="2">------------------------------<br>
至于你这么评价兔子和卫的爱……那我只好问，为什么他们不可以拥有爱情？为什么不可以在不放弃自己的爱之前改变自己的命运？<br>
一个人告诉我，你们在一起世界就会毁灭，我问：为什么？那个人说：因为这是神说的，所以神说就会毁灭，所以你们要不能够在一起……<br>
所有人，美战中所有的人都在说：你们在一起要毁灭……所以你们不能够在一起，所以为了和平，为了地球，你们要牺牲你们的爱情？<br>
可为什么没有一个人说……我要改变我的命运，我要改变我的未来，我要跳离前世的束缚，我要做一个我，我要去保护我的爱情，扭转我的命运？没有……没有一个人说……直到32集一个男人说，我绝对不会让地球毁灭，但是我也要和你在一起……<br>
猛然城猎中一段，面对威胁良的人所说的为了自己的爱人牺牲掉自己的生命才是爱的最高境界的回答……良说：这种让自己爱人看见自己所爱之人为自己死去的残酷叫什么爱的最高境界……我要活着去爱她，才是我表达爱的方式……<br>
那么殉道者般的服从不知道从那里来的神的不能在一起的指示算什么牺牲？为什么我不能改变我自己的命运？只是因为那里不知道未来预言我就应该服从？<br>
如果爱情和命运相抵触的时候答案就如同1+1=2那么简单扼要，世界上也就没有那么多爱情悲剧了吧？<br>
很遗憾的是你没有看出这段爱情编者所投射在其中浓浓的要改变自己命运的果敢和跳脱宿命的决然……却只看见符号般的相爱与当相爱和世界和平抵触的时候坚持自己所爱的私有性……<br>
其实整个美战有一个词多次出现，而这个次才是编者绝对要表达的主要观点……前世。<br>
每个人对前世不同的态度造就了每个人不同的结局和行动……<br>
这才是写实所有一切的根源……和编者力图做的和原着不一样的地方。<br>
如果你去看看同样的编剧所编写的龙骑应该就会明白我所说的话了吧？<br>
<br>
最后……告诉你，你写的贝尔的感情，那不叫爱情，那只不过是占有欲罢了，她爱他，是因为他拥有她所没有的东西，财富，美貌，地位，名誉(这是美战中的原话，那么如果他没有财富，没有美貌，没有地位呢？)，而这种前世得不到的执念延续到今生，基本上不能叫爱情……爱是可以让自己为对方所牺牲的感情，而不是破坏别人来填补自己空虚的感情……这两者的区别可是大了……爱确实有占有欲，可你竟然把爱的最高点升级为全部只有占有欲……真是叫人无话可说。<br>
<br>
还有……最后你写男人之间的感情，只注意到了阿卫和元基……因为你是男生，你只注意女生倒也无可厚非，只是看不出小古和阿卫错综复杂的关系，总看的出小佐和阿卫的主仆之情吧?这种感情难道已经在楼主眼中淡而无味了吗？<br>
<br>
还有无论任何爱情多么得来不易，多么轰轰烈烈，最终希望得到的结果，也许真的只是平平淡淡的两人一起牵手上街罢了。<br>
<br>
观点不同，随意写写，不用介意。<br>
</font></p> 
<p align="center"><font size="2">作者：</font><a href="mailto:sinamuiy@hotmail.com"><font face="宋体" size="2">さむい</font></a></p> 
<p align="left"><font size="2">那些问题的确是很难得到答案的问题，正因为所有问题得不到答案，所以才说美战真人的爱情只是一种符号化的东西，真正对爱情的探讨，至少应该让人看到努力寻找答案的倾向，但是美战真人除了一次又一次的重复前人对爱情符号化的注释之外让人看不到一点对爱情的哲思，或许这种事情本来就不是一部电视剧应该干的事，但是，单纯的重复便是符号，这没什么错。或许应该换种说法吧，因为是少女向而不是成人向，所以爱情只是一种符号化的东西。<br>
<br>
改变命运？那么小兔和地场卫究竟为了改变命运付出过什么呢？罗密欧和朱丽叶反抗命运，他们燃烧了自己的生命，见证了自己的爱情；艾德蒙·邓帝斯反抗命运，最终迷失在爱与恨中不能自拔；贾宝玉反抗命运，最终人鬼相隔，出家为僧。小兔和地场卫反抗命运，最终却通过暧昧的手法换来了一个大团圆，他们究竟做了什么样的反抗？他们付出了什么代价？为什么他们就可以堂而皇之地走到一起？这就是监督赋予爱情的浅薄理解吗？只要真心相爱，无论什么样的困难都可以克服，不需要任何理由，只需要两人真心相爱。这样的注释还不够符号化吗？<br>
<br>
真正对前世耿耿于怀的人物大概只有昆塞特、丽和美奈子吧。至少笔者认为美战真人更多的是对现实生活中琐事的思考，是一种简单化的社会关系矛盾的体现。至于那个龙骑……现在叫龙骑的东西太多了……星际中的龙骑？还是田中的龙骑？还是钢铁龙骑兵？实在是没有头绪……<br>
<br>
关于男人间友情的问题，和昆塞特纠缠不清的不是地场卫，而是他本身扭曲性格的两个对立面，这点在“人”篇中会有所说明，而左依塞特和地场卫之间很难说是友情，只不过是建立在封建君主制上的主仆关系罢了，所以说到友情，应该算不上。<br>
</font></p> 
<p align="center"><font size="2">作者：飞飞</font></p> 
<p align="left"><font size="2">笑……爱情讨论？<br>
谁告诉你美战是一部爱情讨论的电视剧？我不否认它以爱情做了一条主线，但是绝对不是在讨论爱情吧？爱情哲思？什么又叫爱情哲思？东爱告诉你什么爱情哲思？H2告诉你什么爱情哲思？梁祝又告诉你什么爱情哲思呢？<br>
如果当你把爱这种东西要具体化到一定要从中哲思出一种道理，要真正对其做一个探讨的话，这才是一种变相化的符号定义呢……我们所能够讨论的，不过是我们自己看见的感受罢了，谁能为别人的人生和感情做个百分百的定义？<br>
努力寻找答案？难道我说的还不够明白吗？你可以找你你为什么被他所吸引的原因，但是你绝对找不到你为什么要爱他的原因……不是美战找不到答案，你去看古今中外的爱情故事，那个能给你答案，难道因为他们都不能给你答案，所以他们也都是符号化的爱情？<br>
那么你能告诉我贾宝玉为什么爱林黛玉?罗密欧为什么爱朱丽叶?我看不能吧，那么他们也都是符号化的爱情？<br>
你一次又一次说对前人的爱情符号化，如果是漫画我承认确实是对前人的爱情符号化，但是写实，地场卫完全跳脱了前世的影子，而面对变成前世的公主他喊的是兔子的名字，小兔并非迷恋那个一次次带着面具救自己的英雄，想送的围巾确是那个名字叫地场卫的普通人，他喜欢她不是因为她是前世的公主，她喜欢他更不是因为他是前世的王子……只是就是那么走到一起，甚至于她在地场卫和假面间选择了地场，他在公主和兔子间选择了公主……编者是如何的想借用这种手法跳离前世，如果你说你一点也没看出来，那我倒也无话好说。<br>
但如果你不认同少女向的爱情，甚至于说他浮浅我并不觉的奇怪，可你从根本否定这种爱情观的存在，是不是有点绝对？<br>
世界上总会有一见钟情，世界上也总会有冤家变情人，在你没有经历的时候绝对的就一再强调爱情只是符号化的东西，可却又举不出证据……只是原因它没有爱情哲思，这就是所谓的证据吗？那就举个有爱情哲思的电视剧吧。<br>
<br>
你错了……<br>
<br>
罗密欧和朱丽叶反抗命运不是在他们双双徇情，请你记得，他们本来是打算私奔，因为一个误会才导致双双死去，如果没有误会，他们应该快乐的生活在一起，没有人为了成全千古的绝唱而选择死亡不选择生存，而他们的反抗命运的举动是在于他们打算私奔的那一刻。<br>
贾宝玉和林黛玉人鬼相隔，是他反抗命运的结果，不是反抗命运的表现，他真正反抗命运早在于他爱情的选择他未来的选择就已经表现出来，而出家为僧才是真正反抗他命运最激烈的表现形式。<br>
那么美战中兔子和卫没有反抗过命运吗？如果没有反抗，那么普通人的卫只要顺从所有人所说的不要在一起的躲在一个角落过完余生不就完了？32集他说的再明白不过了，他回来是要绝对不要让地球毁灭……为了反抗命运，他对自己的爱人以剑相向，为了反抗命运，他以他的身体封印了美达利，就是为了不让地球毁灭……这不是他反抗命运的表现??32集他面对旧日部下所说为什么不可以跳开前世……这不是反抗前世的束缚？兔子为了不让悲剧重现，一次次压抑公主的出现，做了种种努力，这不是因为反抗命运？这些难道楼主都看不出来吗？因为他们要坚持他们的爱情，所以他们要改变地球会毁灭的预言，改变人人都觉的已经决定的命运，这和罗密欧和朱丽叶反抗不能结合的家族恩怨，贾宝玉反抗约束他的封建制度又有什么区别？<br>
<br>
不错，他们没有因为爱情而死去……难道就因为没有得到你所要看到的悲惨结果，就否定他们以前反抗命运的努力？否定他们曾经抛弃了可以和爱人在一起(卫抛弃了和兔子的承诺，封引美达利)，甚至于抛弃了自己的生命也要改变地球被毁灭的努力？也否定他们面对改变命运所做的所有的付出？如果可以活着，为什么要选择死去？只是要成全一段千古绝话不成？那么我说那些千古绝唱中的男男女女没有一个是为了成就一段传奇才会去附上自己的爱情和性命……如果是你，你可以和爱人选择生的时候，你会选择死亡只是为了叫后人记得你？只要真心相爱，是可以克服困难，这又有什么不对，梁祝最终幻化为蝶不就是对真心相爱就可以结合的最高推崇吗？你能说出他们为什么化蝶的原因吗？你能解释他们化蝶的理由吗？难道这也是符号化的表示吗？我不否认他们活过来狗血了……我私心觉的他们应该在沙漠死去……但编者要给人们希望而不愿意给人们绝望，安排这样结果的心理我也可以理解，难道因为得到了这样的结果，他们的一切努力甚至于情感都要被否定?&nbsp;<br>
<br>
既然楼主只能看出台词中不断说着前世前世的人的思考，却对用行动去反抗前世命运的人的行为视而不见……这我也确实就没法再讨论了。<br>
只是告诉你一点……丽一直都对前世迷惑不解，甚至于是想不通为什么美奈子要执着于前世，一直无法理解美奈子，你知道谁点醒了她？是在黑暗王国中的地场卫的一句话“我要为前世做个了结，只是为了今生更努力的活下去”，这也是编者把丽送到黑暗王国的唯一目的。<br>
如果你要把美战低到对琐事的思考的地步上……那也就真没什么意思了……<br>
<br>
我说的是感情，不是友情……注意我的回贴吧。<br>
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html>