<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>黑暗帝国相关部份魔鬼词典</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">黑暗帝国相关部份魔鬼词典</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a>、<a href="mailto:ztjz@yeah.net">素盏</a>、<a href="mailto:perious@sina.com">Perious</a>、<a href="mailto:hyy_59@hotmail.com">忙碌的兔子</a>、<a href="mailto:dichangwei@sohu.com">地场卫</a></font><font size="2">、Clover</p>
<p align="left"><font size="2" face="宋体">安狄美奥：英俊的花瓶般的男人，他似乎是自愿以自己独特的牺牲方式及惊人的勇气为两个国家和数以万计的人民今后的生活揭开了崭新而壮阔的篇章。</font></p> 
<p><font size="2" face="宋体">地场卫：睡眠严重不足的男人，但从未尝试通过科学的方法来解决自己的困扰。</font></p>
<p><font size="2" face="宋体">地球：总是处在毁灭边缘徘徊的不幸星球，但事实上从未被毁灭过，因为总有各种莫名其妙的力量使它重生。总体上，它的危险等级与保护者数量成正比，即保护它的人越多，它的处境就越危险。</font></p>
<p><font face="宋体" size="2">黑暗帝国：实力雄厚的北极开发公司，对北极的成功开发使它的成员们头脑发热，产生了要承包全球开发任务的想法，该公司失败并破产的原因是它的开发计划书不那么讨大多数人喜欢。</font></p>
<p><font face="宋体" size="2">黄金帝国：世界上最名不副实的曾经的国家，雅雷史安的扩印版本。</font></p>
<p><font face="宋体" size="2">黄金水晶：漂亮而贵重的金色水晶，无敌能量扩大器，在危急时刻用来给人打气的绝好装置--由于独特的使用方法，影响效果还包括心灵上的，同时也是使人升级为被攻击目标的之一的危险物品。</font></p>
<p><font face="宋体" size="2">积达：伟大的艺术家、化妆师和魔术表演者，当人们欣赏他天才般的表演时，他会悄悄收取一些不同于金钱的另类报酬，他失业的原因是人们似乎并不太习惯这种超前的支付方式。</font></p>
<p><font face="宋体" size="2">拿拉达：星相学家，自负地以为离地球数万光年的球体与地球上一些小规模争夺战有密切联系。失业原因是过于沉浸在自己的学术中而忽略了同事间人际关系的重要性。（动画）</p>
<p>赛西达：狂热的矿石收集者，为了得到矿石不惜杀人灭口。因在收集过程中得罪了领导的初恋情人而被解雇。（动画）</p>
<p>古舒达：由于考虑问题太多而造成少白头的阴谋策划家，间接参与了星相学家谋杀案和七色矿石收集工作。由于看到梦幻银水晶而变成发狂症受害者，因最终没成为争夺战的胜利者而失业。（动画）</p>
<p>四天王：北极开发公司四位部门主管，由于各种原因先后失业。</p>
<p><font face="宋体" size="2">礼服蒙面侠：独有的疗伤和能量扩大能力，还有及时神秘出现的方式使他不愧为一个优秀的补血兼道具机。</font></p>
<p><font face="宋体" size="2">贝尔：北极开发公司CEO，脾气暴躁，感情用事，以解雇职员为乐。后因经营不善直接导致北极开发公司破产清算。</p>
<p><font face="宋体" size="2">美达利：北极开发公司董事长，无外轮廓的黑色不明质地生物。职业是催眠师，擅长以洗脑的方式招募雇员。在公司破产时受到非法催眠的指控，因拒捕被就地正法。</font></p>
<p><font face="宋体" size="2">梦幻银水晶：漂亮而贵重的银色水晶，它的主要用途是使每个看到它的生物发狂并最终引起各种生物间的争夺战，而当战争结束后它会帮助胜利者尽快修补好战争造成的一切损失，以便为下一场争夺战做准备。</font></p>
<p><font face="宋体" size="2">小妖魔：黑暗帝国出产的低质量高数量生物，便宜的劳动力。平时都站在大厅里当背景幕布，时不时被派出去当炮灰。一般来说都不知躲闪为何物，擅长尖叫着消失在光芒中。</font></p>
<p>黑水晶<font face="宋体" size="2">：</font>准确度欠佳的矿石探测器，具有改造升级功能和克主的嫌疑。</p>
<p><font face="宋体" size="2">雅雷史安：传说中美丽的地球王国的中央地区，有着一群极力追求自由的先进人物，在一个失策领导者的带领下革命失败，最后沦落成一块被人遗忘的荒地。</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>