<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>反派如何避免挂掉？</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">反派如何避免挂掉？</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:zoisite@263.net">反派守护神</a></font></p>
<p align="left"><font size="2">Jadeite：嗯～他是先被飞机撞到（天……），逃回去以后又被BOSS冰成冰（那个BOSS是水瓶座的吧？）棱柜……唉，只能怪他反应迟钝！看到飞机往自己过来就张着嘴巴干叫……干叫有什么用？学我这个反派守护神一起狂逃啊！！<br>
依我看，他应该装备上有“快速施法”特性的装备，最后几个快速施法的叠加，及时用瞬移逃掉。（不用快速打击恢复，因为他还没被攻击到）瞬移以后，别回去了（回去也是挂）……美国那边不是有个老头子拿100万大洋来征求真正有“超能力”的人来反迷信…小丁你就去那边好了……放把火就搞定^^b<br>
<br>
Nephrite：挂得还算感人拉！不过挂了以后没几天女朋友就跟别人跑了，挂得可真不值得-_-来看一下！他挂是先被那些像藤条一样的东东戳穿掉，然后又被丢了个爆炸瓶……也就是说，当初如果可以避开“藤条”就不会挂！那好办！之前应该去跟Jadeite学骨墙什么的（他不是男巫吗），挡下藤条……最后的归宿嘛……我不管了！！他爱怎么地怎么地吧！再挂我也不管了～<br>
<br>
Zoisite：这个可是我最～心疼的小变态当然要管！唉，这个有点头疼说。<br>
-_-|||她当初加点数怎么加的？狂加STR，练“山猪型女巫”啊！！（君不见她一只手拼剑拼得过地场卫两只手）没办法了！再祭起瞬移大法～在水兵月暴走（变月亮公主）以后趁她还没施法马上用瞬移逃跑！觉得不爽的话在瞬移前可以尽量多放暴风雪（她的大冰球好像还没练出来）再逃（时间把握准！）。逃掉之后嘛～～来我们伟大的中国吧！我们这里反正也有个叫司马南的会出一百万RMB……<br>
<br>
Kunzite：这家伙……（咬牙切齿）倘若不是他故意放水，就是他没大脑，蠢～～！！！当发觉双刀不管用以后，应该很自然地想到水兵们是有物理免疫（或石头皮肤）的金色怪物嘛（汗）！！魔法他又不是不会！！唉…$^$#^$#%&amp;@$#%T#</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html> 
