<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>母鸡和母猫--论真人版之佐塞特和古舒特</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b>母鸡和母猫--论真人版之佐塞特和古舒特</b></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p><font size="2">无可置疑，在真人版中小卫对于佐塞特和古舒特有极其特别的存在意义，在受控制失去记忆的时候，对第一眼看见的小卫却绝对都有不一样的感觉……所以这种感情变化的结果是……<br>
<br>
<b>一只自我的母鸡……</b><br>
<br>
除了开始出场稍微邪恶以后，佐塞特的行动完全可以用母鸡来拟代，而且是一只比较自我的母鸡，虽然我完全不知道前世的时候佐塞特和小卫是一个什么样的关系(当然很希望是我写的那样)，不过估计没有那么正常。也许前世佐塞特对安迪米奥就是亦师亦兄亦父的关系……当他第一眼看见小卫的吃惊就暗示着……他的前世和小卫关系非比寻常……在没有脱离贝尔控制的时候，佐塞特的意志已经是自由散漫，而他的母鸡特性亦然开始觉醒。最明显的是面对安迪米奥的倒退状态，还有临死前比较凄美的……那一声主人……<br>
<br>
当沐浴在水晶的力量之下恢复回来的佐塞特……完全蜕变为一只伟大的母鸡，孜孜不倦地开始孵化他的小鸡……如果有人要以为我说的小鸡是地场卫，那可就大错特错了……我们的佐塞特所奉献的正如他口中所喊的名字一样，他的小鸡是安迪米奥……那个前世的主人……转生对于他来说，意义并不大，地场卫在他眼里和安迪米奥是没有分别的……他希望得到的大概就是那个安迪米奥，所以无论也不管地场卫愿意或者是不愿意，他就是要不厌其烦的唤醒他，也许他和Jadeite一样，想要的是那个过去……而他的过去的全部就是他亲爱的主人安迪米奥……如果他真的顾及了地场卫的安全，也许会选择不将他涉入这条路……不过，既然命运不可避免……那么主人的觉醒不可避免……那么他急迫地想要得到的，自然也就是那个前生尽管给他带来死亡的主人，这应该算什么？愚忠？……佐塞特为了将其孵化成功真是竭尽所能……不但天天骚扰，而且还绑架两次……<br>
<br>
这点也完全可以看出，佐塞特是否是自我中心……如同母鸡一样，不论什么情况，我认为虫子对你好，你就应该吃虫子，我认为稻子对你好，你就应该吃稻子……完全是单方面输出，而不顾及对方是否接受……当然母鸡对小鸡的爱是不用质疑的，绝对的纯粹和伟大……但这种完全单方面的付出……自我中心的绝对……想想小孩子尚且接受不了，何况一个大大的男人地场卫呢……所以也可以看出与其说小卫是他主人，不如说他是小卫的主导更恰当……<br>
<br>
32集小鸡终于孵化成功……面对地场卫那句“你说得很对”，瞧佐塞特笑的那个灿烂无比……汗……眼神中无一不流露出那种母亲对着浪子回头时的高兴和欣慰……从这时候起，佐塞特是彻底一切以安迪米奥为中心，为本位……为他抗拒贝尔，就算是被打个半死也甘之若饴……基本上做到了两个凡是，凡是使主人受伤的事情，是绝对要阻止的……凡是涉及到主人生命的事情，是死也要干涉的……佐塞特这个时期给人感觉完全是张开了双翅的母鸡，温柔得不顾及一切去保护安迪米奥……为他活而活，为他死而死(这么说不过分吧~_~)。特别是36集，他的母鸡特性简直发展得有点病态了……为了阻止公主会给主人带来的悲惨未来，所以必须要分开他们……还不能明着分，小鸡要真发火生气了，母鸡还真没有办法……所以开始曲线救国……交给别人音乐盒，去抹记忆，显然是不希望安迪米奥再和兔子他们有任何关系……可一旦小鸡被老鹰盯上，有生命危险，居然又跳回来，叫兔子快去救人……飞蛾先生啊，你这手段可是不怎么……嗯，不怎么道义。某人惊异于这种反应，感觉佐塞特完全是有病……其实佐塞特也不是有病，只是太母鸡了……母鸡的动物本性就是一切以小鸡为先，开始有长期危险的时候需要隔离他们，所以可以和敌人合作，那么迫在眉睫的会被人夺取了主人之时刻，当然长期危险就不再重要了，先决条件是要救回主人，真是一只彻头彻尾的母鸡……在母鸡眼里是不存在什么正义邪恶的，只有小鸡……所以在佐塞特眼里只有安迪米奥……而且是那个一定要按照他所想的情况生活着的安迪米奥……<br>
<br>
不过面对即将要变坏的小鸡，母鸡会是个什么样的反应呢？恨铁不成钢还是以泪洗面啊？<br>
<br>
37集必然小卫是要变坏了……推测一下，佐塞特……估计是要站在身边借机唤醒他呢，还是面临着被贝尔囚禁的命运？既然老鹰需要的小鸡已经得到了，那么当饵的母鸡估计也不会那么自由快乐了吧……<br>
<br>
<b>一只心软的母猫……</b><br>
<br>
如果佐塞特是为了小卫不顾及一切的母鸡，那么显然古舒特就是那只一旦小猫生存不下去，不如把它吃掉的母猫。记得当初我看这个来由的时候，觉得母猫确实很残忍……为了其它小猫的生存，甘愿吃掉最弱的小猫……不是不爱它，而是生存逼迫，它不得不做这样的选择……所以，当古舒特挥舞着剑向地场卫砍去的时候，母猫的感觉豁然跳入我的脑海……不过，这只母猫仅有一只小猫，正如Jadeite分析的一样，古舒特一直没有去伤害地场卫，直到……佐塞特试图去恢复他的记忆……那只小猫开始生病了，而他的生病会带来的就是毁灭，毁灭不但是自己本身的毁灭，连带着得到的还是那个又一次背负上毁灭命运的小猫……如果说佐塞特希望得到的是一个存在于现在的安迪米奥，那么古舒特希望拥有的就是只存在于过去的安迪米奥……佐塞特急切地希望他们可以合体，而古舒特绝对不容许这种事情发生……为了生存，母猫的和小猫的……所以，他挥舞起他手中的剑，这也许正如他自己所说，是一种另类的忠诚，也一样是愚蠢的忠诚……自己规划着自己的未来，和小猫的未来……<br>
<br>
终究，他还是一只心软的母猫……看见自己的小猫，还是下不了手夺取他的生命……他还是硬不下心肠去吃掉自己哺育了那么久那么久的小猫……诚如，信第一次看见地场卫所表现出的熟捻和温柔一样，尽管他一再的表示着对那个软弱主人的轻蔑和狠意，但当35集的小猫被设计的时候，第一个冲出来的也是这个心软的母猫……健康的小猫，软弱的小猫，被人控制的小猫……显然，他选择的是能生存下来的小猫，不愿意让其变成别人手中的一张牌，也不愿意再叫任何人牵扯着这只猫走向未来，背负着不可知的悲惨结局……<br>
<br>
说来说去，古舒特反而倒成了……拯救地球的恶人……不知道这么说会不会被人打……<br>
<br>
其实我想，古舒特更愿意站在远处，看着地场卫过着普通的生活，然后归剑入鞘，然后轻蔑地笑着离开……<br>
<br>
残忍做不到，只能够游离在保护和伤害的边缘的母猫……<br>
<br>
不知道这只母猫面对已然变成木偶的小猫又有何种反应？是狠下心来杀之后快还是与其做她的木偶，不如做我的木偶呢？<br>
<br>
<br>
睡不着的时候胡言乱语……</font></p> 
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：</font><font size="2">御剑紫清</font></p>
<p align="left"><font size="2">作者分析的好透彻，其实母鸡和母猫的本质是一样的，只是不同的环境和不同的经历只是他们做出了不同的行为。<br>
其实偶更崇尚古舒特的母猫论，毕竟他所经历与背负的东西确实要比其他人多，这一切励炼下来自然要不得不为自己编制一个坚固的盔甲，如美奈子一样，尽管是最想保护公主的人，但却不得不冰冷的对着她，甚至亲手伤害她。与之相比，古舒特的做法似乎更极端一切，但又能如何呢？<br>
无奈，所谓爱之身恨之切嘛！</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">是啊……写完了想过……结尾应该写上母猫和母鸡都是母亲~<br>
爱倒是本质上是一样的。<br>
<br>
金星是母猫和母鸡的综合体，她不会象佐塞特那样溺爱的以小卫为中心，完全不顾及别人感受，也不会象古舒特那样……残忍的真打算去伤害兔子。<br>
<br>
我想产生这种区别的原因是在于，他们之间的对等关系不同……美奈子和兔子是平等的朋友……而小卫和小佐……还有小古的关系……更多时候小卫是被他们保护的孩子~</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">Jadeite……汗，你指的是我对不对？好吧，我承认，我就是想念那个过去的雅雷史安，就是想念原来的地球王国……嘿嘿，我就是个怀旧的人，似乎只活在从前，为了保证那些原来的东西还保持原状，我几乎把生命中大半部份的时间都花掉了，因为我无法忍受哪怕一点点的变化……<br>
如果我是小佐，如果我站在小佐的位置上，我肯定也会选择和他一样的道路……啊，看了那么多年的美战，终于发现了一个与我怀有类似理想的角色，请允许我先兴奋一下，汗……虽然知道他绝对不会成功，但总比没有强啊……<br>
呃，好了，现在进入正题。<br>
<br>
从小佐一出场开始，贝尔就很宠他，而当二十二集小佐复活之后，贝尔仍然很宠他，不仅允许他想干什么就干什么，允许他一趟一趟往卫那儿跑，允许他唤醒卫的记忆，甚至还禁止小古去干涉他。我总觉得，这一切都不正常，贝尔不会平白无故地偏向小佐，换句话说，她或许是在做一个陷阱，而小佐就是饵。<br>
汗，我也认为，如果贝尔真得到了卫，小佐估计就不会有什么太好的下场了。<br>
<br>
至于小古，真不知该怎么说他，感觉上，他所讲的似乎都有理，他要做的似乎都没错，可是，看起来如此冠冕堂皇的事情，他自己却始终没办法使之贯彻实施。<br>
然而，并未有谁能够真正拦阻他，只是他自己的心总是一直不坚定罢了。</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">是指你啊，现在明白为什么你会喜欢小佐了吧~不仅仅是因为他有一个翘翘的嘴巴和一个优雅的下巴吧？我看原因是他和你某些理念倒真的很相似……只是不同的是……他坚定不移的相信：他可以把过去中的那个孩子带领到未来世界，而你虽然怀念过去却不会去接受未来的改变……你宁愿和小古一样相信……过去就应该在过去……私心里却和小佐一样希望看见一个可以重现辉煌的安迪米奥？你是不是母猫和母鸡结合啊~哈哈~<br>
<br>
至于小佐是不是真的很你怀有完全一样的理论这点我不敢说绝对了。。因为至今我不了解他要地场卫和他一起战斗是跟那位一起战斗？为什么战斗？地球？和贝尔……还是为了他所理想的未来？不懂中……<br>
<br>
小佐的下场是很悲惨的……我预计以后是会特别悲惨~<br>
<br>
小古……汗死……有点恶人先……后好人的感觉~他说的做的都很有道理都很明白，估计不明白的是他自己……</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">汗……我嘛，连自己都觉得有些怪，我明明那么怀念过去的雅雷史安，明明那么想让地球王国复兴，我写了那么多同人文章，一遍又一遍祭奠着逝去的全部，固执地如怨妇般吟唱着已死亡的歌谣，可是却从没想过，我其实是可以改变未来的。<br>
对，在同人里，我完全能做到，只要我愿意，我就可以让死者复活，使过去重现，我非常明白，但不知为什么，我始终做不到。未来的水晶东京，我从没有喜欢过，可在我的同人里，它还是一样存在，我一直不曾用我的笔破坏过它，尽管我真的很想做。大概，飞飞说得对，我虽然怀念过去，却不会亲手去改变未来，不过，暗地里却希望能出来一位天使，代替我去改变未来，做我想做的，重振雅雷史安。所以，虽然我从没用自己的笔破坏水晶东京及复兴地球王国，但又很高兴看到别人这么做，甚至不惜去请求别人这样写（当然有时也会选择多人合作）。<br>
如果重现过去的前提是必须彻底破坏现今和未来，那么代价也太大了，除非有同谋者，否则我自己不能也不愿一个人承担。<br>
但有一点，我和小佐的想法是一致的（假若我没理解错他的意思），我也认为，转世只是前生的延续，不是崭新的开始。<br>
<br>
不过，我喜欢小佐应该是从第十集开始吧，因为那个公主安魂曲，汗……咦？突然想到，在十二集里，小佐叫主人的那个情景……我有个朋友看了后说，很佩服小佐，怎么也搞不明白他如何会在卫还戴着面具的情况下认出那是自己的主人，难道卫在前世就经常这么打扮？<br>
当然，说起来，小佐的嘴唇和下巴真是非常非常的……并且这人的气质也挺好……<br>
<br>
至于小佐的下场……汗，他如今所处的位置已经很不妙了，万一卫再那个什么……基本上就等于是四面楚歌了啊……呃，还有小古……总觉得他和小佐之间的矛盾并不是完全不可调和的吧，至少他们的出发点一样，而且目前都认为不能让贝尔把卫给控制了……或许，可以考虑一下合作？<br>
啊……突然想到，卫恢复记忆后，小古又去找过小佐一两次了，没准他真有这意思也说不定呢……<br>
但事情似乎没那么容易，小古老是摆出一副对卫看不起和不尊重的模样，而小佐多半一看到他这样就火了，汗……</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">我觉的奇怪</font><font size="2">……</font><font size="2">为什么在你脑袋里两者不能够共存</font><font size="2">……</font><font size="2">他们又不是非常对立的存在，并非不可以溶合</font><font size="2">……</font><font size="2"><br>
当然你这种死忠是不会明白滴</font><font size="2">……</font><font size="2"><br>
<br>
前生当然可以影响后世</font><font size="2">……</font><font size="2">但是并不可以决定后世</font><font size="2">……</font><font size="2">小佐在36集中所说的我不能嘲笑她，因为我们每个人都被前生所影响</font><font size="2">……</font><font size="2">但是绝对不是说后世还要不变的遵循着前世的脚步</font><font size="2">……</font><font size="2">他应该是个新开始</font><font size="2">……</font><font size="2">受着前世的影响，却不被前世所束缚</font><font size="2">……</font><font size="2"><br>
<br>
我觉的虽然小佐想得到原来的安迪米奥，却绝对不希望他再被前世所束缚住，所以他要帮助他吧~<br>
<br>
小佐能认出带面具的安迪米奥是很正常的</font><font size="2">……</font><font size="2">正是说明他对于他有多么的熟悉和多么的亲密</font><font size="2">……</font><font size="2">否则连兔子都认不出来</font><font size="2">……</font><font size="2">他都能认出来</font><font size="2">……</font><font size="2">看看这关系</font><font size="2">……</font><font size="2"><br>
<br>
小古和小佐合作？不太可能吧?理念相差悬殊</font><font size="2">……</font><font size="2">小佐是很尊敬小卫</font><font size="2">……</font><font size="2">绝对不能忍受，小古那样一会要把小卫当草一样践踏，一会要把小卫来利用</font><font size="2">……</font><font size="2">谈不拢</font><font size="2">……</font><font size="2">谈不拢</font><font size="2">……</font><font size="2">不过我觉的小古也很奇怪，每次有什么计划，非要去小佐那边亮一亮，也不知道是挑衅还是干吗~所以，小佐宁愿去找金星..也不愿意去找小古~<br>
<br>
不认为出发点一样哦</font><font size="2">……</font><font size="2">小佐是不希望小卫被控制(其实希望自己引导他)，小古是想自己控制小卫(虽然可能也是说一套做一套)，如你所说基本上这个人话讲了很多，做也没有做到多少</font><font size="2">……</font><font size="2">其实以前我觉的他也有够狠，但是，对小卫就是狠不起来，35冲上来砍的都是兔子</font><font size="2">……</font><font size="2">面部抽筋的那个狠劲，可不象他以前要杀小卫的那样</font><font size="2">……</font><font size="2"><br>
<br>
不过基本上我是不清楚他要干吗</font><font size="2">……</font><font size="2">立场不明白</font><font size="2">……</font><font size="2"><br>
<br>
</font><font size="2">不过说实话，看35小佐真可怜啊……特别是站起来说，我必须保护主人，可是只有我一个人，我该怎么办的时候，觉的他有必要这么折腾吗？<br>
<br>
你就把你主人消除记忆就得了</font><font size="2">……</font><font size="2">还有我有个疑问哦，既然音乐盒里面音乐听见了就会忘记所爱的人，他直接在卫不注意的时候给他听不就完啦，还比较省时间省力气</font><font size="2">……</font><font size="2"><br>
<br>
而且我觉的很奇怪，小古告诉他要操纵卫和贝尔还喜欢小卫，他干吗先急着去消除兔子的爱情，难道不应该先想办法解决那两个人的问题？先</font><font size="2">……</font><font size="2">找地方把卫藏起来?<br>
<br>
不明白</font><font size="2">……</font><font size="2">他怎么策略失败</font><font size="2">……</font><font size="2">还有他说我错了，原来那是贝尔的分身</font><font size="2">……</font><font size="2">汗死，以前他以为那个女人是WHO？</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">如果水晶东京能搬回月球并永远不再干涉及统治地球，那就可以与地球王国共存，反之则不行。<br>
<br>
对啊……看看这关系……小佐实际上从来都没提过自己的名字，卫居然能在恢复记忆前就把小佐的名字想起来了……十三集里，小佐去找过卫，想让他记起前世，之后卫坐在沙发上，自言自语地说什么他确定那个来找他的人叫小佐，我还很奇怪他是怎么知道的……<br>
<br>
对啊，小古干嘛总往小佐那儿跑，奇怪……看他和小佐说话的口气，似乎他一直都在嘲笑小佐……不过，好像他和谁说话都是这种口气，傲慢的人，汗……<br>
<br>
其实小佐啊……首先，他必须防着兔，不能让兔和别的水手战士来接近卫；然后，他还得防着贝尔，不能让贝尔抓住卫；其次，他也要防着小古，不能让小古伤到卫；另外，卫自己也不大可能完全听话，所以他还得看着卫……当然很麻烦，一不留神就会顾此失彼，所以……汗，我看他还能撑多久……<br>
<br>
小佐主要的担忧还是兔和贝尔，就算把卫的记忆消除，兔和贝尔还是会来找卫，而且，你也说了小佐很尊敬卫，或许他是真的不愿伤害卫，连消除记忆这一点小小的伤害都不行，所以才要打兔的主意。毕竟，只要成功消除了兔的记忆，他的压力就会稍稍减轻一些。<br>
<br>
小佐说他错了，有可能是他一开始只把黑木当普通人，并没察觉到贝尔已经离卫非常近了，仅仅是隐约觉得她正在卫身旁计划着一些东西，但兔倒离卫非常近，所以他才想先去解决兔的事情。<br>
汗，找地方把卫藏起来？这可能吗？卫一个大活人会老老实实听小佐的话？<br>
</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">天啊，刚刚跑去检查了23，真的啊</font><font size="2">……</font><font size="2">卫说我可以确定那个叫佐塞特的人，如何如何</font><font size="2">……</font><font size="2">受不了中</font><font size="2">……</font><font size="2">什么都记不起来，居然会记得小佐的名字！？他连倩尼迪好象都还没有记起来吧？<br>
<br>
这两个人，一个是一眼就认出来，一个是见两面就记得名字</font><font size="2">……</font><font size="2">汗死</font><font size="2">……</font><font size="2">这关系真是太非比寻常了</font><font size="2">……</font><font size="2"><br>
<br>
怪不得小佐那么忠心耿耿的</font><font size="2">……</font><font size="2">有问题</font><font size="2">……</font><font size="2">有问题</font><font size="2">……</font><font size="2">太有问题了</font><font size="2">……</font><font size="2"><br>
<br>
嗯</font><font size="2">……</font><font size="2">是小古和谁说话都那样，但是他不去找别人就去找小佐啊，就很奇怪了，而且还喜欢用我们这个词呢</font><font size="2">……</font><font size="2">汗</font><font size="2">……</font><font size="2">自己顾自己的把统一战线给拉起来了，好象别人小佐没有说要和你在一起当我们吧~<br>
<br>
倒是和美奈子，小佐很有我们的感觉~汗~越说越暧昧</font><font size="2">……</font><font size="2"><br>
<br>
你不要把兔子和贝尔等同起来啊，兔子是兔子贝尔是贝尔好不好，虽然他们是一样喜欢卫，但是兔子不会操纵卫，兔子不会洗脑卫，兔子不会夺取卫的自我</font><font size="2">……</font><font size="2">那么两相对比，你觉的那个危险性大些？既然如此，知道了有这种危险性，应该先对付谁呢？我意思是说，他在小古给他的信息以后首先应该对付贝尔，而不是兔子，这样就不会出现正对付兔子的时候却丢了他主人，又急忙赶过来叫兔子去救人</font><font size="2">……</font><font size="2">你不觉的他很失策？<br>
好歹这也算是他的第一次计划，怎么失败成这种样子呢？好象没有弄清主次关系的说</font><font size="2">……</font><font size="2"><br>
<br>
说起策略</font><font size="2">……</font><font size="2">我一直以为小古和小佐差不多，现在看看小佐实在差的远</font><font size="2">……</font><font size="2">看看别人小古抓水兵月，变水星那一系列策略，搞的多好，还会用调虎离山呢</font><font size="2">……</font><font size="2"><br>
<br>
小佐需要好好学习</font><font size="2">……</font><font size="2"><br>
<br>
小佐是很惨啊，自找的嘛</font><font size="2">……</font><font size="2">哈~不过你用不着看他能撑多久了，他马上就不用撑了</font><font size="2">……</font><font size="2">下集铁定卫被抓，这样他也不用累了</font><font size="2">……</font><font size="2">只是我不知道他怎么面对被抓的卫？是一起被洗脑，还是象以前一样不断提醒卫，你原来是什么样~</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">小古不去找别人，仅去找小佐，或许是因为他知道只有小佐还记得前世吧。<br>
<br>
我明白小佐是很失策啊，我不过是推测一下他失策的原因，又没说他失策失得很好，汗……说实话我也真佩服他，居然能把事情弄成那个样子，晕……</font></p>
<p align="center"><a href="../index.html"><font size="3">回主页</font></a></p>
</body></html>
