<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>美战真人版第三十二话观后感</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">美战真人版第三十二话观后感</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a></font>
</p>
<p><font size="2">因为我自己都不知道想说些什么，所以，就胡乱写了这么个东西，汗，哈哈。<br>
<br>
一，古舒达篇<br>
<br>
倘若有谁告诉你并使你相信，只要去杀死一个人，就能够阻止世界的毁灭，你会那么做吗？<br>
我想你会的，而这也正是你要杀他的原因。<br>
<br>
是你的错，你背叛了我们……让这个星球走向毁灭……我要让所有跟我敌对的人付出代价，首先，主人……会是你！<br>
<br>
所谓的背叛、复仇、憎恨，那都只是借口，并不是原因，或者说，并不是主要原因。<br>
曾经的主人现今只是个叫地场卫的软弱的普通人，平淡无奇，没有任何足以战胜你的力量，如果你想报仇，随时都可以，根本不必挑场合。<br>
但是，你没有，很奇怪，你一直都没有。<br>
直到某一天，你发现，赛西达在试图唤醒主人的记忆，你这才去了。<br>
<br>
如果赛西达没给你那些奇怪的记忆，我就不必在这里杀你……<br>
<br>
你要杀他的主要原因，就是不愿让他恢复记忆吧？<br>
主人和公主的相爱造成了地球和月球的毁灭，并非是他俩希望毁灭产生，但毁灭却因二人而起，或者，用你的说法，主人造成了地球的毁灭……总之，不管怎样，只要主人想起了过去，他就有可能又一次沿着宿命继续走下去，最终导致灾难再次发生，并且不止是主人，不止是你，甚至连我们赖以生存的地球都会完结，因此，必须阻止这件事情，哪怕他已转世重生，哪怕主人已成为地场卫。<br>
主人的记忆，是导火索，是打开毁灭之门的钥匙，所以，决不能允许它出现。<br>
其实，历史未必会重演，前世与今生，几乎已是两个截然不同的时空……可是，万一呢？谁能保证历史肯定不会重演？至少，你不能，对不对？<br>
如果等到灾难发生以后再制止，那一切就太迟了……<br>
<br>
只要过去存在，所有东西都会重复。在那发生之前，我必须结束它。<br>
<br>
这确实是缘故，但并不是问题的实质，真正的实质，是你不相信他，你不信任自己的主人，你恨他原先的作法，你认为他绝对会把情况弄得和从前一样糟糕。<br>
而且，你觉得，过去事实上是不存在的，已转世重生的自己，没必要也不应该再与前世有什么瓜葛了。所以，你不承认他，从来不承认他是你的主人，最多，你会把他称为过去的主人。<br>
过去的主人，不应干扰你现今的生活，不应重新给你戴上前生的锁链，所以一定要摆脱掉，不惜任何代价，甚至，包括杀死他。<br>
<br>
只要你乖乖地躲在一个秘密之处不出来的话，那你还可以安安静静地度过余生，但若你不想这么做……<br>
<br>
主人是不该出现的，因为过去就是不该出现的，那将破坏目前还算平静的表象，特别是对于贝尔……记得你曾跟贝尔说过，即使他恢复记忆，也不能带给她什么，可她真的会听吗？是他勾起了她的某种心思，不应该被勾起的心思……<br>
我理解你的想法，几乎已经在准备支持你，但是，我肯定你不会成功。<br>
你曾朝他高举起手中的剑，一次又一次地，但每回都半途而废。<br>
你终究是做不到的，想想看，防碍你的人那么多，甚至还有可能包括你自己。<br>
祝你好运，聪明的自以为理性的你，祝你可以找到另外一条路，去开始你自己的生活，去主宰你自己的命运。<br>
<br>
二，赛西达篇<br>
<br>
倘若想让一个人远离危险，就必须先告诉其什么是危险，否则，连危险的存在都不知道，又何谈避开呢？<br>
<br>
如果不是因为公主……<br>
<br>
主人和公主的相爱造成了地球和月球的毁灭，并非是他俩希望毁灭产生，但毁灭却因二人而起，或者，用你的说法，公主造成了地球的毁灭……总之，不管怎样，只要主人继续与公主在一起，灾难就将再次发生，不止是主人，不止是你，甚至连我们赖以生存的地球都会完结，因此，必须阻止这件事情，哪怕两人已转世重生，哪怕主人已成为地场卫，哪怕公主已成为月野兔。<br>
<br>
我想要你回忆起来……你曾经被叫为安狄美奥的时候……<br>
<br>
可是，你凭什么去阻止他们像最初那样又一次相爱呢？他们本便是恋人，彼此间早有着强烈的吸引力，只要相逢，就很可能慢慢步入爱河……并且，总是从不知什么地方钻出来的夜礼服假面，每回都能恰到好处地帮助水手月亮或者水手金星……你已经看到了两人的重逢，不是吗？<br>
<br>
主人几乎失去他的生命了，跟我想的一样……跟公主在一起，对他而言有多么危险……<br>
<br>
但你是没办法阻止的，谁也不清楚你的身份，谁也不会相信你虚无飘渺的莫名其妙的预言，谁也不可能懂你的解释，何况有些东西根本无从证明，除非等到事情真正发生，而那是不可能的，难道一个人通过杀死自己以证实自己曾经活过的作法有意义吗？而只有傻瓜才会由于那种似是而非的原因真去跟心爱的恋人分手。<br>
所以，必须让主人先恢复记忆，只要想起了过去，他肯定就可以考虑未来，他的眼睛便将变得明亮，他的心智便将变得明晰，他就会洞察到一切的危机，甚至根本不用你劝说，他自己便会避开危险……<br>
<br>
我必须唤醒主人……这样才可以避免这个星球再度发生悲剧……<br>
<br>
大概，你就是这样想的吧。<br>
这确实是缘故，但并不是问题的实质，真正的实质，是你相信他，你信任自己的主人，你认为他绝对不会把情况弄得和从前一样糟糕，甚至可以说，你还寄希望于他，因此，你才想要他回忆起前世，你才想要继续对他效忠吧。<br>
<br>
为了不让前世的悲剧再度重演……我们得效忠主人。<br>
<br>
我不知道，为什么你会那么想，或许这只是一种习惯与本能，或许你更擅长从感性而并非理性的层面来思考，但你的幻想的不稳定性令我害怕……<br>
主人也是人，不是机器，谁也无法保证他所走的道路是不是他所想要的，更没人能保证他所想要的是不是你所想要的……想想看，你的立场和他的立场真的完全一致吗？你的利益和他的利益真的分毫不差吗？<br>
<br>
你……是你自己，主人。<br>
<br>
在说出这句话的时候，你就等于是已经把未来交给了他，而那不止是他一个人的未来。<br>
祝你好运，当然，更应该祝他好运。<br>
<br>
好吧，我就写这么多了，欢迎有识之士前来批驳。
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>