<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>美少女战士真人版之前世今生篇</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b>美战真人版之前世今生篇</b></p>
<p align="center"><font size="2">作者：飞飞、摇光</font></p>
<p><font size="2">闲来无事，与友人QQ上闲聊，聊到兴起处，起笔成文，和喜者共赏之！</font></p> 
<p><font size="2"><font color="#CCCCCC">地场卫/安迪米奥：决心要跳出前世，结果最后变成哲学家的家伙。</font><br>
<br>
前世的安迪米奥啊，好象似乎是为了公主和爱情抛弃了地球和责任的王子，也不知道他是在火里和公主一起烧死了(见二十六集前)，还是被莫名其妙的人莫名其妙的砍了一刀就此结束了意义不明的前世(见二十六集后)？拥有着四个忠诚可以像朋友一样相处的部下，拥有着贝尔所渴望的财富、英俊、名誉、地位……就这种幸福生活还是没有阻挡住他奔向自由的爱情……<br>
<br>
有时候，命运为了证明他的公平常会做出一些令人无法理解的改变。前世的王子转生成普通人地场卫，不再有财富、地位、名誉、力量甚至从前的记忆……可就是这个看起来比普通人还要糟一点的家伙，不但不能够作为普通人一样生活，还要混在一堆超能力者中间为前世的恩怨所累，无能力倒成了他的罪过了。前世记忆是他一直想要寻找的，因为寻找不到记忆，对于一个人来说意味着连存在都不完整。当不堪的过往一步一步被揭开，前世的毁灭背叛和破坏再现的预言就象毒蛇一样紧紧缠绕着他。面对记忆的萌发，他表现得与所有普通人一样，对不可预期的灾难和沉重责任的压力，会恐惧会逃避，任凭佐塞特是如影随形苦苦哀求，不能完全清楚前世记忆和身份的他仍旧处于迷惑和不确定之中……<br>
<br>
唯一值得庆幸得是今生的小卫毕竟肯承担去爱，没有了前世一切有利条件，却多了一份面对责任的勇气。一旦命运将他推向无可避免的刀锋，身体里某些属于王者的东西蓦然觉醒了。在那一场戏里，第一次觉得这个完全男孩子模样的家伙原来已经是个成熟有担当的男人，直面未知的命运选择一条自己想走的路。从那时候起，眼前这个人无论地场卫或安迪米奥都不再重要，他就是他自己，可以跳离开前世看今生，决心不再逃避的他也对今生的爱情和今生的地球发出了守护的宣言。<br>
<br>
可惜没有超能力的他能做的事情实在不多呢，为了四天王的性命被贝尔所俘，就算他到了黑暗王国依旧还坚持着改变命运的决心，有自己的计划，为了实现目标而无比坚定甚至大无畏，为了取得贝尔的信任狠下心对自己的爱人拔剑相向……这时候的他模样坚忍令人心动。可再坚定不移的心，也抵不过编剧无法脱离女权束缚的意。命运无情，编剧无义。(^_^)为兔子平复情绪的代价是生命一点点流失和耗弱；而让剩余的部下可以活下来的代价是坐在房间里等死……<br>
<br>
可惜曾经剧中唯一坚持一定要跳脱前世看今生的人，到最后也只能留在牢笼中述说一堆又一堆的哲学道理，最终在最重要的一句“结束前世是为了今生更好的活着”之后，他选择了以自己无生命的空壳封印美达利。空有大志徒无能力的男人，就算是能把前世今生的关系看的再透彻又有何用？只有悲哀以自己的残余之力为自己所爱的人干自己仅能作到最后一件事。所幸，就算结果虽然还是失败，但终究还是摆脱了他会抛弃地球的预言吧。
<br>
</font></p> 
<p><font size="2"><font color="#CCCCCC">古舒达：意图逃脱前世，寻找自由的人。</font><br>
<br>
前世的古舒达温和而忠诚，对安迪米奥的感情大概连佐塞特也无法媲美，在草地上练剑时的温和笑容和那一句我们的剑是为主人而牺牲的忠诚宣言，足以证明小古对安迪米奥的忠诚，也许就是因为这种爱极，才导致当他面对王子因为自己的爱情而抛弃地球这样一个事实的时候，这种忠诚迅速异变为扭曲的感情……<br>
<br>
今生的小古背负了太多的东西。前世的记忆、压抑的忠诚，纠缠的爱恨扣成无法开解的结。因为前世众人悲惨的结局，从被唤醒的那一刻他开始就了对前世命运的反抗。逃脱前世的重现唯一的出路就是毁灭，毁灭一切与其相关的事物，或者，以自己的能力取而代之。在贝尔面前多次不敬，试图通过控制安迪米奥而达到控制整个局面的目的，今世的小古绝对不再是一个任命运摆布的人，更不会轻易屈从于任何一人的命令。所以面对再次出现在他的面前的安迪米奥，他选择了可以彻底从前世的忠诚中叛离出来的弑主的道路，彻底抛弃了前世。<br>
<br>
对于一心想要改变命运的他来说，前世根本再无存在必要，忠诚亦已是愚蠢的东西……无法逃离贝尔的控制而成为傀儡是他的耻辱，并因此而以掌握这一世的命运为唯一的目标，甚至不惜自残来达到目的。也许也只有小古才能自傲如斯。可惜自认屏弃了忠诚和回忆的小古到底还是低估了前世的束缚。在安迪米奥真正面临生死存亡的一刻，他还是下意识的选择了替安迪米奥当下致命的一剑。<br>
<br>
对小古来说，这样的结束虽在意料之外却也在情理之中吧。既然他最大的执念来至于前世，那么相对的他才是最放不开前世记忆的人。所以他才会执着于逃离前世的束缚，当心底的温情和爱被对王子的失望和恨掩藏起来的时候，小卫愚蠢的封印行动却颠覆了记忆中不负责任的形象。于是恨的根源被震动被削弱，一直潜藏着的矛盾在最短的时间内激化，于是在那一刻他找回了被恨封印着的自己，那些留在前世美好记忆里的良知和爱。<br>
<br>
这样的结束对他来说是得到了自由或是依旧围困在前世之中？答案其实不再重要……看最后一刻他平静的微笑，也许这正是他一直想要寻找而不可得的东西。<br>
<br>
毕竟，矛盾本身就是一种痛苦，从纠缠的爱恨中解放出来他才能得到真正的幸福吧。</font></p> 
<p><font size="2"><font color="#CCCCCC">佐塞特：意图找回前世的人，完全拒绝改变的人。</font><br>
<br>
佐塞特的前世是个迷，没有人知道他那时是一个怎样的存在，借用某人的话说，前世的小佐根本就是在玩失踪，除了在众人一起游戏时出现的手套，基本上前世的记忆里是没有他任何影子的。不过回忆里没有他，并不代表他在前世不重要，因为那正是小佐以一贯之的性格，对于一切幸福他愿意做一个满足的旁观者。比起古舒达，他的确是更适合守护的……也正是这样的性子决定了小佐今生必然要走的路。<br>
<br>
今世的小佐，在起初无记忆时期是分外漠然和游离的－－依然是作一个旁观者，却找不到要关注的对象。只是一切冷漠崩坏在他与卫碰触的一瞬间，萌发的记忆将他变成了一个彻头彻尾的赤忠臣子。无条件的付出和信任，只因为对方是主人便轻易原谅他所犯下的一切错误，将错误适当的归结到它人身上后，还要固执的认为只要找回了前世的王子，那么在四天王的辅助之下必然可以找到曾经让所有人都和睦相处的前世。陷入记忆魔障的小佐看不到改变也并不相信小卫，只是执念于找回王子，找回他可以在一边静静看着自己所爱的人幸福，然后开心微笑的日子……说起来这算是愚忠了吧，但是不可否认的是所谓“愚”往往来自于纯粹，他的目标那么单一，好像只要满足一点就可以满足全部……<br>
<br>
所以这样的小佐从未也许是从不愿想象今生已经不再是前世，小卫再不可能变回到王子。一个抱着回忆拒绝变化的人心心念念追求一去不复返的过去，本身就只能是个浪漫的悲剧。人生若只在初见。是小佐最美丽的梦想……所以，就算他面对的已是故人心变甚至人物全非，依然选择把小卫当做实现梦想的唯一途径。面对处在危机中的小卫，他求助于被认为唯一可以救小卫的兔子，而不管不顾他们接触是否会毁灭地球。也许这时候长久以来孤军作战的无能为力让他愈发怀念四天王共同努力的日子，所以才会这样变本加厉的一厢情愿起来，希望以自己最后的力量唤醒其他人的记忆，认为只要所有人都觉醒都恢复忠诚就可以回到以前的美好时光……死前的呐喊虽然凄惨动人，可为之动容而有激烈反映的却只有小卫而已……<br>
<br>
无论如何，怀着这个梦想而去的小佐也是幸福的吧，单纯的人怀抱单纯的梦想，而命运也仁慈的没有让他看到梦想最后的破灭。
<br>
</font></p> 
<p><font size="2"><font color="#CCCCCC">拿拉达：找不到前世，又被今生抛弃的人。</font><br>
<br>
前世有拿拉达短暂的出现，但一句“美达利”的争吵已足以让人感到他的急躁个性。那时候，对安迪米奥应该是有感情的吧，只是性情简单的人难得有心铭记回忆，所以应该说前世的束缚之于他并不会如其它人来得深刻吧……<br>
<br>
简单的快乐总要付出代价，于是今生竟成为这样一个最可怜之人。一开始的拿拉达对贝尔十足的忠诚，几乎没有任何野心，卖力的表现只为博取女王的宠信，简单粗暴，单线条思考，一心认为只要得到女王的宠信就可以活的更好，所以对于失宠的危机表现得异常敏感，且越害怕就表现的越忠诚越急躁，实在很有些惶惶不可终日的可怜味道……可惜，贝尔怎么也不领他这份情，对他的态度总是若即若离，更是使他彷徨失落不已。这时候以王子姿态出现在他面前的小卫又似乎在某地唤醒着前世模糊的记忆，他试图通过找回前世记忆而找到一个依靠，无奈无论他如何努力，其结果就如同对贝尔忠诚一样，得不到回应无疾而终……<br>
<br>
找不到前世的记忆，又无法得到贝尔宠信的他，在落没中曾得到黑暗水星的一点安慰，可惜这个人好似命定一切缘分有始无终，还没来得及好好享受这份慰寄，水星就已经恢正常。而命运还是以最快的速度向黑暗滑去，拦也拦不住。为了得到小卫，他终于彻底被贝尔所抛弃，长剑穿胸的一刻眼神中依然是莫名的无辜……<br>
<br>
因此，他得到了古舒达梦寐以求的自由--在人间遇上好心的龟吉先生（唯一的幸运？^_^），过上了平常的打工生活，更似乎隐隐可见一段爱情的萌动……可命运终究是命运，还没等感情发芽，世界末日到了……于是，他的一生便在来不及的时候彻底结束，迫不及待的和其他兄弟一起到天堂报道了……哎……我看见你就想起莎士比亚：拿拉达，你的名字是悲剧！两边都不靠的人实在是悲惨的榜样啊……随便的被编剧抛过来抛过去……<br>
<br>
虽然象个没有安全感的小孩子一直一直寻找依靠，却从来没有得所希翼的认同感，但愿你在天堂能够找到你想要得到的东西吧，阿门。
<br>
</font></p> 
<p><font size="2"><font color="#CCCCCC">积达：彻底抛弃前世，决意追随今生的人。</font><br>
<br>
前世的积达是四天王年纪最小的，据佐塞特的诉说“他把安迪米奥当做哥哥一样看待”，当小佐试图用琴声敲开他回忆大门的时候，所见的是一个对安迪米奥充满了崇拜的孩子模样。可惜就像所有被宠爱的幸福孩子，积达也有像孩子一样善于遗忘的性子。&nbsp;<br>
<br>
今生的积达是唯一一个彻底抛弃了前世感情的人吧，虽然不是没有犹豫。面对前世和今生的冲突的时候，他也曾疑惑过，也曾在小卫叫他的名字的时候不由自主的向前跨了一步，更在见拿拉达被扔出去以后陷入了矛盾之中……所以前世对他来说并非没有影响，而他的记忆也并未象拿拉达那样沉封不起，可最终他还是选择彻底抛离前世，追随今生的道路。当站在被贝尔的打晕过去的小佐身边的他眼中露出的害怕眼神，对他做这样一个选择也就不难理解了。认同强者，选择唯一的道路，不需要多想，认定了就去做，都是简单的事……<br>
<br>
面对小佐的威逼利诱，他好坚定的说选择贝尔，这倒也像个男人，决意的要了断和前世一切的瓜葛，认定了主人也只有贝尔一个……所以给小卫插石头使其陷入困境，刺杀王子却错杀了小古，应该是他对他选择的唯一主人的表现出的坚定不移……只是当他每每在做完以后又表现出一种小孩子的无辜和惊恐，就像不是在执行命令，而是作为小弟弟的他误信了坏人的话，所以做了不该做的事。一个不懂事的小孩无意中坏了事，这种奇怪的反应似乎对他的坚定不移打上了些折扣，也许隐隐的他还是有些思想斗争(可能演技还有问题，我没看出来心理斗争)，不过最后他表现出大无畏的精神同自己选择的主人一起殉葬，虽然忠诚和感情皆都表现的很突然，却也是他一生中唯一的精彩时刻了……
<br>
</font></p> 
<p><font size="2"><font color="#CCCCCC">贝尔：忘不了前世，要在今生补偿的女人。</font><br>
<br>
并没有直接的证据表明前世的安迪米奥和贝尔有任何直接的感情上的纠葛，前世的贝尔大人就一个出来的镜头，还明显是拷贝漫画里那个在柱后偷看的画面，无从知晓安迪米奥对贝尔本人究竟是一种什么样的感觉，不过个人觉得此种感情暗恋的成分应大于感情纠葛……也许安迪米奥知道但并未回应，也许压根就不知……这种苦涩而甜蜜的爱慕本来就应该是一种得不到的纯粹的感情……但却又往往由于得不到而转换为一种嫉妒之情。事实上，给地球的人洗脑引起了战争的人正是她……<br>
<br>
今生，她对公主的憎恶和对银水晶的强烈企图大半源于前世无法拥有财富、地位、权利以及爱情的羡慕和嫉妒……在她一切企图的背后都有一个深藏着的名字--安迪米奥。于是当这个男人出现的时候，银水晶变得不再重要，只有拥有眼前这个男人才能使前世恶梦中那个自卑可怜的女人消失……于是计划不再是计划，野心也不再成为野心，原来那个意图要统治全世界的女人，最终还是摆脱不了前世躲在卑微角落里独自伤心的影子……穿过千年，这种执念已经强烈到就算得不到心也要得到人的地步……<br>
<br>
其实，这一切作为不过都是对前世得不到的感情的一种变相自我补偿罢了……其实……她也只是一个被前世束缚，执迷于无望爱情的可怜女人。
<br>
</font></p> 
<p align="center"><a href="../index.html"><font size="3">回主页</font></a></p>
</body></html>

