<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>趣味占卜</title>
</head><body text="#CCCCCC" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center">
<b>
<font size="3">趣味占卜</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a></font></p>
<div align="center">
<center>
<table border="3" height="383" bordercolorlight="#FFFFFF" bordercolordark="#FFFFFF" bordercolor="#FFFFFF">
<tr>
<td height="27" align="center" colspan="3">
<p align="center"><font size="2"><b>各位，有兴趣来看看自己和卫的最佳和最糟组合吗？来试试看吧：）</b></font></td>
</tr><tr>
<td height="14" align="center">
<b><font size="2">出生日期</font></b></td>
<td height="13" align="center">
<b><font size="2">最佳组合</font></b></td>
<td height="13" align="center">
<b><font size="2">最糟组合</font></b></td>
</tr><tr>
<td height="14" align="center">
<font size="2">3.19-24</font></td>
<td height="13" align="center">
<font size="2">朋友</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">3.25-4.2</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
<td height="13" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">4.3-10</font></td>
<td height="13" align="center">
<font size="2">朋友</font></td>
<td height="13" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">4.11-18</font></td>
<td height="13" align="center">
<font size="2">对手、朋友</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">4.19-24</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
<td height="13" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">4.25-5.2</font></td>
<td height="13" align="center">
<font size="2">手足、同事</font></td>
<td height="13" align="center">
<font size="2">事业伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">5.3-10</font></td>
<td height="13" align="center">
<font size="2">情侣</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">5.11-18</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
<td height="13" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">5.19-24</font></td>
<td height="13" align="center">
<font size="2">手足</font></td>
<td height="13" align="center">
<font size="2">同事</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">5.25-6.2</font></td>
<td height="13" align="center">
<font size="2">/</font></td>
<td height="13" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">6.3-10</font></td>
<td height="5" align="center">
<font size="2">情侣</font></td>
<td height="5" align="center">
<font size="2">家人</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">6.11-18</font></td>
<td height="3" align="center">
<font size="2">朋友</font></td>
<td height="3" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">6.19-24</font></td>
<td height="6" align="center">
<font size="2">朋友</font></td>
<td height="6" align="center">
<font size="2">家人</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">6.25-7.2</font></td>
<td height="7" align="center">
<font size="2">朋友</font></td>
<td height="7" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">7.3-10</font></td>
<td height="5" align="center">
<font size="2">情侣</font></td>
<td height="5" align="center">
<font size="2">家人</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">7.11-18</font></td>
<td height="4" align="center">
<font size="2">工作伙伴</font></td>
<td height="4" align="center">
<font size="2">手足</font></td>
</tr><tr>
<td height="5" align="center">
<font size="2">7.19-24</font></td>
<td height="1" align="center">
<font size="2">朋友</font></td>
<td height="1" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">7.25-8.2</font></td>
<td height="3" align="center">
<font size="2">工作伙伴</font></td>
<td height="3" align="center">
<font size="2">手足</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">8.3-10</font></td>
<td height="7" align="center">
<font size="2">朋友</font></td>
<td height="7" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">8.11-18</font></td>
<td height="3" align="center">
<font size="2">夫妻</font></td>
<td height="3" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">8.19-24</font></td>
<td height="5" align="center">
<font size="2">工作伙伴</font></td>
<td height="5" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">8.25-9.2</font></td>
<td height="8" align="center">
<font size="2">情侣</font></td>
<td height="8" align="center">
<font size="2">家人</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">9.3-10</font></td>
<td height="5" align="center">
<font size="2">亲子</font></td>
<td height="5" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">9.11-18</font></td>
<td height="9" align="center">
<font size="2">工作伙伴</font></td>
<td height="9" align="center">
<font size="2">亲子</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">9.19-24</font></td>
<td height="4" align="center">
<font size="2">家人</font></td>
<td height="4" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">9.25-10.2</font></td>
<td height="5" align="center">
<font size="2">朋友</font></td>
<td height="5" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">10.3-10</font></td>
<td height="7" align="center">
<font size="2">手足</font></td>
<td height="7" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">10.11-18</font></td>
<td height="7" align="center">
<font size="2">工作伙伴</font></td>
<td height="7" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">10.19-25</font></td>
<td height="9" align="center">
<font size="2">朋友</font></td>
<td height="9" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">10.26-11.2</font></td>
<td height="7" align="center">
<font size="2">夫妻</font></td>
<td height="7" align="center">
<font size="2">手足</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">11.3-11</font></td>
<td height="1" align="center">
<font size="2">情侣</font></td>
<td height="1" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">11.12-18</font></td>
<td height="6" align="center">
<font size="2">朋友</font></td>
<td height="6" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">11.19-24</font></td>
<td height="6" align="center">
<font size="2">手足</font></td>
<td height="6" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">11.25-12.2</font></td>
<td height="5" align="center">
<font size="2">夫妻</font></td>
<td height="5" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">12.3-10</font></td>
<td height="3" align="center">
<font size="2">夫妻</font></td>
<td height="3" align="center">
<font size="2">手足</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">12.11-18</font></td>
<td height="6" align="center">
<font size="2">工作伙伴</font></td>
<td height="6" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">12.19-25</font></td>
<td height="6" align="center">
<font size="2">工作伙伴</font></td>
<td height="6" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">12.26-1.2</font></td>
<td height="3" align="center">
<font size="2">朋友</font></td>
<td height="3" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">1.3-9</font></td>
<td height="7" align="center">
<font size="2">家人</font></td>
<td height="7" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">1.10-16</font></td>
<td height="5" align="center">
<font size="2">工作伙伴、夫妻</font></td>
<td height="5" align="center">
<font size="2">朋友</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">1.17-22</font></td>
<td height="3" align="center">
<font size="2">工作伙伴</font></td>
<td height="3" align="center">
<font size="2">手足</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">1.23-30</font></td>
<td height="6" align="center">
<font size="2">夫妻</font></td>
<td height="6" align="center">
<font size="2">朋友</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">1.31-2.7</font></td>
<td height="6" align="center">
<font size="2">工作伙伴</font></td>
<td height="6" align="center">
<font size="2">亲子</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">2.8-15</font></td>
<td height="4" align="center">
<font size="2">情侣</font></td>
<td height="4" align="center">
<font size="2">工作伙伴</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">2.16-22</font></td>
<td height="4" align="center">
<font size="2">情侣</font></td>
<td height="4" align="center">
<font size="2">夫妻</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">2.23-3.2</font></td>
<td height="6" align="center">
<font size="2">夫妻</font></td>
<td height="6" align="center">
<font size="2">情侣</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">3.3-10</font></td>
<td height="7" align="center">
<font size="2">朋友</font></td>
<td height="7" align="center">
<font size="2">亲子</font></td>
</tr><tr>
<td height="14" align="center">
<font size="2">3.11-18</font></td>
<td height="3" align="center">
<font size="2">对手</font></td>
<td height="3" align="center">
<font size="2">情侣</font></td>
</tr></table>
</center>
</div>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
