<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无责任评论</title>
</head><body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center">
<b><font size="3">无责任评论</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:mamoruchiba@sina.com">Tuxedomask</a></font></p>
<p align="left"><font size="2">
<b>
1.贝尔和安狄美奥</b><br>
<br>
确实不曾想过可以把这两个人和在一起，要不是受女王的启发，我是决不会让他们在一起的哟~~~~<br>
既然要让两位在一起，要天长地久，那么就必须有相应的条件哟。必须按照皇家的规定——门当户对，才是啊。那么就来看看吧：<br>
安狄美奥：不用说，地球的第一王子，未来的国王，身份无比高贵，望尘莫及，从头到脚都散发着金色的光芒（是黄金水晶的威力吗？）。又岂是平民百姓所可以高攀得起的呢？也许只有去爱戴他才是。<br>
贝尔：这个人的身份其实一直不是很确定的啦。如果说是哪个国家的公主的话，也有问题啊。不是说当时地球是一个统一的王国吗？所以就按游戏中的说法来解释好了，她是一个了不起的占卜师（女巫也可以拉，这个地位可是很高贵的哟）。而英文将其翻译成“QUEEN BERY”——贝尔女王。“女王”耶~~~，这个称号可是无人可挡的哟，比公主还要大两级呢！<br>    
（贝尔登场：快，叫我女王陛下！！我是女王！！！！O~HO~HO~HO~&lt;典型的日本三段笑>！”刹时，贝尔变得无比高大，而公主变得好小！众人伏首称臣~~~全城笼罩在贝尔可怕的笑声之中！大家无法想象的话，可以参考《秀逗魔导士》中莉那她姐姐的笑声和景象）<br>    
所以从这个角度来看的话，两个人的匹配度可是无敌的高哟！！！（老国王：恩，恩，没问题，盖章，通过！！！鼓掌）<br>    
连皇家最重的一条都通过了，其他还有什么问题吗？<br>    
论相貌。俊男靓女啊！贝尔可是很漂亮的哟，真的很漂亮！（众人：你怎么知道？难道你亲眼看到的？？小作：我，我~~~~~~~~~）至于王子殿下，他不帅？你有没有搞错？他不帅怎么吸引月球的公主啊？难道那么多人的眼光都有问题吗？<br>    
论学识。王子接受的是正统的教育，而且王子又那么好学，没的说的拉！贝尔能成为当时那么成功的占卜师（女巫），其灵力一定非凡。有灵力那么强的皇后有什么不好的啊？可以预知，便可以避开危险。国家何愁不繁荣，不昌盛？<br>    
哇，这一组合，绝配！其光芒盖天地！只是，只是~~~~~（众人：你都认可了，你还有什么要说的？）只是贝尔少了颗比较值钱的，可以被N多个人争的水晶，所以好象稍微弱了一点~~~~所以贝尔才要去夺银水晶嘛~~<br>    
<br>    
<b>    
2.赛西达和古舒达</b><br>    
<br>    
怎么说呢，应该也算是个BL世界的悲剧人物吧！总觉得好象搞BL的都会是悲剧的似的。<br>    
这两个人在漫画里还是好好的，可没有想到，一进入动画，居然被安在了一起，而且关系还是如此的暧昧。他们成为了当时动漫中热门话题——BL的又一对牺牲品。<br>    
既然木已成舟，那便承认了这一对好了~~~好歹他们也是两情相悦吗，好歹还是《美战》中难得的一对，所以还请大家支持他们啊~~~~~~~~~（众人：哇~~~这里又多了一个同人女，大家小心啊~~~~~）<br>    
那么看看这两个人的匹配度吧~~~<br>    
古舒达：有着银白色的长发（有着类似长发的人是不是都这样？就象《间の楔》中的伊亚索）他的身材也确实不错，属于那种很有型的人，而且，而且在动画中，四大天王里，只有他总是不把衣服的领子钮好，至于是不是存心为了突出自己的身体的体型，就不得而知了。能迷住多少人我不知道，但至少迷住了塞西达。<br>    
塞西达：迷人的金色的卷发。这种发型，就像女孩子的（不过他的头发可是很多女孩所向往的）。那么的柔顺，质感一定很好！！（洗发水广告找他做形象代言人，绝对没错~~~~~~~）再看他的身材，较古舒达而言，自然是娇小可人，他那么的小鸟伊人，怎能让古舒达割舍得下~~~~<br>    
俗话说：只羡鸳鸯，不羡仙~~~~~~只要他们在一起能够快乐，我们又有什么理由去拆散他们呢？？<br>    
分析一下，会造成这种结果的原因吧~~~我不确定他们是从什么时候在一起的？是远古时代吗？？如果是的话，那么有如下解释：就像水手战士们一样，作为王子的守护者，他们同样不可以拥有属于自己的爱情，所以，在这样被禁止的情况啊，就造就了这么一对“惊天地，泣鬼神”的恋人（众人：太夸张了吧~~~~~~~~）。<br>   
虽然，虽然，这对恋人最终还是双双“殉情”，但是，当塞西达在古舒达的怀抱里安静地死去，美丽地死去的时候，我想，他应该知足了！！！！能死在自己所爱的人的怀抱了，也许是最幸福的~~~~~如果他们可以再转世，他们一定还要在一起，那时的世界，一定没有人再象现在那样鄙视这种同志之间的爱情，那时他们一定可以幸福地生活在一起的~~~~~~~~~~（小作：憧憬之中~~~~~~~~~~）<br>   
<br>   
<b>   
3.奈留和拿拉达</b><br>   
<br>   
（台下：众人昏昏欲睡~~~~~&nbsp;<br>   
小作：大家醒醒拉，还有最后一对，马上就可以结束了）<br>   
还是悲剧的一对，原本可以成功的，却在最后，男方遭受了毒手~~~~死在了爱自己的人的身边。&nbsp;<br>   
奈留因为什么喜欢上这个拿拉达，我不想多做解释，无非只是因为对方帅吧    
。她如此一相情愿地爱着对方，不管别人的想法是什么，她只在乎自己心里的想法。奈留一直在被骗，可她无怨无悔。也许在她看来，只要能和自己喜欢的人在一起，哪怕对方只是因为利用自己而不断得出现在自己的身边，这些又算得了什么？就象飞蛾扑火，明知自己会伤得很深，却义无返顾。爱做梦的女孩，最怕的是梦的苏醒，只要梦不醒，她们依旧快乐。<br>   
拿拉达，接近奈留，难道不是因为她可能和水兵月有些关联吗？我不知道，当他每次出现在奈留身边的时候，他难道从来就没有为这个小姑娘的热情所感动过？如果没有的话，那么当奈留挺身而出，阻止水兵月对他的攻击，他应该有所觉悟：人类的社会，并不应该被黑暗所统治，这里充满了阳光，充满了爱，这是黑暗帝国所缺的，是他们无法拥有的东西，这也是无法战胜“爱与正义”的原因。<br>   
这两个人，一个在利用，一个在被利用。但最终，当他们可以了解彼此的心意，当奈留说出自己的感情，当拿拉达告诉奈留自己一直在骗对方的时候，他们的心其实已经相通了。真正的爱，是该建立在相互沟通之中的。拿拉达的笑容，告诉了奈留，告诉了我们，他现在很开心，那种在黑暗中无法获得的快感。<br>   
虽然最终，拿拉达还是走了，化做无数七彩的泡泡，飘向空中。他离开了奈留，不，也许对奈留而言他会向空气一样永远围绕在自己的身边。是奈留拯救了拿拉达，使他终于可以脱离苦海~~~~~~~~<br>   
为什么故事总是悲剧，也许悲剧可以打动人，也许人们爱看悲剧，但是…………（说着说着，小作好象想到了自己的一些事，不知不觉，眼泪从眼角流出~~~~~~~~~~~~）<br>   
<br>   
OK！OK！终于结束了~~~~谢谢各位啦（只见台下众人突然睡醒，人手一个鸡蛋，两眼冒火，不知是谁说了一句：开火！！！！，小作葬身于鸡蛋之中。）</font></p>   
<p align="center"><a href="../index.html">回主页</a></p>
</body></html> 
