<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>黑暗帝国四天王之RPG篇</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">黑暗帝国四天王之RPG篇</font></b></p>
<p align="center"><font size="2">作者：赤色彗星</font></p>
<p align="left"><font size="2">刚才看了某论坛一位老兄的投票帖，有感而发！<br>
偶觉得写实版四天王如果放到RPG游戏里职业如下：</font></p>
<p align="left"><font size="2">坤载特 ：&nbsp;<br>
应该是魔法战士，功防能力不错，也能使用一定的魔法，似乎同时擅长召唤系（比如把水星收为己用一类的）。<br>
参考游戏：最终幻想5里魔法剑士和召唤使的结合体。<br>
武器：名剑河豚毒（侍魂里霸王丸的武器）。<br>
备注：似乎没有什么弱点，强大是他的唯一，出门杀怪打宝升级一定要组上他的说。<br>
<br>
佐赛特：&nbsp;<br>
没的说，职业铁定是妖术师或者咒术师，有的游戏也叫幻术师。专门擅长使用精神系的魔法（比如用幻术控制战士为自己战斗，还有弹钢琴的那个地图兵器）。<br>
参考游戏：如果说是Diablo2里的男巫似乎比较象的说。<br>
武器：有点象侍魂四里首斩破沙罗的那把武器（实在找不出相象的）。<br>
备注：法师的通病，血少防御差，所以被金星秒杀！<br>
<br>
杰戴特：&nbsp;<br>
职业为日本武士，不说别的，就他那种为贝尔大人不惜牺牲一切的精神的确感人的说，忠诚可嘉！<br>
技能方面会一些低阶的魔法弹，杀伤里有限（参考写实版第7集里他的魔法打中假面竟然只是手擦伤一层皮可见威力一斑）。<br>
参考游戏：光荣英杰传四信长传里的众多日本武士！<br>
武器：青鸾火风（街机游戏三国战绩里貂禅的武器）。<br>
备注：没什么好说的，实力比较平均，没特别擅长也没特别差。&nbsp;<br>
<br>
涅夫莱特：&nbsp;<br>
职业为圣骑士，血长耐打适合当肉盾，这位仁兄最厉害的战绩就是被火星觉醒了力量然后一击……（没有秒杀），只是烧了点衣服的说，下一集照样活蹦乱跳，就因为这点优势竟然博得水星MM的青睐！（羡慕）<br>
参考游戏：魔兽三里的圣骑士，附带无敌技能。（怀疑上述场景这位仁兄就是开了无敌技能）。<br>
武器：名剑干将（水星那把就是名剑莫邪，正好一对）。<br>
备注：死得太冤枉，复活得太离奇？最后一集又莫名其妙的和众兄弟升入天堂（无语！）。</font></p>
<p align="left"><font size="2">以上只是个人愚见，欢迎各位大虾补充与修正！</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html> 

