<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>Shi Tennou</title>
</head><body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">《Shi Tennou》-非常精彩的俄文人物评论</font></b></p>   
<p align="center"><font size="2">作者：<a href="mailto:cafe-legion@nm.ru">Lett</a><br>   
译者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>  
<p align="left"><font size="2">“现在不原谅我们，<br>  
不原谅我们，<br>  
我们不是人……”<br>  
<br>  
《来自未来的客人》<br>  
《游戏》<br>  
<br>  
身材修长匀称的人带着握在手里的剑，高傲地抬起头，胜利的决心和信心燃烧着双眸……（译：我记得拿拉达握的是矛。）<br>  
枉然。<br> 
天空之神啊……你们究竟做了些什么？……<br> 
<br> 
*******<br> 
痛苦。恐惧。喊叫。蓝色的冷酷的冰。冰在睁开的眼睛上，在凝固的手指上，在撕破的衣服上。但在深渊里，在紧贴心脏的冰晶里--心还是活的，热的。它跳动着，甚至在冰下仍然跳动着。它的节奏被反射于闪耀的瞳孔--蔚蓝色的冰晶般的眼睛。<br> 
而且这不是幻觉。那么是不是……积达大人？<br> 
不完全的死亡，禁闭于晶体中的永恒睡眠，被注定能看见和了解所有的一切--告诉我：这是否幻觉？你，迫使魔术在世界残忍的法律中繁荣起来，创造了宇宙中最美好的海市蜃楼的你--请回答：发生什么了，为何现在你只是冰里的剪影，你曾经在无限漫长中绝望而徒劳地试图对着天空呼喊，直到那些被反射于你的目光？<br> 
没有答复。只是幽暗的瞳孔隐藏着忧郁……<br> 
<br> 
失眠的夜晚。紧张的头脑运转、每天、每小时、每秒钟，直到力量是充足的。计划、评估、演算、报告、会议……为了帝国，不是为自己，一切为了伟大的目标……<br> 
冰晶昏暗地闪烁在忘却的真空。你唯一的奖励。<br> 
永恒的休息……<br> 
<br> 
*******<br> 
星。他们是你唯一的朋友。他们总能帮助你、劝告你和安慰你。你的放肆、你的鲁莽在星形大厅的门槛中保存了下来。你加入他们，并且拥抱了整个宇宙，感觉自己不可思议的古老和明智，作为他们，这些明亮的火花、纯净的智慧在黑夜里。但另一方面，从大厅走出，你失去自己的无所不知，并且试图以粗鲁的言语、酒，及华丽的冷漠关闭忧郁的空虚……但结果糟糕。<br> 
你爱冒险，拿拉达，喜欢挑战命运，对高级负责人无礼和在敌人的头顶嘲笑。但你首先会明白，可以简单地生活，不涉及这些永久的战斗、光明和黑暗。你想那样生活……<br> 
<br> 
打击着心脏的痛苦震动在胸的右面，淹没黏稠的、凝固的血液……生命闪烁着火光离开身体……<br> 
你最后的谎言依然永远不能抵偿。<br> 
但星在发光。他们还不知道，他们的其中之一已被烧掉……<br> 
<br> 
*******<br> 
绿宝石似的眼睛疲惫地闭上。小泪珠顺着娇嫩的脸颊滚落。纤细的手软弱无力地垂下。<br> 
“可怜的男孩……”--我安静而面无表情地说。想哭。<br> 
“曾经非常邪恶……”--别人的声音闯入脆弱的瞬间。<br> 
“是吗？”--我立刻转身，漫不经心地朝某个地方一瞥。然后我的眼睛重新回到屏幕。<br> 
某人只看见一张面孔……<br> 
“然而……可怜……”<br> 
<br> 
无限的讥讽。残酷的语言。令人震惊的自信……<br> 
还有--稚气的委屈、眼泪、为不公正叫嚷、可笑的恐惧。小孩子，简直是个小孩子。周围的世界几乎还不知道他的残忍，但整个灵魂却衷心愿意提供幸福，在黑暗帝国中如此罕见，唯一的喜爱的生物……<br> 
喜爱。<br> 
<br> 
是否轻易地培养过柔弱的花朵于堆满石头的土壤？<br> 
是否轻易地珍惜过他？<br> 
<br> 
在阴沉而压抑的大厅和很响的闪电里，在黑色暴雷雨的天空下产生了珍贵和明亮的感情。<br> 
爱。<br> 
热烈的。极有趣的。<br> 
不正确的。<br> 
<br> 
老师和学生。男人和少年。不正确的。奇怪的。不道德的。但是--非常美妙……<br> 
爱是一个。她是怎样体现出来的，并不重要。重要的是，她有。这个温暖的火花，孤零零的心如此需要，如此胆怯的表示，在恐惧中，礼物将被拒绝而随之引起的震撼将被接受，缺乏信心，这可能是真相，在残酷的宇宙里怎么能够存在光明与永恒。<br> 
能够。<br> 
存在。<br> 
<br> 
你微笑，烧焦的身体尽力不显出痛苦。但很快她消失。手已经变得麻木，力量不再能支持他们。想闭上眼睛，入睡……但在克服自己之后，你小声耳语，留下最后的、紧连着死亡的消息……<br> 
永远留在心里……<br> 
“我爱您……古舒达大人……”<br> 
<br> 
赛西达，火红的大人，真实的火焰，暂短和……永恒。<br> 
最年轻的人，你只会爱……<br> 
<br> 
*******<br> 
黑暗的一切，你留下了什么。黑暗和沉默，死寂的、压抑的安静。并且等候所有的，再次吓唬文静的笑声，温柔的手驱赶黑暗……而且知道，这些已经永远不再有……而你同样继续等候……<br> 
<br> 
冰的国王……毕竟不是冰。你如此长久地掩饰自己的情感，结果你忘记，你有他们。你冷漠地看待一切：对于生活、对于死亡、对于世界、对于黑暗、对于出生、对于谋杀。简单的唯理主义论。你成为自己的城堡的一部分，这样冰冷的石头。在你的世界没有感情的位置。而当你遇到爱，就很长时间怀疑她的存在。时间太久了。<br> 
你因此而丧失了这些。残忍地丧失了。<br> 
并且现在你的世界--只有安静和角落里的阴影。<br> 
很多世纪之后这将杀死你吗？<br> 
<br> 
过于高傲，无法接受清洗。（译：清洗？月亮能力升级吗？我晕倒。）<br> 
自己的武器轻松地进入身体。你的身体。<br> 
明亮的发光。痛苦。心脏。你有一颗心。<br> 
你曾经有心，古舒达大人……<br> 
<br> 
*******<br> 
身材修长匀称的人带着握在手里的剑，高傲地抬起头，胜利的决心和信心燃烧着双眸……<br> 
但于灵魂深处他们知道，他们被注定灭亡。<br> 
<br> 
胜利者，第一位大人狂妄的笑……<br> 
<br> 
*******<br> 
不想指责任何人。想要简单地提问。<br> 
你们坚定地确信，光明--是最好的出路？<br> 
生活于世界上，在那儿太阳经常发光，而且没可能放眼于柔软如丝的愚昧无知的黑暗……<br> 
并且是否光明向来等于--和平？<br> 
原子弹的爆炸曾非常生动清晰地照亮地球……<br> 
<br> 
*******&nbsp;<br> 
光明的战士，你们为自己的伟大目标而斗争，你们认为自己是对的。但你们任何时候也没想过，还有其它的目标，同样伟大。<br> 
我们中的每个人都有自己的真理。<br> 
<br> 
光明的战士，你们拯救了这么多人，赠给机会重新开始干净的一页，忘记过去在人类世界里的幸福生活。<br> 
为什么你们没能拯救四颗痛苦的心灵？<br> 
<br> 
光明的战士，你们为爱的名义打仗，你们没看到她的另一方面，没能拯救那些，自己为什么而斗争。没有明亮的爱在黑暗帝国，不知是否这样？<br> 
你们只不过是不想看见。那么一切就变得更加复杂了。<br> 
为什么？<br> 
<br> 
*******&nbsp;<br> 
我站在自己的一边。我谁也不指责。我谁也不偏袒。我在光明与黑暗之间的边缘。<br> 
但是毕竟……<br> 
<br> 
“天空之神！战士！你们究竟做了什么？<br> 
只是风在黑暗的闪电中。<br> 
为什么而斗争？为什么而牺牲？<br> 
为了谁--你们？--自由？<br> 
不是人--这是给你们的诅咒，<br> 
永久标记在你们的心上。<br> 
而你们幻想，你们也同样认为，<br> 
为了你们阴郁的世界稍微变好一些。<br> 
这样一向如此，我们害怕黑暗，<br> 
而光明--他更普通、更亲近。<br> 
我们当中的任何人不希望知道，<br> 
每个人依靠你们生存和呼吸。<br> 
谁来评判我们？在火和炭渣里，<br> 
爆炸叛变的阴影谁也不知道，<br> 
握剑在手，被注定面对死亡。<br> 
Shi Tennou（四天王）--四位天空之神……”<br>  
</font></p>  
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>  
