<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>真人版美战角色的实力分析</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">真人版美战角色的实力分析</font></b></p>
<p align="center"><font size="2">作者：小小兔</font></p>
<p align="left"><font size="2">以下数据采用的是由高到低S、A、B、C、D、E的英文字母表示方法。<br>
<br>
<font color="#CCCCCC"><b>美少女战士方面</b></font>：<br>
<br>
水手月亮/月野兔<br>
属性：光<br>
武器：星月杖<br>
HP：B<br>
攻击：B<br>
防御：B<br>
智慧：E<br>
敏捷：B<br>
精神：C<br>
魅力：B<br>
必杀技：<br>
（1）月之头饰回旋镖（ムーン　ティアラ　ブーメラン）：将月之头饰取下当回旋镖扔出去，熟悉《超级机器人大战》系列的玩家们都知道ブーメラン是超级系机器人的招牌技之一，它有着不耗EN、残弹数无限的优点，但破坏力确实太低了，《美少女战士》中月野兔仅能用之对付低级的妖魔。<br>
（2）月之光闪（ムーン　トワイライト　フッラシュ）：发招姿势有些怪，要将一支脚抬高至头顶处，双臂也抬高举起星月杖，分身成三个人旋转……不过此招的确是小兔的强力必杀技，或者还可以称之为“杂兵终结技”，因为月之光闪对付BOSS们来讲威胁并不大。<br>
（3）月之愈增幅（ムーン　ヒーリング　エスカレーション）：小兔使用此技可以把妖魔净化，也可以把妖魔从人类那里吸取的能量释放出来还回人类体内。既是攻击技能又是回复技能，但可惜不能对自身的HP进行回复，而且用来打BOSS几乎毫无效果。<br>
综合评价：<br>
水手月亮月野兔身为主人公战斗力稍弱了些， 类似于RPG中的神官职业。因为她使用的是光属性必杀技所以攻击范围是五位美少女战士中最广的，攻击判定的出现时间也是最快的（光速可是一秒30万公里呀！），同时对付一群敌人小兔在进攻方面还是很占优势的。&nbsp;<br>
其实小兔还有最强的一招，那就是“夜礼服假面召唤”。小兔在遇到危机时，夜礼服假面总能及时赶到救下她，这就是类似于《圣斗士》中仙女座舜之“哥哥召唤”的“夜礼服假面召唤”，此种招唤技能一出，召唤者必能化险为夷，在敌人强大的情况下但被召唤者很可能成为替死鬼。还好小兔有梦幻银水晶（幻い银水晶），就算地场卫替她受死也能被梦幻银水晶的力量救活，因此在使用次数上就没有限制了，敌人们总是会因为这种强大到无耻的召唤术而失去KO月野兔的机会，就算再咬牙切齿也无可奈何，谁让人家小兔是主人公的命呢！&nbsp;<br>
<br>
水手水星/水野亚美（汗！用中文报上名号居然有三个水字）<br>
属性：水<br>
武器：冰之刃<br>
HP：B<br>
攻击：C<br>
防御：B<br>
智慧：S<br>
敏捷：B<br>
精神：C<br>
魅力：B<br>
必杀技：<br>
（1）水星水射线（マーキュリー　アクア　ビーム）：将水之力集中一点放射出去，威力尚可命中率就有些问题了，水星水射线作为杀敌技能不太可靠亚美也就很少使用。<br>
（2）水星水雾（マーキュリー　アクア　ミスト）：亚美的得意技，攻击范围比上招宽广得多，利用水雾把敌人罩住，急降气温对敌人造成伤害并能在一定程度上封住敌人的行动能力。<br>
（3）水星水风暴（マーキュリー　アクア　ストーム）：这招与水星水射线相比似乎没什么区别，是亚美念错必杀技的名称了？还是亚美确实把水星水射线经过细微调节了演变出此招？只有让某个妖魔先后吃过这两招还能幸存下来再问问它有什么区别吧。<br>
（4）闪光水幻影（シャイン　アクア　イリュージョン）：从字面上理解应该是具有水、光混合属性的强力攻击技巧，应该是很象《圣斗士》中白鸟座冰河的必杀技金光火焰旋风拳（オーロラ　サンダー　アタック），但可惜剧中闪光水幻影的光影表现效果并不理想。<br>
综合评价：<br>
没办法，外表柔弱的亚美攻击力也确实比较弱，而她的高智商无论是哪个版本的《美少女战士》里都没有在战斗中体现出什么优势来，真是非常可惜呀！&nbsp;<br>
亚美要继续修炼低温的结冰技能会有个界限，那就是绝对零度。在物理学中，高温温度是无限的，而低温却有-273度这个绝对零度的限制，也就是说火野玲的前途无可限量，可怜亚美的低温攻击技总有练到头的一天。&nbsp;<br>
不得不遗憾地说虽然水野亚美的战斗力是五位少女中最弱的。&nbsp;<br>
<br>
水手火星/火野玲<br>
属性：火、圣<br>
武器：双炎剑<br>
HP：B<br>
攻击：A<br>
防御：B<br>
智慧：A<br>
敏捷：B<br>
精神：A<br>
魅力：A<br>
必杀技：<br>
（1）恶灵退散（あくりょうたいさん）：运用咒符的力量攻击敌人，对幽灵系的敌人有一击必杀的效果，对付非幽灵系的敌人威力并不显着。火野玲在没有变身成美少女战士的情况下也能熟练使用恶灵退散，算是占到巫女职业的便宜了。<br>
（2）妖魔退散（ようまたいさん）：高温的火焰攻击，还带有圣属性，是对付恶魔系、幽灵系、植物系敌人的利器。前面已经说了高温温度是无限的，所以火野玲只要专心提高妖魔退散的高温威力就能应付日后的强敌了。<br>
综合评价：<br>
   不愧是优秀的巫女，战斗力自然是高，因为《美少女战士》中的敌人几乎是清一色的恶魔系和幽灵系，火野玲占了属性和职业之利工作起来效率真是满高的。<br>
   火野玲的火魔法攻击已经很强了，再配上一对火焰剑也不会对战斗有什么帮助。可巫女的武器为什么是双剑呢？想不通……四天王之一的杰奈特用的也是双剑，这算是理由吗？<br>
   没有变身成美少女战士的情况下也能作战，这是阿玲的优势，但在小兔结婚的特别篇中因此吃了大亏。阿玲最早发觉了妖魔复活，只身前往调查和露娜不期而遇，结果不幸被黑木泠打成重伤，只能在医院一直COS绫波丽（绷带少女），为她无法参加最终战役深表遗憾。<br>
<br>
水手木星/木野真琴<br>
属性：木、雷<br>
武器：雷鸣枪<br>
HP：A<br>
攻击：A<br>
防御：B<br>
智慧：C<br>
敏捷：B<br>
精神：D<br>
魅力：B<br>
必杀技：<br>
（1）花风暴（フラワ　ハリケーン）：虽然是花瓣台风，但破坏力还是相当理想的，木星的“木”只在这招上体现出来了。<br>
（2）天神雷电（シュープリーム　サンダー）：借助木星主神朱庇特的神力释放天罚之雷，破坏力和电击范围都十分出色。与动画版中真琴用头饰当引雷针的设定不同，真人版中是拿一只腿当引雷针，玩儿命呀！<br>
（3）朱庇特雷电螺钉（ジュピター　サンダー　ボルト）：天神雷电是落雷，而此招则是横向发出雷光，可以不用大地作导体，主要是用来打空中的敌人。<br>
综合评价：<br>
就算木野真琴不变身成美少女战士，普通状态下也是个运动健将，变身之后战斗力肯定值得信赖。缺点是精神力不强，可能是与自幼孤独的身世有关吧。<br>
真琴在真人版中有一招与敌人同归于尽的自爆技巧，由于敌人在千钧一发之际挣脱开把自己的身体当引雷针的真琴，使自爆没有完全成功。但事后真琴居然没有受重伤，此种同归于尽战术的威力很值得人怀疑，也许成功的话就真的能同归于尽了吧。真琴的自爆招数让我想起了《圣斗士》中天龙星座紫龙的混招庐山亢龙霸，再一想就觉得五位青铜圣斗士和五位美少女战士还真是绝配呀！月野兔配星矢（都是主人公，配对稍显勉强），水野亚美配冰河（都使用低温攻击技），火野玲配一辉（都是外冷内热的玩火高手），木野真琴配紫龙（都是打起仗来不要命），爱野美奈子配舜（都使用锁链当武器）。<br>
<br>
水手金星/爱野美奈子<br>
属性：金<br>
武器：爱神锁链<br>
HP：B<br>
攻击：B<br>
防御：C<br>
智慧：B<br>
敏捷：A<br>
精神：B<br>
魅力：S<br>
必杀技：<br>
（1）维纳斯爱之锁链（ウィーナス　ラブミ　チェーン）：美奈子习惯把爱神锁链当鞭子用，可谓是攻防一体的武器，但因为是“爱之鞭”，让人怀疑其破坏力能有多大。<br>
（2）维纳斯光束（ウィーナス　ビーム）：从手指发出银色光辉的光属性的攻击技巧，没有什么显着特点，剧中初期打着梦幻银水晶的幌子施展此招会让敌人多惧怕三分！实际攻击力应该也很大吧。<br>
综合评价：<br>
   因为在真人版中爱野美奈子是人气偶像，所以魅力值我给了个S。又因为在真人版中爱野美奈子身患绝症，所以防御力我给了个C，各位小松彩夏迷们不要怪我呀！（哎呀！我怎么用“怪我”这个词，在日语中“怪我”是受伤的意思……）<br>
   我一直就觉得水手金星并不是很强，关键是爱神维纳斯的必杀技使起来太不爽了，还是用雷、火轰敌人显得痛快。哎，就当这是爱神对敌人的一种“仁慈”吧。<br>
<br>
水手露娜<br>
属性：光<br>
武器：星月杖、折扇<br>
HP：D&nbsp;<br>
攻击：D<br>
防御：D<br>
智慧：A<br>
敏捷：S<br>
精神：A<br>
魅力：？<br>
必杀技：<br>
（1）折扇攻击：这招完全是羞辱敌人用的，几乎没有破坏力。<br>
（2）露娜糖果攻击（ルナ　シュクル　キャンディ）：对于战斗力不高的水手露娜来说，能有这么花哨的攻击技巧就算很不错了，能对付杂兵就得了，不必再有更高的期待了。<br>
综合评价：<br>
   我还是觉得露娜的猫形态更可爱一些，美少女战士形态的露娜行动极为敏捷，就算战斗力不强，还是可以靠速度优势玩弄敌人的，其他方面，就只能充当搞笑角色了。<br>
<br>
美少女战士们的共通技：<br>
（1）友情燃烧：这是日本动漫中正面角色必不可少的技能，通过互相鼓励来增加我方人员的能力值，多强的敌人也能一同携手打倒。<br>
（2）翻跟头：可谓是真人版中的招牌技，无论是正翻还是侧翻，美少女战士们可能都处于无敌状态，类似于《拳皇》中的紧急回避（A+B），真是苦了妖魔们了，眼瞅着对方漏这么大破绽却不能出手攻击。不过还好，美少女战士们的空翻似乎不是全程无敌，妖魔们有着为数不多的机会可抓（空翻并不是完全无敌这一点在剧中有所体现）。<br>
<br>
美少女战士们的合体技：<br>
（1）月光行星攻击（ムーン　プラネット　アタック）：由月野兔、水野亚美、木野真琴、爱野美奈子四位美少女战士合力发出的超强力攻击技，将黑木泠所变成的花怪瞬间消灭。为什么特别篇最终战役是北川景子缺席，哎，伤心呀！极度痛恨黑木泠！<br>
（2）月光魅力攻击（ムーンライト　アトラクティブ　アタック）：五位美少女战士齐心合力，将能量集中于星月杖上，激放出超强光波。剧中对美达里亚的分身使用了一次月光魅力攻击，不知往吸收了美达里亚的邪恶地场卫身上招呼会怎么样……<br>
<br>
<font color="#CCCCCC"><b>暗之王国方面：</b></font><br>
<br>
四天王之杰奈特<br>
属性：暗<br>
武器：双剑<br>
HP：A&nbsp;<br>
攻击：B<br>
防御：A<br>
智慧：C<br>
敏捷：B<br>
精神：C<br>
魅力：C<br>
必杀技：（1）施放暗之冲击波。（2）其它不明。<br>
<br>
四天王之涅夫莱特<br>
属性：暗<br>
武器：长剑、不明武器<br>
HP：A<br>
攻击：B<br>
防御：A<br>
智慧：C<br>
敏捷：B<br>
精神：C<br>
魅力：B<br>
必杀技：（1）施放暗之冲击波。（2）其它不明。<br>
<br>
四天王之索利塞特<br>
属性：暗、音<br>
武器：弯月刀、钢琴？<br>
HP：A<br>
攻击：B<br>
防御：B<br>
智慧：A<br>
敏捷：B<br>
精神：S<br>
魅力：A<br>
必杀技：（1）弹钢琴进行精神攻击。（2）弹钢琴进行远距离传送。（3）其它不明。<br>
<br>
四天王之昆载特<br>
属性：暗、风<br>
武器：单手剑<br>
HP：A<br>
攻击：A<br>
防御：A<br>
智慧：B<br>
敏捷：B<br>
精神：A<br>
魅力：B<br>
必杀技：（1）施放暗之冲击波。（2）弧月斩。（3）旋风裂斩。（4）其它不明。<br>
<br>
黑暗女王贝丽尔<br>
属性：暗<br>
武器：指甲？<br>
HP：A<br>
攻击：A<br>
防御：A<br>
智慧：A<br>
敏捷：C<br>
精神：S<br>
魅力：A<br>
必杀技：（1）施放暗之冲击波。（2）各种禁断之咒术。（3）其它不明。<br>
<br>
暗之王国BOSS的共通技：（1）瞬间移动。（2）制造妖魔。<br>
<br>
暗之王国整合评价：其实无论是哪个版本的《美少女战士》中初期，任意一个美少女战士和任意一个四天王单挑都会败下阵来，但一般日本动漫中反面角色的战斗力不会随着故事发展有多大提升，所以暗之四天王注定会被五美少女超越。而且正面角色们还能利用友情燃烧来临时增加战斗力，又有超强力的合体攻击可以用，四天王即使团结起来也很难与五美少女抗衡了。<br>
   对于黑暗女王贝丽尔，因为在真人版中她没有和美少女战士进行过真正意义上的正面交锋，所以对她的实际战斗力不好作出评价，只知道她肯定不是公主倩尼迪的对手。<br>
<br>
<font color="#CCCCCC"><b>其他人物：</b></font><br>
<br>
夜礼服假面<br>
属性：无<br>
武器：拐杖<br>
HP：B<br>
攻击：C<br>
防御：C<br>
智慧：A<br>
敏捷：A<br>
精神：B<br>
魅力：B<br>
必杀技：无<br>
综合评价：因为身上的装备并不能让地场卫获得神力，又没有必杀技，所以夜礼服假面只能尽自己所能给月野兔作挡箭牌了，很难称得上是真正的战士。<br>
<br>
安迪米奥<br>
属性：无<br>
武器：皇家剑<br>
HP：A&nbsp;<br>
攻击：B<br>
防御：B<br>
智慧：A<br>
敏捷：A<br>
精神：A<br>
魅力：A<br>
必杀技：无&nbsp;<br>
综合评价：有了王子装的加护，战斗力提升了不少，但还是没有必杀技，导致实际战斗力仍然不高。变身为王子的地场卫战斗力虽有所增强，但为小兔救驾的次数却少了，对于小兔来说，还是夜礼服假面更可靠一些吧？（笑）<br>
<br>
黑暗水星/水野亚美<br>
属性：暗、水<br>
武器：冰之刃<br>
HP：B<br>
攻击：B<br>
防御：B<br>
智慧：S<br>
敏捷：A<br>
精神：B<br>
魅力：A<br>
必杀技：可能与原版的一样。<br>
综合评价：吸收了黑暗之力的水野亚美变身为黑暗水星后实力有所增强，那句“逃也没用！”（逃げでも无駄よ！）的亚美原用台词更显得冷酷无比。只是黑暗水星更爱用冰之刃却不使用必杀技，果真是表面上装酷而实际上对小兔等人手下留情了吗？<br>
<br>
月亮公主倩尼迪<br>
属性：光、圣<br>
武器：月光剑、月之竖琴<br>
HP：S<br>
攻击：S<br>
防御：S<br>
智慧：S<br>
敏捷：S<br>
精神：S<br>
魅力：S<br>
必杀技：<br>
（1）五芒星阵（我没有找到官方的正确名称）：不用多说了，绝对是真人版中最强的必杀技，感觉上比五美少女的合体攻击技还厉害。不过这招也真够危险的，若控制不好连施放者自己都会被牵连，大多情况下最强的必杀技都是把双刃剑。<br>
（2）嘴里喊着“安迪米奥”将地球表面进行一次核爆算是必杀技吗？<br>
（3）其它不明。<br>
综合评价：从战斗力上打个比喻，如果说水手月亮月野兔是塞巴斯塔的话，那么她觉醒成前世月亮公主倩尼迪的姿态就是真古兰森（可能有很多人都不知道我在说什么）。月亮公主倩尼迪真是非常暴力，动不动就拿地球出气，那个什么美达利亚的破坏力比公主大人逊色多了。<br>
如果说月光剑是破坏的话，那么月之竖琴就有修补力了！可惜我们的公主不懂使用，只用它替水星治疗，大多数只听到琴音就让许多人怕起来！琴音成了公主出现时的标示。<br>
<br>
美达利亚地场卫<br>
属性：暗、水、火、雷、风<br>
武器：大暗黑剑<br>
HP：S<br>
攻击：S<br>
防御：S<br>
智慧：？<br>
敏捷：S<br>
精神：S<br>
魅力：A<br>
必杀技：（1）吸收敌人的属性攻击后反击。（2）其它不明。<br>
综合评价：再说一句很多人听不懂的话，如果说月亮公主倩尼迪是真古兰森的话，那么吸收了美达利亚之力的地场卫就是瓦鲁希昂改。真人版中美达利亚的力量没有想象中那么强，还是说地场卫抑制住了美达利亚，所以才会被月野兔轻而易举地刺穿了身体？总之要说当最强BOSS的话，我觉得月亮公主倩尼迪到更称职一些。<br>
<br>
我痛恨黑木泠，懒得对她作出评价。<br>
<br>
以上仅是个人观点，欢迎各位进行指正。</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html>