<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>论四天王与四战士在美战动漫中的情侣关系</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">论四天王与四战士在美战动漫中的情侣关系</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a></font>
</p>
<p><font size="2">曾经在许多地方看到过不少讲叙四天王（古舒达、赛西达、拿拉达、积达）与四战士（金星、水星、木星、火星）之间所谓恋情的文章，有评论，也有同人，等等。说实话，虽然我本人有点不喜欢，但并不是特别反对这些，毕竟那是很多人的美丽愿望，想怎么编都行，有梦最好，可是……看到不少人总在正儿八经地强调什么动漫里讲过四天王与四战士前世是情人之类的，我还是忍不住要罗嗦几句了。<br>
<br>
接下来，我将进行更详细彻底的分析，希望各位在阅读之前，去认真复习一下动画版及漫画版的美战。<br>
<br>
</font><font size="3">第一部份--总论</font><font size="2"><br>
<br>
<b>1.四天王是安狄美奥王子的人，四战士是倩尼迪公主的人，他们的地位实属门当户对，既然安狄美奥爱上了倩尼迪，因此他们也理应结合。</b><br>
<br>
这样的想法说白了，就是古装片中“当某公子爱上某小姐时，公子的书僮必然也会跟小姐的丫鬟对上眼”定律的翻版，且不论那是否庸俗，至少套用在美战里就是不正确的，因为四天王与四战士的地位根本是不平等的。<br>
首先，让我们来看看漫画版的美战。<br>
有谁还记得四战士管倩尼迪叫什么吗？对，是公主。可是四天王管安狄美奥叫什么呢？是主人。那么，接着再问，四战士曾管倩尼迪叫过主人吗？当然是没有。四天王曾管安狄美奥叫过王子吗？当然也没有。所以我认为，公主、王子与主人是两种不同等的称呼，至少可以证明，在四天王与安狄美奥之间存在着某种严格的从属关系，而在四战士与倩尼迪之间，这种关系已被淡化，甚至可以说完全消失了。而从属关系简单地说，就是双方达成的需向对方履行一定职责的一种契约，可以是单边履行责任，也可以是两边均履行责任，因此可以得出，理论上，四天王要为安狄美奥的安危负完全责任，而四战士则不必为倩尼迪的安危负完全责任，至于原因，不要吃惊，我很快就会讲到。那么，各位肯定要问，真正跟倩尼迪之间有从属关系的是谁？真正要为倩尼迪的安危负完全责任的又是谁？答案是黑猫露娜，同时它也是真正应该管倩尼迪叫主人的人（猫？），虽然或许由于关系太亲密的缘故，我从没见她叫过，但在第三卷里已经有很明显的提示了（无论时空改变，样貌改变，你要保护你唯一的主人……）。<br>
另外，在第十五卷里，四战士都见到了属于自已的守护力精灵，而她们竟把四战士称为公主，还提到了四个女孩均拥有自己的城堡以及水晶，而在美战前传《水手V》一书中，阿多尼斯曾称金星为公主，并且，熟读美战的人都知道，四战士一直有自己的星球……好，反过来再看四天王，曾有谁叫他们为王子吗？他们有过自己的城堡、水晶，甚至星球？啊，拜托，别跟我提雅雷史安和地球，那是安狄美奥的；也别跟我提黑水晶，我讲的是漫画版；更别跟我提某某支部长之职，我讲的是前世！由此可见，二者的守护职责是不同的。先说四战士的守护职责，嗯，这个大家应该都知道，她们是内太阳系战士，司保护内部太阳系和月球本土之职，附带也保护美莉亚姆和倩尼迪……为什么是附带呢？打个比方吧，理论上，一个国家的国防部长当然得为本国总统的安全负责，但真正具体来履行这个责任的，并不是国防部长本人，而是总统的保镖们。那么四天王呢？我可以肯定，他们没有也不可能有保护太阳系和月球之职，因为这些全都是水手战士们的守护范围；并且，他们也没有保护地球和雅雷史安之职，凡看过十四卷的人就会知道，这些分别是安狄美奥与埃利奥斯的守护范围；所以，只剩下一个可能，即四天王的守护职责仅仅是安狄美奥一人，换句话讲，他们需要且只需要对安狄美奥负责，除了安狄美奥之外，他们不必也没能力去关心别的东西，而那刚好也符合了方才提过的契约之说。<br>
因此，综上所述，漫画版美战里，四天王与四战士的身份，其实约等于皇家私人保镖与国防部长（或者说大将军也行）的身份，所以，两者的地位根本是不平等的。<br>
然后，让我们再来看动画版的美战。<br>
这个……根本就是胡扯，因为在动画版里，不仅四天王与四战士是明显的敌对关系，而四天王与安狄美奥也是明显的敌对关系，完全没有漫画版里主仆关系的影子，也就是说，从最初起，四天王便是贝尔的手下了，所以，“四天王是安狄美奥王子的人”是不成立的。<br>
当然，如果有人觉得，贝尔和安狄美奥挺般配的，那么四天王与四战士也可以说是挺般配的吧。<br>
<br>
<b>2.武内直子曾画了一幅四天王与四战士在一起的彩图，她也曾说过自己想要画他们之间的故事，因此双方理应结合。</b><br>
<br>
这样的想法是不确切的。<br>
没错，直子是讲过，她很想画四天王与四战士之间的故事，但最终她还是没有画成，所以，想法在没画出来之前永远都只是想法，代表不了任何东西，更代表不了事实。<br>
至于那幅图，似乎很多人都看得浮想连篇呢，但仔细观察一下，就发现画的内容其实很普通，他们只是手拉手而已，挺多抱一抱腰，没有亲吻，没有缠绵，没有任何足够能表示两者是情侣的动作，如果以此便断定四天王与四战士是恋人，是不是太勉强了？举个例子，难道说，在文化宫或舞厅里跳舞的男男女女，都肯定是恋人吗？<br>
所以，这根本只是猜测，在事实上是站不住脚的，想要以此写同人可以，但请别以讹传讹，不要让许多不明真相的人都认为四天王与四战士在美战动漫里真的是什么恋人。<br>
<br>
</font><font size="3">第二部份--分论</font><font size="2"><br>
<br>
<b>1.金星见到古舒达曾脸红过，二人也曾四目相对过，并且两位都是首领，所以他们是情侣。</b><br>
<br>
不，情况并非如此。<br>
漫画版里，第三卷，确有金星看见古舒达后脸红了一下的画面，美战前传《水手V》一书中，也确有古舒达与金星四目相对的画面，并且这些在某种意义上可以表示，金星肯定对古舒达有好感，但尚无证据能说清古舒达对金星有何感觉。第三卷的画面里，古舒达似乎压根就没注意到金星，而《水手V》画面里，古舒达也只不过是看着金星而已。因此，根本无从推断究竟是金星单相思，还是两人均对彼此有好感，所以，情侣一说证据不足，当然同人可以自由发挥，但不应当真。<br>
至于首领的说法，也不完全正确。<br>
没错，漫画版第二卷里是说过金星是四战士的首领，可动画版却无此一说。而古舒达，无论漫画或动画都没提到他是什么首领，虽然实际上他确实比另三位显得强大。<br>
<br>
<b>2.积达曾为火星的美貌着迷，火星也曾忆起过积达，所以他们是情侣。</b><br>
<br>
这是一个无法证实也无法证伪的猜测。<br>
积达对火星一见倾心是漫画版第一卷里的情节，各位都知道，火星非常漂亮，连月野兔一个女孩家都能为了一睹她的芳容而尾随她来到仙台坂上，所以就很难断定，积达对火星的一见倾心，究竟是源于她的美丽，还是源于他前世的记忆？若是前者，“积达与火星前世是情侣”显然难以成立，而若是后者，又找不到准确的证据。并且，在随后发生的事件时，积达为了牵制水手月亮和水星的进攻，曾扼住火星的脖子，我想，如果积达真的爱火星，是不该这么做的。<br>
火星忆起过积达是漫画版第十一卷番外篇《卡萨布兰卡的回忆》里的情节，画得很不详细，只是积达前世的头像与海棠的头像一同在火星的脑海里出现并重叠而已，对此，我暂时只能解释为，积达和火星的情感，与海棠和火星的情感，有某种相同或类似的地方。可是，海棠和火星算是情侣吗？这个……就见仁见智了……<br>
总之，积达与火星前世是情侣的可能性，似乎要比古舒达与金星前世是情侣的可能性大一些。<br>
<br>
好吧，我就写这么多了，欢迎有识之士前来批驳。</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>