<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>四大天王速配指数</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">四大天王速配指数&nbsp;</font></b></p>
<p align="center"><font size="2">作者：</font><a href="mailto:gwmeigei0869@sina.com"><font size="2">月月兔兔</font></a>
</p><p align="left"><font size="2">动画版<br>
<br>
1、昆次塞特与索以塞特<br>
有时候２个帅哥比帅哥配起来也很好，索以塞特的阴柔正好陪昆次塞特的阳刚。（对ＢＬ敏感者感觉不到）。<br>
速配指数９０％<br>
<br>
２、涅夫莱特与那露<br>
娇小活泼的那露和冷酷的涅夫莱特陪在一起是不错的组合，只是人类跟妖魔的爱情不会长久，只能以悲剧收场。<br>
速配指数７０％<br>
<br>
３、丁迪特与西琪丝<br>
两人站在一起蛮有夫妻相的，只可惜工作狂丁丁只关心收集能量的事情，忽略了身边的大美女，西琪丝的单恋只能以她的死亡告终。<br>
速配指数５０％<br>
<br>
漫画版<br>
<br>
１、古舒达与金星<br>
无论古舒达与谁在一起都很配。<br>
速配指数８０％<br>
<br>
２、积达与火星<br>
两人对前世都有模糊的记忆，所以积达才会对火星一见钟情，不喜欢男人的火星才会喜欢上与积达相似的海棠先生。<br>
速配指数６０％<br>
<br>
３、拿拉达与木星<br>
虽然木星与那露的性格相似但仍不及那露与拿拉达配，木星的身高到是符合拿拉达。<br>
速配指数４０％<br>
<br>
４、赛西达与水星<br>
实在看不出２人有什么相似的地方，但直子小姐既然把他们安排在一起就勉为其难接受吧。<br>
速配指数２０％<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>