<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>谁遇到谁倒霉</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">谁遇到谁倒霉</font></b></p>
<p align="center"><font size="2">作者：</font><a href="mailto:peggy.z.8287@163.com"><font size="2">Peggyfan</font></a></p>
<p align="left"><font size="2">突然想到了这么一件事情，一个男人要想抓住女人的心，前提是这个男人长相才识家产修养魅力都达到了一定程度，他只需要将一把匕首交到一个姑娘手里，然后对她说：“杀了我或者嫁给我”，尤其对于被抢亲的年轻姑娘，简直就是不能抵挡的诱惑。当小说看到这里时，在我头脑里，就出现了以下情形：<br>
<br>
月光下的阳台，古舒达将刀柄递到美奈子手中。美奈子接过刀，不明所以，抬头看着他。他交叉着手臂浅浅微笑：“杀了我或者嫁给我”，美奈子顿时百感交集热泪盈眶激情四溢，扔下刀扑到他怀里，二人深情拥吻。<br>
<br>
月光下的阳台，积达将刀柄递到灵手中，灵接过刀，不明所以，抬头看着他。他的浅浅微笑中有几分期待，几分腼腆：“杀了我或者嫁给我”，灵看看他又看看刀，仰天长笑，末了，面无表情将刀还给他：“无聊。”<br>
<br>
月光下的阳台，赛西达将刀柄递到亚美手中，亚美接过刀，不明所以，抬头看着他。“杀了我或者嫁给我。”他含蓄而温柔地等着爱人的回答。只见亚美拿起桌上的苹果开始给苹果削皮，边削边说：“何必弄成这样呢，我们又不是不能坐下来好好讲讲道理，不管我们的感情到了哪一步，还是要理性分析问题的嘛……”以下省略三千六百字。<br>
<br>
月光下的阳台，卫将刀柄递到小兔手中，小兔接过刀，不明所以，抬头看着他。他握着小兔的手，柔情蜜意道：“杀了我或者嫁给我”，小兔愣住了，待她明白是怎么回事时，她泪流满面，无力地握着刀，依偎进了卫的怀抱。<br>
<br>
月光下的阳台，拿拉达将刀柄递到真琴手中，真琴接过刀，不明所以，抬头看着他。他眼中邪恶的挑逗掩饰不住对爱情的痴迷：“杀了我或者嫁给我”，真琴看看他又看看手中的刀，忽然怒从心头起：“敢威胁我？”把刀扔向身后，一记右勾拳打完收工。<br>
<br>
总结，具体问题具体分析，是几位兄弟共同总结的经验，在此鸣谢雅雷史安诸位大人倾情演出，刀具提供者圣域教皇，版权所有，黑暗城堡。</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html>