<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>树——写给小佐的悼文</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">树——写给小佐的悼文</font></b></p>
<p align="center"><font size="2">作者：</font><a href="mailto:lovehidebtd10@163.com"><font face="宋体" size="2">LoveZOI</font></a></p>
<p align="left"><font size="2">爬上山坡，草地是一片耀眼的绿，绿得让人喘不过气来。空荡荡的草地反射着阳光，一棵枝叶繁茂的树搅得我心里涌起一阵难以名状的疼痛。<br>
<br>
就是在这棵树下，那个纤尘不染的银色的天使不见了。在这绿得让人不能呼吸的树下，他倚在树干上，那么和平的绿色中，却暗藏着汹涌的潮水。佐伊塞特伸出手，想要在树下弹最后一支曲子，没有触到琴键，他的指间在绿色的阳光中仿佛要抓住什么：不是自己的命运——而是主人安迪美奥，和那个很久很久以前的过去……<br>
仿佛是一曲《安魂曲》，佐伊塞特平静的倚在树干上，想着那个很久很久以前的过去：在地球王国王子的花园里，这样的树，有好多……主人和坤载特比试剑法输了，站在树荫下嘟着嘴发牢骚；涅夫莱特和杰戴特在树荫下扳着腕子，谁也不放松……佐伊塞特只是站在树下露出浅浅的微笑——好幸福……<br>
然后，不知道一切是怎样发生的，佐伊塞特没有在银色千年王国看到那平静的树叶的绿色，只见到烈焰把一切都烧得焦黑。<br>
在然后，主人仍旧不顾生命的要和公主在一起，曾经在属下喧闹的5个人，已经反目成仇……<br>
<br>
佐伊塞特抬了抬头，这棵树，也是那种和平的颜色，像当年一样……<br>
主人，还是像当年一样和公主相爱。而自己，却已经不能像当年一样，站在树下默默的微笑了。就在这棵树下，生命走到了尽头……<br>
主人……<br>
<br>
佐伊塞特变成了一块宝石，然后，宝石碎了，在树下，被风吹起，闪闪亮亮飞舞着的碎片刺进了我的心。<br>
不要走！——<br>
我在另一个世界倾尽全力呼唤着。<br>
泪水淹没了眼中的那片绿意，树，留在原地；他，还是走了……<br>
<br>
在那个午后，那棵树下的草地上还留着露珠。</font></p>
<p align="center"><a href="../index.html">回主页</a></p> 
</body></html>