<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>我爱四天王</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">我爱四天王</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:shuiyueyaoji@sina.com">月之心</a></font>
</p><p align="left"><font size="2">记得刚接触《美战》，大概是小学四年级。那时学校对面有一家书店，是我经常光顾的地方（只看不买，没那么多钱嘛）那天放学也只是同往常一样跨进书店，就被正对面书架上的一个小MM吸引住了，对！她就是水兵月！<br>
那封面足足吸引了我好几天，但钱不够。于是我省吃检用，终于凑齐了钱。可等我去买的时候，老板是1，2，3本都被卖掉了，很抢手呢！为了不让自己失望，就买下了第四本！<br>
回家的路上，我兴致勃勃地看了起来。翻过第一页，我的目光停住了：好漂亮的一张彩页，好漂亮的四个男孩子（帅哥啊）就是四天王和四战士在一起的那张。一见钟情，我迷上了他们，更迷上了那个银色长发和栗色卷发的帅哥。只是当时一定没想到这一迷就是9年！<br>
再翻过一页，是人物介绍。得知了他们是黑暗王国的四天王，从此也记住了这四个名字：古舒达，拿拉达，塞西达和积达。（没救了我，居然迷反派）<br>
直到小学毕业后的暑假，在表姐家发现了成套的《美少女战士》，死求活求地，她终于答应借给我。<br>
看着依旧如此熟悉的封面，真的有种.....说不上的喜悦。一本本的看下来，帅哥也不知出现了多少，但我的目光始终停留在四天王身上。他们虽然是反派，但亦是悲剧角色，包括那个被人称为“万恶不赦”的贝尔。只因为嫉妒，解开了恶魔的封印，从而毁灭了美丽的月王国和一对相爱的恋人。利用四天王自相残杀；但阿兔的泪水凝结成梦幻银水晶时，但四天王恢复了所有的记忆时，当大家都认为幸福即将到来时，残酷的现实打破了美好的憧憬，他们……成了石头，成了美丽的石子，静静地躺在地场卫的手中，成了永恒的虚幻，缥缈的空气。他们是悲，永远的悲……<br>
再之后是初二，和小兔一样大的年纪，电视开始播放《美战》了，不管有多忙，我都一集不落的看，慢慢发现自己越来越喜欢四天王了，TV版的内容增加了，更有可看性了，但他们的悲剧结果始终没有改变。但无论怎样，我依旧支持他们，依旧爱他们……<br>
我爱四天王！<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>