<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>我的鲜花我的玉</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center">
<img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center">
<b><font size="3">我的鲜花我的玉</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:peggy.z.8287@163.com">peggyfan</a></font></p><p align="left"><font size="2">
为什么喜欢真琴，其实我也没觉得《美战》里有多少性格特别鲜明的角色，这一点有比较的就是《圣》。作为热血少年漫画，表现出彩的角色数不胜数，观之美战的设定就有些肤浅，作者想达到什么样的效果却非常艰难地勉强算达到了。亚美的智慧没有让人拍案叫绝的地方，但在作者给出的背景下就被突出了。小卫这样的人换到另外的作品中也许就成为了完美路人甲。很多本来可以深入的性格特点直子没有那样做，或许又是做不到。毕竟像《奥尔菲斯之窗》那种神来之作不是每个漫画人都处理得来的。人物形象苍白就是《美战》在我看来的一个特点。<br>
但是正如直子所说，她想画一些漂亮的女孩子，于是小兔她们诞生了。<br>
这些女孩子青春洋溢，有笑有乐，不如圣斗士那群同龄男孩子的苦大仇深，她们也有在学校里的烦恼，零用钱捉襟见肘，也喜欢逛街和游戏厅，喜欢看帅气的男孩子。她们有可能让很多读者产生代入感，因为大家都是这样子。<br>
也许每个人心里都有一个完美的女性形象，真琴的外型让我十分欣赏。棕色卷发，窈窕，绿眼睛。如果可能，这样的外型很容易塑造成月下阳台藤蔓边，清冷优雅的千金小姐。动画中她与虎之目跳舞时那身出色的长裙就十分适合她。第一部淑女训练班中她与亚美舞蹈考试合格，并且她的动作似乎比别的合格者更优美。高个子和大力气并没有影响她的灵巧，反而使得她的动作更为轻巧舒展，所以在跳舞和滑冰这种项目上真琴可以轻松应对，表现超凡，一如体育界对曾经的体操皇后霍尔金娜身高优劣势的评价。<br>
在静的一面，真琴擅长的是烹饪，色香味俱全。料理植物，家里简直成了热带雨林，满屋子观叶植物。她喜欢各种花草茶，也熟知其功效作用。她的生活丰富精美，就是没有一个真正知心的人来欣赏。用她自己的话来说就是用这些组成她值得欣赏的生活，只是说到这个问题，不得不提起她的感情，因为全书中没有一个人能够真正欣赏她。<br>
她第一次出现，元吉就被幻术控制了，与她暧昧了一小阵子，当时看得够心跳的。后又有学弟浅沼一等大胆表白，得到真琴安慰性质的在额头上吻一下。无限学院中有一个片段，园艺社龙套男生冒着心心对真琴说：“你不在的日子里，植物都没有精神了呢。”其实大概是他自己没有精神。只是这几个男生似乎都不是真正能够理解她，与她相应的人。<br>
真琴适合绿色，动画与彩画她穿得最多的是绿色，一但她穿别的颜色就没有那么耀眼，例如粉红、裸色、深蓝……因为真琴才开始喜欢的涅夫莱特大人，在动画里两个人连面都没见到，不但如此他还莫名其妙滴被设定为与大阪奈留产生感情，很让我受不了了一段时间。<br>
本人并不看好四配四，可就是这两个人是我的执念。因为看到那张四配四的彩图，我觉得这个男的似乎不错，既然四个男的都不错，那么他和真琴站在一起了，就多关注他吧。其实无论关注那一个，都各有各的惊喜，动画版第一部已经给出答案了。<br>
但还有哪个男反派能够有涅夫莱特这么注重生活品质呢？谁也没有像他那一样刚接手任务就给自己弄了个山间别墅，炫目的红色跑车连进悟这种小孩子也感叹太帅了，还在自己洋房的阳台上摆上下午茶的桌椅喝酒。他拿起和放下酒杯的时候都能听到冰块撞击的声音，这是个我相当喜欢的细节。他外出几乎不穿制服。虽然他的衣服除了深蓝色晚礼服就是那身休闲装，也没多少。<br>
两人都很懂生活，会随时给自己营造舒适的生活氛围。想想看穿深蓝色晚礼服的涅夫莱特和墨蓝色印着火红玫瑰花的真琴一起在阳台上的样子。有可能的话真想P个图出来。他们都一个人在生活，真琴喜欢阳光喜欢鲜活的生命力，所以她的房间虽然寂寞却是生机盎然的。与真琴的被迫孤独相比，涅夫莱特就是性格决定寂寞。漫画和动画都没有关于他们背景的任何描述。他们见面能够说的话，想必很少，但也许都会告诉对方：“我习惯了一个人了。”<br>
真琴的性格里有几种似乎不可能调和的东西，却在她身上奇迹似的融合。在漫画中，别人对她的评价莫过于大姐姐、值得信任、温柔细腻。她转学到十番中学后随着时间的推移，大家好像都忘记了刚开始的谣传，例如因为打架被学校赶出来，相反她成为了极具女人味的温情代表。小阿兔在遇到问题，在排除了其他几个朋友以后选择了真琴，除了她存在感可能真的不强外，也确实只有她有那份温柔。动画里真琴依然很会做菜，园艺方面就削弱了，品位上也不及漫画里有格调。却强化了她打架的部分，另外无限夸大其花痴程度。于是自立坚强变成了活泼粗鲁，敏感灵秀变成花痴，连她沉浸的属于她自己的世界，也不知哪里去了。<br>
谁欣赏得了这样一个人？谁真正能够走过去，轻易看穿她那颗心？<br>
我唯一力挺的配对，真琴和涅夫莱特。<br>
无路奈留与涅夫莱特之间的故事多感人，那也最多是曾经拥有。这样的两个人怎么相处？涅夫莱特大人和穿校服的小孩子们混坐在冷饮店，与小女朋友的同学聊学校轶事？虽然日本法定婚龄很早，好吧，他们几乎是两代人。并且我也不认为动画里涅夫莱特对奈留的感情是所谓的爱情，爱情并非怜惜、感动、赞赏等感觉的机械叠加，我也不认为完全是两种精神世界的人能够真正相爱，甚至这两人从外型气质上，也怎么看怎么不像一对，涅夫莱特看上去简直像奈留叔叔辈的人。<br>
并非是女孩子就一定得输，也不需要男人。可是，那仅仅表示真琴没有遇到涅夫莱特这样的男人，与真琴相比他更强势，因为他危险而有攻击性，在主动出击时有着强烈的目的性和精密的规划。真琴反倒更像他名字的寓意——软玉。玉不琢不成器，经过雕琢打磨，真琴身上花痴、多愁善感、二话不说就开打等表面现象再也掩盖不住她美好的本质，她那种默默的温柔，宽容并时刻保护着她所了解的人们，以及身边温暖的气场，与其他女孩子不同的是，她具有保护的能力，当她想保护某个人的时候。夜晚绽放的鲜花，静静吐露芳香。润泽的碧玉坚韧细腻，谁有这眼光发现？谁有这能力雕琢？也许只有涅夫莱特。<br>
以上纯属个人爱好。 </font></p>
</body></html>
