<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>为了过去而生存的人(美战真人版第44集观后感)</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b>为了过去而生存的人</b><b>--</b><b>美战真人版第44集观后感</b></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p><font size="2">如果人有前世，如果每一个人都有前世的记忆，那么你会做什么样的选择？也许说，丽完全要忘却前世的做法，是应该对待这个问题最恰当的最明智的做法，人……总是不可能为了过去而生存……<br>
<br>
但……你怎么可能完全否定前世的存在？如果说前世对于你来说是束缚，那么它真的只是束缚吗？佐塞特，最终选择了死亡，最终选择以自己的生命最后一次维护了自己的信仰，自己的希望……也许，有人说，如果他不是被前世所累，他不会死去，他只是一个为了过去而存在的人。但……那当他真心下决定的那一刻起，他是为过去还是为现在已经不重要了，他以他自己的身份，佐塞特的身份，以自己的思想替自己做了决定，那么前世对他来说还是束缚吗？<br>
<br>
不……当你认为它是束缚它必然束缚你，当你不认为它再是束缚的时候，它还会是束缚吗？本来前世后世都是联系着紧密的必然，想要完全脱离是不可能，能做的是看你如何面对它，如何从中找到自己应该走的道路……<br>
<br>
重要的事情是不能按顺序来排列的，因为我也无法阻止，所以我更愿意顺其自然……当小卫说这些事情，佐塞特回想着他抛弃了月野兔来到了黑暗王国……重要的事情不能够说谁排在第一就优先，有些东西是比你生命还要重要，那么这时候，你的生命不会再继续重要……小卫并没有怂恿佐塞特去牺牲生命，这么说小卫实在太不公平了。小卫告诉佐塞特的只是，为什么他会选择不遵从约定的理由，理由和当初离开兔子来到这里一样……因为那时候这里有比兔子更重要的人，因为那时候他们的生命遭受到了危机，所以他来到了这里。那时候佐塞特以为小卫的生命更重要，而在小卫心中，他们的生命比他自己的生命重要……<br>
<br>
我不能知道，小卫说不要放弃，是否指的是地球王国，但是却知道佐塞特明白小卫的意思，有些东西是无法交换的得到的意思。如同他的希望，他可以用生命去为之付出，却不一定可以用别人的生命交换得到……<br>
<br>
佐塞特的希望，一直是……希望他们都能回到主人身边，夕阳下和气一团……不再争斗，不再有猜疑，不再分离……所以他才会那么执着于地场卫的性命，执着到几乎隐藏了原来真正所希望的事情是什么。也许他会一次又一次和其它人起冲突，但内心世界渴望的却是，再次和他们成为伙伴围绕在卫的身边……为此，他最后发出了呼喊，他一个一个地叫他们的名字的时候，可以感觉到他的渴望，那雅雷史安曾经的光芒……<br>
<br>
他的生命属于过去，他希望的也是过去重现，他为之付出一切……看着他努力的样子，谁能说为过去生存的人就无生存的意义，被所谓前世束缚的人就拒绝现在呢？<br>
<br>
当水手月亮手中的石头断裂开，化为粉末消失在天际……心由不得的为他而阵痛着……<br>
<br>
你会在天边看着你深爱的主人……以及他们……<br>
<br>
也许，终有一天，他们会逃离这些烦扰的事情，过上普通人的生活……小卫会是个普通的大学生，会结婚生子；涅夫来特会去皇冠快乐地打工，却经常被人骂；古舒特身着白衣会在海边与树林中休闲地度过；积达也变成普通人……闲时，他们会在一起喝酒、打球、比试……<br>
<br>
再没有支持或者背叛主人，没有争斗和服从，只有他们在一起……<br>
<br>
那么在天边的你是否会含笑呢？</font></p> 
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：</font><font color="#ffffff" size="2"><a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">我现在只会叹气了……有什么理由能说一直在为了自己的梦想而努力并最终献身的人很傻呢？<br>
但他所做的，有多少人会理解，又有多少人会记得呢？<br>
他所希望的，也许，永远没办法实现了；就算最终能够实现，他也永远不会看到这一幕了……<br>
美战的故事里，灵魂可以不灭吗？</font></p>
<p align="center"><font size="2">作者：<a href="mailto:scorpioeric@tom.com">Scorpioeric</a></font></p>
<p align="left"><font size="2">佐塞特用自己的性命来表示对地场卫的做法的相信。<br>
过去他认为，地场卫和月野兔在一起，必然会重蹈覆辙，因为地场卫把与兔子的关系看得比自己还重要。&nbsp;<br>
当地场卫为了他们4个回到黑暗帝国的时候，地场卫是把他们4个看得最重要。&nbsp;<br>
也是从这个时候开始，他开始了解，现在的地场卫心里所看重的，也许已经跟前世的不尽相同了，因此，他才愿意相信，地场卫的做法，不会再将这个世界带向重复的毁灭。<br>
<br>
死大概只是一个手段，是为了突出他的思想转变吧~毕竟这样才有冲击性。（这话是残酷了一点，不过这样我们才会试图更深地去推测佐塞特的想法。）<br>
<br>
但愿最后的结果在情理之中，意料之外。</font></p>
<p align="center"><font size="2">作者：</font><font size="2">飞飞</font></p>
<p align="left"><font size="2">是……人的转变……不管是思想还是行为都会付出代价……<br>
佐塞特每每提醒着古舒特，主人还是主人，其实内心深处，他无法坚定，虽然主人回来面对了，虽然主人为了他们到了黑暗王国，他却相信前世会重演……这是无法坚定的相信小卫的未来……<br>
<br>
在岸边看着他们的佐塞特，也许觉得主人还是那个为了爱情放弃一切的傻瓜……到了小卫说，所以我才会来到这里的理由之时，他才明白，主人……已经与原来真正的不一样了……相信……地场卫不会再为了爱情抛弃地球，地球亦不会毁灭……<br>
<br>
死是最终表示他信仰了一生的主人……虽然残忍……但他最终为终其一生所爱之人奉献，我想他还是甘之若饴……<br>
<br>
我当然也不想死，可是我却有比生命更重要的东西需要我去保护，值得我去相信，值得我去为之牺牲……我想这就是为什么他会以生命来纠正他的错误……<br>
<br>
有人会说，因为小卫不想兔子死，所以小佐去救她。实际不是，是因为他的行为，已背离了他的信仰，所以他以生命证明了这一点……<br>
<br>
追求梦想……是希望他实现，但是不一定非要本人必须亲眼所见，他相信这事情会实现，这才是追求的最终目的……<br>
以前的那么多为我们现在可以幸福生活而死去的人，他们能看见今天的结果吗？是看不见的，但是他们的努力和他们的意志，难道是傻的，只是因为他们没有办法看见？<br>
<br>
梦想不是因为一定最终会实现才叫梦想，梦想是因为你相信他会实现才叫梦想。<br>
正是因为你的相信，才使你甘愿为之付出生命，至于解决问题的方式……他选择了这种方式，我认同……希望他的死可以唤回一些……<br>
<br>
不用为他哀叹，希望他们不要再死人就可以了……这不就是他唯一的遗愿吗？</font></p>
<p align="center"><font size="2">作者：</font><font size="2"><a href="mailto:scorpioeric@tom.com">Scorpioeric</a></font></p>
<p align="left"><font size="2">同意。<br>
</font><font size="2">佐塞特</font><font size="2">如果真是单纯因为地场卫不要兔子死而以生命相救，那他就真的是没什么信仰可言了。<br>
<br>
雅雷史安是四天王存在过的证明，如果要他们只是过着平凡人的太平日子，他们应该会心有不甘吧？<br>
呵呵，很多东西到了既得不到又放不下的时候，才会开始后悔当初为什么不用平和一点的手段。<br>
<br>
不过，我们都是以局外人身份在揣测他们真正的目的。<br>
从我们角度看去或许是好的结果，对他们来说未必能接受吧~~<br>
<br>
“你是要我放弃做四天王的荣耀吗？”&nbsp;<br>
<br>
突然间又想起了涅夫来特的这句话……起初听到这句话，感到小涅的虚荣心实在太强了。<br>
<br>
但是，认真想想，如果他们真的连这个也要放弃追求的话，他们还有什么？&nbsp;<br>
小涅是很严肃的说出自己确实想要的东西，虽然也是很抽象的东西，但是比起那些非常好听的口号、皆大欢喜的和平愿望，这个东西已经很实在了。&nbsp;<br>
<br>
身为一名军人（……或者武士、骑士之类的），追求荣誉是应该的！！&nbsp;<br>
<br>
小佐，一定程度上，是个理想主义者吧……</font></p>
<p align="center"><font size="2">作者：</font><font size="2">飞飞</font></p>
<p align="left"><font size="2">也许是我个人一厢情愿。<br>
<br>
我觉得他想的只要是五个人在一起，无论荣耀还是非荣耀，是平凡还是非凡……这都无谓，不能把小涅的思想同到小佐身上吧，他想要的是主人而已~剩下就是和主人在一起的伙伴。<br>
<br>
所以以此推断到，他想要的是光辉的过去，因为那是在一起的证明的结论……不对吧?&nbsp;<br>
<br>
安知平稳的生活是不是他的奢望呢？
</font></p>
<p align="center"><a href="../index.html"><font size="3">回主页</font></a></p>
</body></html>

