<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无法忘怀的微笑</title>
</head><body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">无法忘怀的微笑（沙菲尔与贝茨尼）</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">一段爱情还未开始就已结束，谁能告诉我这是怎样的不归路？<br>
<br><br>
看过美少女战士R的，不知道是否记得黑月帝国的一段悲伤的爱情，当一个人死了，另一个人已经没有眼泪，她无限悲伤，背对着妹妹们说：“从他走的时候，我就知道他不会回来了。我永远也忘不了他临走时的那个微笑。”<br>
<br>
当卡拉迪亚斯（魔界四姐妹的二姐）讽刺地对贝茨尼说：“难道，在那个世界有人在等你吗？”贝茨尼美丽而成熟的眼中放出愤怒的光芒。看到后来我才明白，冥冥之星真的有让他梦牵魂系的人，那就是沙菲尔王子。<br>
<br>
也许，他们的爱情是最让我感动的反派的爱情，尽管出场很少，短暂得让人心痛，也许，我还抱着有点不完美的感觉，沙菲尔很帅，但贝茨尼的年龄比他大（事实怎么样我不清楚，但看上去是这样），我希望与沙菲尔相爱的是白露丝（三姐），可谁也没有规定男方必须比女方大，当贝茨尼伤感地说：“我永远忘不了那个微笑”，我的心终于感到深深的痛，什么年龄，什么美貌，通通消失不见了。<br>
<br>
可是无形中，反派的爱情没有结果，即使他们变好了，但发生过的事不会被遗忘，他必须付出代价，他最多只有机会认识到自己的错误，然后用生命去补偿所犯下的罪过（胜利也不会属于他），而沙菲尔就更只有死这一条路，他的第一最爱是他的哥哥，永远是他，贝茨尼永远只是第二最爱。在这场爱情中，贝茨尼是可怜的，在沙菲尔发现娃依鲁的阴谋并被打伤，再由贝茨尼救走之前，他的心里有过贝茨尼吗？他正眼看过她吗？动画片里没有明确的介绍，但在我看来没有，他听到贝茨尼的表白先是惊讶，也许以前他根本没有想过这个问题，他们都被黑暗所控制，如果用好人与坏人来区分他们，则是坏人，在坏人之间只有利用、竞争而没有感情，好在他们的本性是向往感情的。沙菲尔是被贝茨尼感动了吗？还是真的爱她？我不敢确定，如果要我写同人，我就会写成沙菲尔与贝茨尼，白露丝的三角恋，沙菲尔没有理由因为贝茨尼救了他，以及真情流露就爱上她吧？我总认为爱是需要过程的，一见钟情不存在，所以我认为沙菲尔是被感动了，但这是相爱的基础。<br>
<br>
但我依然被感动了，沙菲尔用他的亲情感动了我，贝茨尼则是用爱情。沙菲尔要让哥哥知道娃依鲁是在利用他，是亲情让他走上了不归路。他离开贝茨尼，去找狄文，狄文也是爱他的，却因他的“背叛”而责备他，高高在上，冷漠而痛苦地看着他。没有兄弟姐妹的我，可能无法真正理解这种手足情，但我也真切地看出了，沙菲尔是纯粹的亲情，狄文则是矛盾体。沙菲尔死了，伴着痛苦的惨叫死了，他没有能告诉哥哥他想要说的，没能回到贝茨尼的身边，继续那段刚刚开始的爱情。<br>
<br>
沙菲尔死了，贝茨尼的心也碎了。如果是可安或者白露丝，可能会寻死觅活，但贝茨尼没有，她是长姐，思想已成熟，知道什么是理智什么是事实，虽然极度伤心却也没有崩溃，爱到深处，至少对大部份人而言，应该没有琼瑶式的一哭二闹一上吊，而是默默地接受残酷的现实，再说了，人都死了，去何处寻找？去何处倾诉？她拥有的，只是一个深情的微笑。不知道到底能不能用“深情”这个词，当作自我安慰吧，这是所有的爱的记忆了，贝茨尼会不会守着这份不完整的爱度过一生？如果在战胜娃依鲁时，同时利用银水晶的力量，狄文，沙菲尔，爱斯美纳特都活了，让狄文、爱斯美纳特为了各自的爱情而在阳光下演出有意思的爱情戏，而沙菲尔带着那样的笑容走到贝茨尼的面前，二人深深凝望，完美的爱情从此开始……<br>
<br>
那样的话，世间多了一场泛滥的浪漫，令人舒心的爱情，却少了残缺的美，残酷的悲剧的震憾，以及永远回味在心头的苦涩……<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
