<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>由几个细节想到的……</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">由几个细节想到的……</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:zoisite@263.net">反派守护神</a></font></p>
<p align="left"><font size="2">灌水行动之最后一桶：由几个细节想到的……（反派啦）&nbsp;<br>
<br>
呼～好久没有这么用力灌水了～～腰酸背疼腿抽筋……<br>
既然是最后一桶水，那么就不搞笑了，来讲讲正经的吧！（可是呢，既然讲到“正经”，那就一定是关于反派、Zoisite的……-_-）<br>
（那当然啦！）<br>
在这桶水里，我要讲的就是～Zoisite跟Kunzite的关系%$&amp;%#@&amp;@%$#……<br>
当看到Zoisite受了委屈（都怪Nephrite啦～）以后，泪眼汪汪（真的有哦！见图～）地去Kunzite那儿撒娇，我和同学们都很自然的认定他们是“LOVE*LOVE”关系（我喜欢这样叫^^）。<br>
但是，我强烈的反派直觉和双鱼座女神天生的第六感告诉我——没那么简单！！<br>
哼，Kunzite这家伙真是～花啊！！（所以偶才叫他大萝卜，“花心大萝卜”嘛～）看到元基的PP女朋友就旁若无人地感叹，甚至还当着Zoisite的面说什么“要是能见到‘Q被例饵’（那暴露女！》_《）的笑容就好了”，简直就是%&amp;%$*%$#!!（找死啦！！）<br>
可是，尽管本大神在一边气个半死，Zoisite虽然也吃了两大缸子醋（没办法！谁叫她跟错人了），过了两分钟却又不生气了，一心想着怎么讨好Kunzite（哄他高兴-_-b）。这，这，这我也只能得出一个且唯一的结论：Zoisite跟Kunzite其实是——<br>
女、追、男！<br>
（人家说“男追女，隔层山，女追男，隔层纸”，可好像并不适用哎……）<br>
如此想来，愈发觉得是这样了：几乎每次都是Zoisite主动，而Kunzite偶尔有比较友善(or亲呢，在她看来)的举动就够她在一边儿兴奋半天了（是真的！不信可以看金星出场那一集，本来Zoisite正在发表报告哪，Kunzite突然冒出来说也要掺一脚，你看Zoisite那高兴的样儿！！-》而且后来还表白了》_《|||）。而最明显的要数那个对比：同一集中，Kunzite光荣负伤后（我看有猫腻！）Zoisite很英勇地一对五（外带两只猫）；而在下一集，人家Zoisite被BOSS轰成生人肉包，Kunzite也不扶一把！！（别告诉我你反应不过来！！人家小菜咧？！）<br>
由此可见，事实上Kunzite对Zoisite也只是限于一般的“朋友”关系，离小菜那“人妖恋”还早着哪～真是气死偶乐！！去（念ke）死吧%&amp;%^*(#&amp;$%&amp;&amp;^$%&amp;！！！<br>
…………………………<br>
但是，说得没良心一点，Kunzite的确也没有责任得和Zoisite演“LOVE*LOVE”戏（毕竟是Z追K嘛……）。<br>
说得更残忍一点，Kunzite能在最后跟Zoisite“抱抱”（偶喜欢既样叫哈），已经够仁至义尽了%&amp;$%……<br>
…………………………<br>
不过，我想，Zoisite难道就不知道吗？（那当然………知道啦！山猪型女巫毕竟还是女巫，INT怎么地也比野蛮人高吧。）<br>
……于是我不禁对Zoisite肃然起敬%^#$^$%（单恋哈！偶粉感动哈！！）（ZK两“人”以前肯定有什么“过节”or“孽缘”哈，真是掰小说的好题材哈！！……不过看样子也没人写哈！！）<br>
不过，我又想，Kunzite难道也“一点感觉”都没有吗？？（这种家伙想什么都不吭气，揣测人物心理活动时这种人最难缠了！还是Zoisite好，想什么全写在脸上，就像我^^）（Kunzite：喂，你扯完没？！%$&amp;#）<br>
…然后，过了几集，Kunzite终于有了很隐晦的举动——拿出与Zoisite的合影（顺带一提，那张相片拍得真是烂，Zoisite摆的姿势好奇怪，肯定是抢拍@_@！！）瞄了两眼。嗯哼！这就是表示啦！！虽然还是搞不清楚Zoisite在他心理的份量，不过有总比没有好嘛^^（总算等到了$%#……只是，更多是因为那个正派卧底太烦人了吧？）<br>
好了，结论——Kunzite的确与Zoisite有一腿（这么说好难听^^b），不过Kunzite是在Zoisite挂掉以后才“来电”的喔～（也有可能以前就来电了……总而言之，这家伙真烦！！成天摆个扑克脸，叫我穷操心！）<br>
<br>
补充1：Kunzite挂掉的时候大叫了一声，很可能跟Zoisite有关系，因为我压根听不清楚他叫的是啥-_-<br>
补充2：Zoisite越想越可爱了！好～纯情啊……（陶醉中）一定是双鱼座的。（旁人：这家伙喜欢谁就硬说谁跟她同星座，没救了！）<br>
补充3：反派中的两对“冤家”的对手戏蛮好看的（Nephrite&amp;Zoisite，Kunzite&amp;正派卧底）！<br>
遗憾1：整个初代没有一幅Zoisite眼睛眯成一条缝的（^^）图！就连Kunzite这种人都有一幅特阳光灿烂一副正派相的图图耶！<br>
遗憾2：没有以Kunzite为主角，给Zoisite做一集的“追忆篇”（重心全放在“正派卧底”那儿了）……不过这样，也留下了更多遐想的余地吧！！<br>
尾声：<br>
刚才为了抓图，草草地把35～46过了一遍。其中有一集是关于溜冰的。演到一大半时，Kunzite放冻气给整个溜冰场“降温”。此时我注意到那溜冰男（反派！忘了名字）用披风把溜冰女裹住，不禁想到（站在Zoisite的立场）：“假如ZK也遇到这种情况，他会不会也这样对她呢？”<br>
这种问题，好像月如也问过李逍遥吧！（在彩依的故事结束之时）<br>
李逍遥的反应，是笑着怪月如想太多了，而月如便很失望地说女孩子就是会想多嘛！<br>
那么Kunzite会怎样回答呢？<br>
——我不得而知。<br>
也许，真正的Zoisite，根本就不会问这种问题吧…………<br>
（本来是想写一篇关于Zoisite超纯情的报道，结果好像成了“花心萝卜批斗会”&amp;$%@$^Y）<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
