<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>小议索伊塞特之死</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><font size="2"><img border="0" src="../img/line6661.gif" width="500" height="25"></font></p>
<p align="center"><b><font size="3">小议索伊塞特之死</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">记得初二时看美少女战士的动画片，看到索依塞特和昆兹埃德在一起就觉得好笑，因为他们是反派，本来就没有什么好感，再加上索依塞特像个女人，昆兹埃德虽然很帅，但是在我心中安狄美奥是第一位的，也忽视了他，因此，看待两个人之间的感情，纯粹就是看笑话。<br>
<br>
在看笑话的同时，也觉得索依塞特有些自作多情，昆兹埃德给我的感觉是并不喜欢索伊塞特，他总是粘着昆兹埃德，我还有些奇怪，昆兹埃德怎么会喜欢索伊塞特？看着他们的笑话，也看来了他们的“爱情”悲剧，索伊塞特满足地死在爱人的怀里，美丽地死去，我心里受到了震动，可是好友在旁边哈哈大笑，我也觉得自己古怪，两个男人那样子我怎么还为他们伤心啊，很快，我也不为他们难过了。<br>
<br>
后来，看了漫画，才发现四天王都长得很帅，而且在漫画中，他们本不是坏人，不像在动画版里一样一出来就是反派，他们本是我喜欢的安狄美奥王子的部下，而且我也发现他们那么帅，塞西达也不是那样女人气十足，准确地说不是那样不男不女。<br>
<br>
改变了对他们的一些看法，又发现了美莉亚姆王国，看了很多人对反派的看法，看了很多人为索伊塞特和昆兹埃德写的同人，我又重温了动画片。在黑暗阴冷的黑暗王国，在唯权利是尊的可怕地带，在只有相互利用的冷漠关系中，两个位高人物之间产生的感情是多么感人，尽管在很多人看来，包括我在内是古怪的。<br>
<br>
可是，他们的感情被无情的扼杀了，看过很多电视或者电影，里边的人也有同样有使命在身，但为了所爱的人，都违背了自己的主人，那时我就骂他们笨，什么比生命更重要？可是昆兹埃德，却接受了贝尔女王对索伊塞特的极刑，我觉得他应该用生命保护他所爱的人，也许在他心中，还有别的比这更重要。<br>
<br>
明明是贝尔杀死了索伊塞特，昆兹埃德却对水兵月他们说：“我要为索伊塞特报仇了！” 这是怎么回事呢？我总想不通，其实也没什么的，他怎么可能去怪自己的主人？一切的起因，他自然只会往水兵战士身上去想，也只有这样，他那颗受伤的心才能有所安慰，他已不是常人，就不能用常人的思维方式去分析，他的命运，比起水兵战士们，是非常不幸的……<br>
<br>
无可避免的，我对昆兹埃德的爱情异常关心起来了，不仅为他和索伊塞特，还因为他和水兵金星。有一幅画里将四天王和四战士画在了一起，我也非常希望是这样子的，也就为他与金星写了一篇《天际微云》，也是无可避免地写成了悲剧；当然，这比起索伊塞特之死，完全不可比，小说是不可能给人视觉与听觉的感受的。没有完成任务，在黑暗帝国里，他只有死路一条，即使是心爱的人也无法保护他，他一直是那么得意，那么自以为是，怎么说呢，自信是必要的，但他远比涅夫莱特要狂，我想因为他还有一个昆兹埃德在身后支持他，这就是力量的源泉。但实力还是实力，技不如人不堪战，而且身为反派，他就算暂胜利了，也不可能得到最终的胜利，死亡是一定会来的，也许他已经非常幸福了，能在无情的地方的到有情的人，能在心爱的人怀里死去……<br>
<br>
他死了，其实离黑暗王国的毁灭也不远了，昆兹埃德也彻底失去了欢乐，当他拿起照片，轻声呼唤索伊塞特的名字，心里是一种怎样的痛楚？也许他斗争的目的也不明确了，失去一个工于心计的人，对黑暗王国的莫大的损失，内部的不合也造成了失败，正派为什么总是胜利呢？实力不一定就强的，但是他们知道团结的力量，黑暗王国失去了唯一团结的两颗子。<br>
<br>
索伊塞特之死，不仅是对昆兹埃德的伤害，也是对黑暗王国的伤害…<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
