<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>银河之影</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">银河之影</font></b></p>
<p align="center"><font size="2">作者：</font><a href="mailto:jackzhou91@hotmail.com"><font size="2">Ariel</font></a>
</p>
<p align="left"><font size="2">嘉拉西亚Galaxia：历史上最强的美少女战士。拥有无数的星宿种子。很久很久以前，银河曾经发生了一场“银河之战”。而嘉拉西亚SailorGalaxia（卡拉古夏）与混沌正面交锋。可惜，混沌也不是“省油的灯”。经过激烈的战斗，可怜的Galaxia仍然不可以消灭那个该死的混沌。最后，为了使银河不被混沌控制，她将混沌封印在自己的身体里。可惜，道高一尺，魔高一丈。混沌岂是浪得虚名？有一天，她发现混沌的力量在逐渐增前。总有一天会控制她。于是，她将自己唯一没有被污染的星宿种子-希望之光释放出来。放在银河深处。这样并不是为使自己得救。而是希望将来有代表爱与正义的人可以用希望之光的力量来消灭邪恶的自己。这种自我牺牲的精神，我老师说这叫做“大无畏”！她那么做了。但是自己却……经过一段时间，混沌完全控制了没有星宿种子的她。使嘉拉西亚变成了最邪恶的战士。（没有星宿种子的冷血恶魔 ，怕怕……）身为邪恶化身的Galaxia，认为在银河中，没有靠得住的人。只有自己最可靠，只有自己可以拯救银河。她想征服银河，然后建设一个新的银河。这，来自混沌的野心和她自己的使命感-让银河变得更美好的使命感。只不过，方法很残暴。但是，银河里只有地球有很多没有苏醒的星宿种子。所以她来到了地球。地球是她改变命运的地方。在这里，她夺取了阿兔最亲爱的阿卫，为救其他人而牺牲的四守护神，在银河中唯一不被她的手铐控制的天王星和海王星，配合天王星和海王星的苦肉计的冥王星和土星。还有地球上的人的星宿种子。这些人都是为了保护阿兔，保护地球。Galaxia仿佛看见了她原来的自己--为了救银河而宁愿牺牲自己。最后，水手月亮帮助她把混沌驱除体外。一开始的时候，她很内疚。内疚没有保卫银河。但是水手月亮鼓励了她，鼓励了Galaxia。因为，希望之光，在每个人的心里。<br>    
<br>    
水手铁鼠Sailor Iron Mouse：性格像小老鼠的水手战士。十分的懦弱。除了她出场的最后一话和水手星斗者-SaliorStarFighter交手以外，从不和水手战士交手。<br>   
<br>   
水手星莲Sailor Aluminium Serien：礼貌的水手战士。她有一种“怪癖”。每次攻击对手或目标时，总是把自己的名片给对方或者是和对方自我介绍。还说这是她妈妈教她的“礼貌的一种”。（我晕了……不过理所当然的，还有特殊情况）在感到失败、害怕时会肚子饿。和水手红乌是好朋友。最后一次认定自己可以找到水手月亮的星宿种子--真正的星宿种子，而夸下海口。但是因为失败（水手战士人多势众，而且她的绝招简直是……汗……而被嘉拉西亚（卡拉古夏）取走了手铐而死（非常的可怜）。<br>   
<br>   
水手红乌Sailor Lead Crow：地球名字--乌丸茜。她是坚强和力量的水手战士。有的时候背后有一个大翅膀。攻击力很高，曾经把内太阳系四战士打的毫无还手之力（内部太阳系战士也有点太弱了，且她们曾经被一个感染体打得毫无还手之力），而且她一厢情愿地认定星莲是她最强劲的对手。但是星莲每次的目标基本上都是她找的。最好玩的是，常常被星莲气得说不出话来。我真的是很怀疑星莲和红乌是不是姊妹。因为仔细看她们的衣服样式都差不多（就是有一点太少啦！）不知道她怎么会成为四大水手。很可能也像天王遥和海王满后来那样有计策。如果真是这样的话，那她可是失败透顶。因为她在最后取出水手月亮的星宿种子时，由于水手铁锚的暗算，永远消失在黑洞里。真的是好可怜。<br>   
<br>   
水手铁锚Sailor Tin Cat：地球名字--玲猫子。她是诡计的战士。水手铁锚是一个发明家，第一次出场就用自己发明的大炮打伤了星野。但是第一次单独出场时，就被Saliormoon净化了半身（真是很苯），第二次单独出场时，就被嘉拉西亚（卡拉古夏）杀死了（活该）。<br>   
<br>   
</font><font size="2">Ariel</font><font size="2">总结：说实话，在这四大水手里我最喜欢星莲和红乌。最讨厌的是铁锚和铁鼠。因为铁锚和铁鼠很胆小而且很会“暗算别人”。星莲有的时候非常可爱。而红乌和星莲在一起时常常头上出现“汗珠”。我倒是认为如果星莲最后一次和红乌一起出现的话胜利率会高一些……</font></p>   
<p align="center"><font size="3">相关评论</font></p>  
<p align="center"><font size="2">作者：<font COLOR="#000000"><a href="mailto:ztjz@163.com">素盏</a></font></font></p>  
<p align="left"><font size="2">嗯嗯，我先来挑一个错别字，就是，水手铁猫打成了水手铁锚，其实看英文就可以知道，Cat就是猫的意思，而不是锚。<br>  
另外顺便提一点翻译问题，中国的译者把那个Tin当成了日文的铁来翻译，其实是不准确的，可以看出来，直子在给这四位战士命名的时候用的都是英文，Tin在英文中是另一种金属，叫做“锡”，所以SailorTinCat的正确译法是“水手锡猫”。  
<br>  
<br>  
关于翻译问题……我就多说两句吧。  
<br>  
<br>  
水手星莲Sailor Aluminium Serien，某些版本音译为“水手阿鲁米娜姆·赛壬”，因为日语发音中[r]和[l]混淆不清，所以Serien也有按照日文发音译为“赛连”、“星莲”。Aluminium也是一种金属：铝，而Serien则是希腊神话中的一种怪物，是生活在海岛上的海妖，这里我觉得直子有点望文生义，因为是“海妖”所以把星莲画的有些像鱼，但传说中Serien的模样是人头鸟身，很会唱歌(不知道会不会让乌鸦出身的红乌嫉妒呢^_^)。<br>  
所以，Sailor Aluminium Serien的准确意译是“水手铝海妖”，但是一般来说我喜欢半音译半意译的称她为水手铝赛连，不过水手星莲也真的很好听，我在考虑今后改变一下习惯。<br>  
水手红乌Sailor Lead Crow，某些版本半错译半音译为“水手红古罗”，大家都知道古罗就是Crow，即英文的“乌鸦”，但是这个“红”是怎么来的呢？答案就得在刚才提到的日语发音中[r]和[l]的混淆中寻找——由于这个原因，所以Red(红色)和Lead以假名注音是一样或相似的(具体我也没考证过，但肯定差别不大)，中国的译者按照一般的习惯就理解为Red，译成“红”。其实Lead和另外三位水手名字中的铁、锡、铝一样，也是一种金属：铅，所以，Sailor   
Lead Crow的准确意译是“水手铅乌鸦”，不过我比较喜欢“水手红古罗”。  
<br>  
<br>  
虽然动画中只出现了Ariel写的那些，但银河之影其实还有一些别的成员，补充，漫画版银河之影成员：  
<br>  
<br>  
水手海威(Sailor Heavy Metal Papillon)<br>   
在漫画中，水手海威是“灵魂猎人”，她掌管卡拉古提卡宫殿前的一个墓地，将人类残留的灵魂以蝴蝶的样子养着。海威来自一颗叫做“茧”的行星。根据直子的设定画集，她的绝招叫做“Galactica Scales”，不知是如何翻译的(难道是“银河之秤”？)。<br>  
“海威”是音译全名中的Heavy，意为“沉、重”，Metal则是“金属”之意，Papillon不是英语，而是法语，意思是“蝴蝶”，所以Sailor Heavy Metal Papillon的准确意译就是“水手重金属蝶”。   
<br>   
<br>   
水手列蒂(Sailor Lethe)<br>   
列蒂来自一颗和她的名字一样叫做“列蒂”的行星，她的孪生姐妹叫缪尼摩西尼，两姐妹中列蒂更残忍一些，不过得看她的心情。列蒂保卫银河之影的大门内的一条河，河的名字叫“忘川”，意为“忘却之河”，她的绝招是“Galactica Musotis Alpastonis”，同样只在设定画集中见过，亦不知如何翻译。“列蒂”当然就是Lethe的音译，Lethe是希腊神话中冥界的一条河，一般音译为“勒忒”，勒忒河被称作“忘川”是因为人死后亡灵到了冥界要喝这条河的水，喝了之后会忘记自己活着的时候的一切事情。   
<br>   
<br>   
水手缪尼摩西尼(Sailor Mnemosyne)<br>   
缪尼摩西尼来自一颗和她的名字一样叫做“缪尼摩西尼”的行星，她的孪生姐妹是列蒂(很奇怪为什么双胞胎会来自不同的星球)，缪尼摩西尼是两姐妹中心肠比较软的那一个。缪尼摩西尼守护“记忆之河”，她似乎没什么绝招，但曾经听人说有一个跟“Myosotis sylvatica”(勿忘草)有关的，没考证过。“缪尼摩西尼”也是音译“Mnemosyne”，Mnemosyne是希腊神话中天空之神乌拉诺斯和大地女神盖娅的十二个儿女之一(这十二儿女统称泰坦神)，是记忆女神，后来和宙斯生下九位艺术女神缪斯。  
<br>  
<br>  
水手Φ(Sailor Φ)<br> 
Φ和她的孪生姐妹X都是卡拉古夏的手下当中地位最高的，理论上Φ应该是来自一颗叫“Φ”的行星，但是原作中似乎没提。Φ的绝招是“Galactica Plants Blizzard”，不知道怎么翻译(银河工厂大风雪？)。Φ是希腊文的第20个字母，读音用汉语拼音表示就是fai，汉字注音为“斐”。  
<br>  
<br>  
水手X(Sailor X)<br> 
Φ的孪生姐妹，和Φ同为卡拉古夏的心腹，理论上X应该是来自一颗叫“X”的行星，但是原作中似乎没提。X似乎没啥绝招，但在漫画中她杀死了水手火球。X是希腊文的第21个字母，读音用汉语拼音表示就是hai，汉字注音为“喜”。<br> 
</font></p> 
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>