<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>幽默自测题</title>
</head><body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">幽默自测题:你是否已被黑暗占据了心灵</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:Russophile_17@sohu.com">Jadeite</a></font></p>
<p align="left"><font size="2">这是俄罗斯网友编写的，很有趣，大家不妨看看：）</font>
<p align="left"><font size="2"><b>你迷恋上黑暗帝国了吗？如果你：</b><br>
1.在你所使用过的名字里，其中有一个叫做贝尔、积达、拿拉达、赛西达或古舒达；<br>
2.你对你的情人说“古舒达大人”，作为答复，他回赠给你玫瑰；<br>
3.你穿着水手月亮服饰沿街奔跑，并大声叫喊道：“我是赛西达！我是赛西达！”<br>
4.为了看起来与赛西达相像，你把头发染成了金红色；<br>
5.为了看起来与古舒达相像，你把头发漂成了银白色；<br>
6.在网络上，你很喜欢别人恭维你为“女王”、“将军”或“大人”，也很喜欢恭维别人为“女王”、“将军”或“大人”；<br>
7.你已经在黑暗帝国的论坛里待了两年多，你是辩论时无人能比的高手，并且成为了那里的管理员；<br>
8.(姑娘)你通过穿戴一些男孩衣服改变自己的性别，为了更像日本版中的男性赛西达；<br>
9.(小伙子)你通过穿戴一些女孩衣服改变自己的性别，为了更像美国版中的女性赛西达(你所有的朋友都说你是“坏蛋”)；<br>
10.你喜欢穿深蓝色或深灰色的衣服；<br>
11.每当你生病的时候，就会想起巧克力冰糕；<br>
12.你疯狂地寻找并阅读所有黑暗帝国的同人，甚至包括BL的；<br>
13.为了正确拼写黑暗帝国中的每个人的名字，你开始认真学习英语和日语；并且，当你知道了正确的拼法后，你立刻放弃了英语、日语的学习；<br>
14.你已经把与黑暗帝国有关的部份重读了40遍以上；<br>
15.然后你认为，“这一切都不正确”，于是你开始拼命写Fanfic；<br>
16.你已经写完了2篇黑暗帝国的Fanfic；<br>
17.你已经写完了10篇黑暗帝国的BL的Fanfic；<br>
18.每当你看见夜礼服假面/安狄美奥/地场卫的时候，就开始出现过敏症状；<br>
19.你精确地计算过北极圈D点的位置，甚至还准备约上朋友一起到那里看看；<br>
20.你房间的墙壁上挂满了贝尔女王、四大天王或其他小妖魔的图画；<br>
21.你写了一些歌曲来赞美拿拉达和积达之间永恒的爱；<br>
22.你喜欢往酒杯里放冰块和饮料，然后用很酷的姿式喝下肚去；<br>
23.如果你发现，你的电脑不支持日语显示，你会像跌入深渊般沮丧；<br>
24.上课时，你偷偷在笔记本里画四大天王的肖像；<br>
25.画好四大天王的肖像后，为了使他们不孤单，你开始试着为他们的孩子画像；<br>
26.老师并没为此而责罚你，因为他和你的父母已经完全对你丧失了希望。<br>
</font><p align="left"><font size="2"><b>你迷恋上拿拉达了吗？如果你：</b><br>
1.你对天文学和占星术都如此痴迷，并且丝毫不在乎它们之间的差异，你的头脑里塞满了关于“太阳与海王星和火星呈90度角”之类的奇怪想法；<br>
2.你每天孜孜不倦地喝着白兰地，并深信自己绝不会醉倒，当发生完全相反的情况时，你非常吃惊；<br>
3.你告诉过很多人，你有一辆红色的跑车，虽然你事实上连自行车也没有；<br>
4.每天晚上睡觉前，你都会雷打不动地在卧室里对着窗外嗥叫：“星星无所不知，快给我神秘的力量！”你的亲戚和邻居常为此头痛不已，甚至准备带你去看急诊；<br>
5.当你乘坐的公交车拥挤不堪时，你会轻声抱怨道：“我的红色跑车在哪里？”<br>
6.你喜欢有着长长粟色卷发的小伙子，你总是将他们想像成拿拉达；<br>
7.你认为，星星无所不知，这是一条真理。<br>
</font><p align="left"><font size="2"><b>你迷恋上赛西达了吗？如果你：</b><br>
1.你将头发染成金红色，并且扎了一条马尾辫，然后对着镜子美美地自我欣赏了半个小时；<br>
2.你收集绿色的耳钉、钮扣和发带。<br>
3.你在电脑里挂满了赛西达的画像。<br>
4.你在整个房间里挂满了赛西达的画像；<br>
5.你将拿拉达的画像当成箭靶子。<br>
6.你去珠宝商店里寻找蓝色黝帘石，如果你有幸买到了它，那么你一分钟也不愿与它分开，睡觉时便放它在枕头底下。<br>
7.你为了寻找彩虹水晶而跑遍了所有的珠宝店。<br>
8.如果某个同人小说里讲叙的不是赛西达和古舒达的爱情，而是赛西达（或古舒达）和别人的爱情，那么就会使你感到愤怒；<br>
9.你所有的好友都知道甚至喜欢赛西达，即使他们从未看过美战。<br>
</font><p align="left"><font size="2"><b>你迷恋上积达了吗？如果你：</b><br>
1.开始剪短头发(不是因为这样做时髦，而是因为比较舒适和省事)；<br>
2.认真听从上级的规章和命令并以优雅的仪态迅速执行它们；<br>
3.娱乐晚会中，你无缘无故地抓起笔记本和钢笔，开始一丝不苟地记录下所有事情；<br>
4.每晚你会请家人们暂时离开自己的房间，并仔细把所有的东西都各归各位地摆放好；<br>
5.你开始获得优秀的成绩，在数学、物理、生物和化学之类的科目里；<br>
6.你的双手完全能修理好任何一样东西；<br>
7.你希望对周围各种各样的事物进行合理化的分析和综合；<br>
8.为了实现目标，你压制周围的每个人。<br>
9.你留意每个从身旁经过的14-15岁的女孩(并非因为你变态，只因为她们可能是水手服战士)；<br>
10.你喜爱孤独，你只知道工作；<br>
11.你经常或者曾经被冻僵。<br>
</font>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
