<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>幻化的你,真实的你--送给信和古舒特</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b>幻化的你，真实的你--送给信和古舒特</b></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p><font size="2">不明白信是属于古舒特的，还是古舒特是隐藏着信，在收集小古的素材做MV的时候，又回头去看了信……看那个眸子里拥有着那么多不确定，却又对未来抱着渺茫的希望的男人……<br>
<br>
初出场的他，配着的却是恐怖的音乐，恐怖的画……到卫一声看清楚些的断喝之后……忙忙要跑的兔子和元基回头看见的是窗边那平和的、温柔的、穿着一身白衣的男子，怯然的抓着那只乌龟抬了抬手……唇边浮现着笑容……<br>
<br>
信那样的一个男子，出现的时间不到十分钟，在长长的美战片子里，你的出现算什么呢，你的存在对于那偏执的男人又有什么样的意义……我一直无法明了……温柔的脸、低低而怯懦的声音、想要强留下兔子他们时的害羞……一切宛然幻化一般的男子……白色花出现，代表着白色的你……低眉的对着窗外你无法达到的世界说喜欢花，喜欢海的你……害怕的是什么呢？就算是声嘶力竭的喊出了快跑，就算是痛苦万分的想要去拿住你最喜欢的花……古舒特还是会出现……
<br>
<br>
当那朵心花慢慢在黑色的气雾中绽放时，转身过来拿剑的男子捻碎了花朵，任它飘零一地……<br>
<br>
“看来信是完全消失了！”“他从头到尾就没有存在过吧！”<br>
<br>
你真的从来存在过吗？那拿着杯子微笑的男子，怯怯的请求别人留下来的男子，害怕过去不想寻找的男子……真的就此消失了……<br>
<br>
做小古的MV……很烦……因为只要他们在一起，除了打还是打，并没有其它的场景……前世如同重担一样背负在古舒特的身上，可他对小卫如果仅仅只是恨那么简单，也许他过的会好过点……可惜……他的内心深处真的只有恨吗？每每看见对其它人说出恨话的古舒特，似乎那样的狠劲只是给自己以信心要继续的恨下去……勉强的有些吃力……游离的又无法确定……直到……看见回忆中草地上的一幕……才明白原来的古舒特对小卫是什么的深厚感情……那样的他应该也是爱花，也是爱海，也是爱树木和爱护着眼前这个男子的吧？<br>
<br>
所以，我从来不明白信是否代表着古舒特的过去，回忆中忠诚的声音，爱护的笑容……似乎已经真的随星球的毁灭而远去……但我却固执的认为信却绝对没有离开……偏执的要说服自己恨着卫的男人中，真没有那个第一次看见兔子和卫就说熟悉的要他们留下来的男子了吗？我却一直不相信这点……信不会从头到尾都没有存在过，他应该沉睡在古舒特内心的最深处……寂寞的封闭在他的内心，无奈的看着窗外的古舒特在矛盾中不知所措……他无法打开窗……也无法让古舒特自己来打开心结……<br>
<br>
当积达的剑刺过来的时候，就那么一瞬间，一瞬间……他抓住了王子，把他推了出去……<br>
<br>
“主人的剑是生存之剑”，就是因为你的一句话，那个傻瓜才去把美达利封印在自己身体之中吗？从来没有变过……也是因为这样的原因，你才将他推了出去？因为他根本就没有变……为了公主放弃星球，为了星球放弃生命……你最终明白了吗？你对那个傻孩子的感情？倒在他怀中的你是信还是古舒特？&nbsp;<br>
<br>
也许这一切都不再重要了，打开窗的信走出了被你囚了很久的心牢……他存在在你身体之中……你们再也不会分开了……<br>
<br>
是幻化的你，还是真实的你，在最后一刻合成为那个坦白了的你……<br>
<br>
<br>
仅以此文献给我喜欢的信和死去的古舒特……
<br>
</font></p> 
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：<a href="mailto:scorpioeric@tom.com">Scorpioeric</a></font></p>
<p align="left"><font size="2">母猫在死之前终究还是露出了最温柔的一面^^<br>
<br>
我觉得，也许古舒特将自己心灵深处的温柔硬是排挤出体外，这才有了信，为的是让自己只留下所谓的“恨”。&nbsp;<br>
到死，两者才合在一起。那才是最原始的昆塞特。&nbsp;</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">说信是他温柔的代表也不错……反正我理解最后一幕开窗的信……是有打开自己心牢的味道……<br>
<br>
无论最后是谁……他是喜欢小卫的……哦和和……</font></p>
<p align="center"><font size="2">作者：<a href="mailto:scorpioeric@tom.com">Scorpioeric</a></font></p>
<p align="left"><font size="2">感觉就像是短笛大魔王（或魔人布欧），把邪恶的部分挤出了体外，但是这样两部分都会变的有缺了。<br>
<br>
大概是因为昆塞特和信合二为一了，所以他最后才会肯这样打开“心窗”吧。</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">信没有缺啊……和布欧不一样，布欧完全是善恶分开的……最后很明显……<br>
<br>
我不认为信或者小古独立存在是不可以……也不认为那时候他们是有缺点……如果勉强说，应该说是无法快乐的生活，当他们合在一起的时候，才真的明白自己，坦白起来……不惧怕未来，不被过去约束……我喜欢他们合在一起。<br>
<br>
单独的信或者小古其实都可以存在……并且我也喜欢……</font></p>
<p align="center"><font size="2">作者：<a href="mailto:scorpioeric@tom.com">Scorpioeric</a></font></p>
<p align="left"><font size="2">^^我不是说他们有缺点。<br>
我的意思是，分开后，他们的生活便没那么完整。<br>
信少了记忆，而昆塞特少了温柔。<br>
<br>
（就像我始终觉得冥王篇里的撒加是善恶合一的，是完美的。原本善良的撒加缺少恶时的力量，而邪恶的撒加缺少善时的人性……啊……跑题了。）</font></p>
<p align="center"><font size="2">作者：飞飞</font></p>
<p align="left"><font size="2">信少了记忆……小古少的不是温柔~可能也是记忆或者是感觉吧~</font></p>
<p align="center"><font size="2">作者：</font><font size="2">Kazami007</font></p>
<p align="left"><font size="2">那种死法的确是意料之中，和佐塞特一样，最终为主人而死。<br>
“积达，你的主人不是贝尔，我们的主人，就在眼前</font><font size="2">……</font><font size="2">”<br>
他最终肯承认主人的存在，是因为他看到卫为了压制美达利，为了保护地球，为了改变前世的命运而拼命吗？？<br>
和小佐悲壮的死相比，他的死那么短暂，说完这句话就挂了。当时小佐是呼唤3个人回到主人身边，这次轮到小古告诉积达一个。<br>
</font></p>
<p align="center"><a href="../index.html"><font size="3">回主页</font></a></p>
</body></html>
