<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>关于ZK的研究讨论^^V1.02</title>
</head>
<body text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF" bgcolor="#000000">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center">
<b>
<font size="3">关于ZK的研究讨论^^V1.02</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:zoisite@263.net">反派守护神</a></font></p>
<p align="left"><font size="2">这个，只是我一点小～小的想法啦～～～^^别当真喔～～～<br>
（旁人：那你讲出来干嘛）<br>
<br>
虽然说ZK的确是有意思，可还有很多很多细节问题没有讲出来！（废话，人家是反派嘛～）所以，我！反派守护神zoisite*Aphrodite就来研究一下罗～不寻常的地方喔～～～<br>
<br>
1、两个“人”的年龄差距大了点～～呃，Kunzite看起来蛮老的嘛！（Kunzite：-_-|||）<br>
2、Zoisite的态度也很奇怪！如果说他俩是后来在反派自救会（我是这么称呼历代反派老窝的^^）认识的，那么Zoisite也没必要对Jadeite&amp;Nephrite那么凶（呃……）。而且，按照Zoisite的一贯表现，她对于除了Kunzite之外的反派都没意思，还狂讲风凉话（Nephrite就深受其害啊），那么她怎么就独独对Kunzite那么好？？我很难想象她第一次见到Kunzite后发花痴的样子（汗）。再及动画中有一镜头告诉我ZK在“亲热”的时候还有一群小反派在阴影里偷看呢～这也说明ZK的关系不是一天两天了～～～（超出整个初代～在银色月宫覆灭之前的之前……）<br>
3、Kunzite的态度也也很奇怪！Zoisite可跟他粘得不行啊，但他好像没啥感觉……似乎敷衍的成份更多一点！！喔喔，非常值得怀疑！！如果把Zoisite当正常人考虑（毕竟美战中反派的逻辑都很怪），她实在没必要成天粘Kunzite（一口气粘了N久啊！从远古时代到现在……-_-)<br>
<br>
好～来总结一下：年龄差距很大～Z只粘K一个而且对其余人态度反差满大～K应付的成份多了一点～～<br>
<br>
问题就是：如果是正常的“自由恋爱”（倒），Kunzite大可以明明白白的叫Zoisite少粘他～可是他没有喔～～那就是说，还有“责任”的成份在里边～～<br>
<br>
最后的结论：ZK的关系其实是………参见“美少女梦工厂”（爆）<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
