<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>自私的爱情</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center"><b><font size="3">自私的爱情</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font>
</p><p align="left"><font size="2">
其实最重要的朋友，也许真的没有了，要是真的有的话，他就不会活得那么痛苦了，他一直希望去保护他人，而不愿将自己的痛苦告诉别人。每当阿兔迷茫、悲伤与失望的时候，总会有同伴给予她鼓励；可如果阿卫感到迷茫、悲伤与失望，他又该向谁倾诉呢？谁又能安慰、鼓励他呢？<br>
每当看见上面这一类话，就令我感慨万千，而大多数人却全然不知，正是由于王子自己的原因，才造成了他今天的痛苦！<br>
你问我为什么吗？道理很简单……<br>
在美战漫画版卷三中，王子为了保护公主而被贝尔杀死，从表面上看似乎挺凄美，但事实却完全不是这样！他为何要死？他本来可以不死的！若他选择活下去，或许还能为公主复仇（假设公主已死的话），或许也能打败美达利，还地球及月球以和平……但是，因为爱情，因为这种近乎于自私的感情，他本能地选择了死亡！就这样，他抛弃了他作为王子应尽的义务，抛弃了他的国家、他的人民，甚至很可能包括他的父母，与他所爱之人共赴黄泉了。<br>
既然，他仅仅是为了爱情就选择死亡，那当亿万年之后他再次重生时，所得到的补偿，也仅仅只有爱情这一项罢了！<br>
前世一场冲动的选择，竟会使他的今生如此苦闷，恐怕这是王子怎样也没有料到的罢？不过，就算他料到了，又当如何呢？王子对公主的爱，是那般刻骨铭心，我相信，哪怕命运再重复上千百次，他也肯定会无悔于当初的选择。<br>
当然了，我们不能因此而苛求王子，毕竟他还不甚成熟。<br>
可我不知道，这样的王子，将来是否能成为一个合格的国王？他对爱情的向往，是否会成为臣民们一辈子的悲哀？</font></p>
<p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：<a href="mailto:eternal_asuka@hotmail.com">アスカ</a></font></p>
<p align="left"><font size="2">
我就说嘛，王子公主的爱情走过场的！虽然很真实，但是自私到极点。<br>
为了爱情而死，是愚者的行为！也不知道在一个人的一生中会有多少事情比爱情重要！<br>
我很欣赏星野对兔的爱，没有什么渴求，就是希望对方平安。为了对方的幸福可以放弃自己对对方的爱。可以不得到对方，只要“来过，爱过”就可以了。知道自己的本分、自己的责任、也知道比爱更重要的东西。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font>
</p><p align="left"><font size="2">
原本，这也会是一个极好的、引人深思的事例，但作者太爱王子了，在整部作品中向他倾注了太多的美好，反而淡化了他于原则选择上的自私及错误。<br>
于是，自私的成了圣洁的，错误的成了正确的。<br>
很多读者在向王子表达同情与喜爱之时，却都忘了，可怜之人必有可恨之处，所谓惊天地、泣鬼神的爱情，有时只不过是华而不实的花瓶罢了。<br>
假若有那么一天，爱情超越了义务与责任，超越了友谊与亲情，并成为自身存在的唯一价值，那才是最大的悲哀。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:eternal_asuka@hotmail.com">アスカ</a></font></p>
<p align="left"><font size="2">
是他自己没能力才送了性命！他当时完全可以将公主推开而不替她挨那一剑，然后去跟贝尔搏斗！</font></p>
<p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font>
</p><p align="left"><font size="2">我并不是要否定爱情，但倘若爱情一定要拿其他与此无干的人的生命去陪葬的话，那这种自私的爱情还不如没有的好。<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
