<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>战争的真相</title>
</head>
<body bgcolor="#000000" text="#999999" link="#CCCCCC" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><img border="0" src="../img/line6661.gif" width="500" height="25"></p>
<p align="center">
<b><font size="3">请你倾听不同的声音--战争的真相</font></b></p>
<p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font>
</p><p align="left"><font size="2">在漫画书卷三中，倩尼迪女王曾理所当然对公主说：“我们……使命是……除掉地球的负面因子，监视及帮助地球向着正面方向进化得更好。”<br>
就是这一句话，令我感觉非常别扭，而可怜的女王却全然不知，正是由于她好心的所谓“呵护”，才引起了地月之间的战争！<br>
你问我为什么吗？道理很简单……<br>
监视地球（对的，原话确实如此）？帮助地球？除掉地球的负面因子？她们凭什么？！就凭她们比地球人长寿么？就凭她们有银水晶么？须知，何为负面因子，何为正面方向？月球人应该也是完全无法十拿九稳的，除非她们是神！况且，地月之间是平等的，月球是独立的王国，地球也是独立的王国，所以月球没有权利去主宰地球人的未来！因此，地球人的反抗，甚至战争，完全是合乎情理的。<br>
而王子的劝阻，倒是有些许莫明其妙。我们几时任人摆布了？谁监视我们了？当然是月球人在监视我们（尽管是出于好心）！停下？斗争和憎恨，不能够存在？废话，斗争和憎恨自然不能够存在，但地球人的未来凭什么要让月球人主宰？！也许，地球人愚昧，地球人野蛮，不及月球人的智慧与高尚，但却不能因此而干摄他们的内政，剥夺或部分剥夺他们掌握自己命运的权力。<br>
可是，年轻的王子，被爱情迷住了双眼，只顾从月球人的指引中，去建设美好的未来……却不知，地球人的命运，实际上应该由自己来主宰！<br>
所以，造成地月之间战争的人，正是倩尼迪女王本身，而王子的无知，又进一步激化了这个早就有的矛盾。至于美达利等人，只不过是趁火打劫的小偷，而美战中却过分扩大了他们的作用，这对谁都显然是不公平的。<br>
一点妄语，仅供参考。<br>
我索性讲的再明白一点：&nbsp;<br>
倩尼迪女王的想法，是“慈母”式的：<br>
我爱地球，我更爱地球上的人民，所以我要用自己的方式、自己的力量来庇护这个星球，除掉地球的负面因子，监视及帮助地球向着正面方向进化得更好。<br>
安狄美奥王子的想法，是“乖孩子”式的：<br>
既然月球人有庇护我们的能力及愿望，既然月球人能指引我们去建设美好的未来，我们就应该与她们和来相处并接受她们的建议。<br>
别的地球人的想法，是“……”式的：<br>
地月之间是平等的，月球是独立的王国，我们地球也是独立的王国，所以月球没有权利去主宰我们的未来。也许，地球人愚昧，地球人野蛮，不及月球人的智慧与高尚，但却不能因此而干摄他们的内政，剥夺或部分剥夺他们掌握自己命运的权力。<br>
所以，这些思想才是矛盾产生的根源，而矛盾应该早就业已存在并逐步扩大、变强，于一段时期内，由量变达到质变，于是--战争爆发了。<br>
这才是事实的真相，但却极少有人明白。<br>
唉，一声叹息！</font></p><p align="center"><font size="3">相关评论</font></p>
<p align="center"><font size="2">作者：<a href="mailto:eternal_asuka@hotmail.com">アスカ</a></font></p>
<p align="left"><font size="2">另外一种说法是王子被公主“迷惑”了，沉浸在爱中，根本就不知道自己在干什么。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font>
</p><p align="left"><font size="2">原本，这会是一个极好的、引人深思的事例，但作者太爱倩尼迪女王和安狄美奥王子了，在整部作品中向他们倾注了太多的热情与美好，将所有的责任都推到黑暗帝国那里，这反而淡化了二人（尤其是王子）于原则选择上所犯的大国沙文主义错误及盲目自私的心态。<br>
于是，月球女王从没有反省过她的错误，地球王子也从没有反省过他的错误，这真是绝妙的讽刺。<br>
那么，我要问一句了：若干年以后，相同的悲剧还会在相同的地点上演么？！</font></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">女王和话就是“监视”二字让人很不是滋味，谁也受不了监视。作者编故事的水平不错，画的水平更高，但是不知道她是先画还是先把整个情节好好地写下来。恐怕是想到什么画什么，想到什么说什么。不然美战不会有那么多让人不尽满意的地方。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:eternal_asuka@hotmail.com">アスカ</a></font>
</p><p align="left"><font size="2">政府有时候会是强盗，但人民永远不会是强盗！</font></p>
<p align="center"><font size="2">作者：<a href="mailto:gushuda860@sohu.com">极地寒风</a></font></p>
<p align="left"><font size="2">坦率地说，王子和公主的结婚典礼上的红地毯，是用鲜血铺成的.安狄美奥王子有时还不如英国的温莎公爵呢。</font></p>
<p align="center"><font size="2">作者：<a href="mailto:mprs@sohu.com">西窗残烛</a></font></p>
<p align="left"><font size="2">我不认为公主和王子作为战士有多辛苦，虽然平息战争的是他们，但战争是谁带来的呢？无论如何，他们两个是有了好结局，但他们身边的战士没有为自己活过，没有真正属于自己的生活；他们的敌人们，无论是一坏到底，还是变好了的都死光了……<br>
</font></p>
<p align="center"><a href="../index.html">回主页</a></p>
</body></html>
